@model SubscriptionViewModel

<h1 class="govuk-heading-m">Change frequency</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
        <form method="post">
            <div id="email-frequency-input" class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading gem-c-radio__heading-text">How often do you want to get emails?</h1>
                    </legend>
                    <div class="govuk-hint">
                        Select one
                    </div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @(ViewData.ModelState.FirstOrDefault().Value?.Errors.FirstOrDefault()?.ErrorMessage)
                        </p>
                    }
                    <div class="govuk-radios @Html.Conditional(!ViewData.ModelState.IsValid,"govuk-form-group--error")">
                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="frequency" id="radio-a813b9ca-0" value="daily" class="govuk-radios__input" @Html.Conditional(Model.Subscription.Frequency== Frequency.Daily,"checked")>
                            <label for="radio-a813b9ca-0" class="gem-c-label govuk-label govuk-radios__label">Once a day</label>
                        </div>

                        <div class="gem-c-radio govuk-radios__item">
                            <input type="radio" name="frequency" id="radio-a813b9ca-1" value="weekly" class="govuk-radios__input" @Html.Conditional(Model.Subscription.Frequency== Frequency.Weekly,"checked")>
                            <label for="radio-a813b9ca-1" class="gem-c-label govuk-label govuk-radios__label">Once a week</label>
                        </div>

                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input type="radio" name="frequency" id="radio-a813b9ca-3" value="realtime" class="govuk-radios__input" @Html.Conditional(Model.Subscription.Frequency== Frequency.Realtime,"checked")>
                            <label for="radio-a813b9ca-3" class="gem-c-label govuk-label govuk-radios__label">Each time we add or update a page (you may get more than one email a day)</label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit">Continue</button>
                <a class="govuk-link" href="@Url.RouteUrl(SubscriptionsController.Routes.ManageSubscription, new{id= ViewContext.RouteData.Values.GetValueOrDefault("id")})">Cancel</a>
            </div>


            <p class="govuk-body">
                Do you need to <a class="govuk-link" href="#!">unsubscribe from UKMCAB emails</a>?
            </p>
        </form>
    </div>
</div>
