@using UKMCAB.Web.UI.Extensions
@using System.Net
@using UKMCAB.Data
@model SearchViewModel

<div id="search-results-list-column" class="govuk-grid-column-two-thirds govuk-body">

    <div class="search-results-pagination-container search-results-pagination-container-top">
        <partial name="Partials/_Pagination" model="Model.Pagination" />
    </div>

    <div id="search-results-mobile-filters">
        <div id="search-results-filters-link-container">
            <a href="#search-filter-container" id="search-results-filter-toggle" class="govuk-link govuk-link--no-visited-state">Filters (@Model.FilterCount applied)</a>
        </div>
        <div id="search-results-clear-link-container">
            <a id="clear-filters-link" asp-area="Search" asp-controller="Search" asp-action="Index" class="govuk-link govuk-link--no-visited-state">Remove all filters</a>
        </div>
    </div>

    @if (Model.FilterCount > 0)
    {
        var baseFilterPath = Context.Request.RemoveQueryParameters("sort", "pagenumber");
        <div id="search-results-filter-list">
            @foreach (var filterOption in Model.SelectedFilters)
            {
                var filterSection = DataConstants.Lists.BodyTypes.Any(bt => bt.Equals(filterOption, StringComparison.CurrentCultureIgnoreCase)) ? "BodyTypes" :
                DataConstants.Lists.Countries.Any(ct => ct.Equals(filterOption, StringComparison.CurrentCultureIgnoreCase)) ? "RegisteredOfficeLocations" : "LegislativeAreas";
                var fitlerTerm = $"&{filterSection}={WebUtility.UrlEncode(filterOption).Replace("%3A", "%3a")}";
                var filterPath = baseFilterPath.Replace(fitlerTerm, string.Empty);
                <a href="@filterPath" class="search-result-filter-link">@filterOption&nbsp;&nbsp;x</a>
            }
        </div>
    }
    @if (Model.Pagination.Total > 0)
    {
        var baseSortPath = Context.Request.RemoveQueryParameters("sort", "pagenumber");
        baseSortPath += baseSortPath.Contains("?") ? "&sort=" : "?sort=";
        <div id="search-results-sort-container">
            <fieldset>
                <legend>Sort view</legend>
                @foreach (var sortOption in Model.SortOptions)
                {
                    if (string.IsNullOrWhiteSpace(Model.Sort) || Model.Sort.Equals(sortOption.Value, StringComparison.InvariantCultureIgnoreCase))
                    {
                        <label aria-pressed aria-describe="Results sorted by @sortOption.Label">@sortOption.Label</label>
                    }
                    else
                    {
                        <a href="@(baseSortPath + sortOption.Value)" class="govuk-link govuk-link--no-visited-state" aria-sort="@sortOption.AriaSort" aria-describe="Sort results by @sortOption.Label">@sortOption.Label</a>
                    }
                }
            </fieldset>
        </div>
        <div id="search-results-list-container" aria-describe="Results of search of conformity assessment bodies">
            <ul id="search-results-list">
                @foreach (var searchResult in Model.SearchResults)
                {
                    <li class="search-result-list-item">
                        <a asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@searchResult.URLSlug" class="search-result-list-item-arrow" name="@searchResult.Name"><span class="govuk-visually-hidden">More information on @searchResult.Name</span></a>
                        <h3 class="govuk-heading-m search-result-list-item-link"><a asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@searchResult.URLSlug" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">@searchResult.Name</a></h3>
                        <ul class="search-result-list-item-details">
                            <li class="search-result-list-item-detail">Address: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.Address), searchResult.Address, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Body type: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.BodyType), searchResult.BodyType, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Registered office location: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.RegisteredOfficeLocation), searchResult.RegisteredOfficeLocation, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Testing location: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.RegisteredTestLocation), searchResult.RegisteredTestLocation, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Legislative area: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.LegislativeArea), searchResult.LegislativeArea, @Constants.NotProvided)</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <div id="search-no-results-container" aria-describe="Results of search of conformity assessment bodies returned no results">
            <p class="govuk-body"><a name="no-results">There are no matching results.</a></p>
            <p class="govuk-body">Please try:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>removing filters</li>
                <li>double-checking your spelling</li>
                <li>use fewer keywords</li>
                <li>searching for something less specific</li>
            </ul>
        </div>
    }

    <div class="search-results-pagination-container">
        <partial name="Partials/_Pagination" model="Model.Pagination" />
    </div>

</div>