@using UKMCAB.Web.UI.Extensions
@model SearchViewModel

<div id="search-results-list-column" class="govuk-grid-column-two-thirds govuk-body">

    <div class="search-results-pagination-container">
        <partial name="Partials/_SearchPagination" model="Model.Pagination"/>

        <div id="search-results-filters-link-container">
            <a href="#search-filter-container" id="search-results-filter-toggle" class="govuk-link govuk-link--no-visited-state">Filters (@Model.FilterCount applied)</a>
        </div>
    </div>
    @if (Model.Pagination.Total > 0)
    {
        var baseSortPath = Context.Request.RemoveQueryParameters("sort", "pagenumber");
        baseSortPath += baseSortPath.Contains("?") ?  "&sort=" : "?sort=";
        <div id="search-results-sort-container">
            <fieldset>
                <legend>Sort view</legend>
                @foreach (var sortOption in Model.SortOptions)
                {
                    if (Model.Sort.Equals(sortOption.Value, StringComparison.InvariantCultureIgnoreCase))
                    {
                        <label>@sortOption.Key</label>
                    }
                    else
                    {
                        <a href="@(baseSortPath + sortOption.Value)"  class="govuk-link govuk-link--no-visited-state">@sortOption.Key</a>
                    }
                }
            </fieldset>
        </div>
        <div id="search-results-list-container">
            <ul id="search-results-list">
                @foreach (var searchResult in Model.SearchResults)
                {
                    <li class="search-result-list-item">
                        <a asp-area="search" asp-controller="CAB" asp-action="Index" asp-route-id="@searchResult.id" class="search-result-list-item-arrow"><span class="govuk-visually-hidden">More information on @searchResult.Name</span></a>
                        <h3 class="govuk-heading-m search-result-list-item-link"><a asp-area="search" asp-controller="CAB" asp-action="Index" asp-route-id="@searchResult.id" class="govuk-link govuk-link--no-visited-state">@searchResult.Name</a></h3>
                        <ul class="search-result-list-item-details">
                            <li class="search-result-list-item-detail">@searchResult.Address</li>
                            <li class="search-result-list-item-detail">Body type: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.BodyType), searchResult.BodyType, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Registered office location: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.RegisteredOfficeLocation), searchResult.RegisteredOfficeLocation, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Testing location: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.RegisteredTestLocation), searchResult.RegisteredTestLocation, @Constants.NotProvided)</li>
                            <li class="search-result-list-item-detail">Legislative area: @Html.Conditional(!string.IsNullOrWhiteSpace(searchResult.LegislativeArea), searchResult.LegislativeArea, @Constants.NotProvided)</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <div id="search-no-results-container">
            <p class="govuk-body">There are no matching results.</p>
            <p class="govuk-body">Please try:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>removing filters</li>
                <li>double-checking your spelling</li>
                <li>use fewer keywords</li>
                <li>searching for something less specific</li>
            </ul>
        </div>        
    }

    <div class="search-results-pagination-container">
        <partial name="Partials/_SearchPagination" model="Model.Pagination"/>
    </div>
    
    <div id="atom-feed-bottom" class="atom-feed">
        @{
            var basePath = Context.Request.RemoveQueryParameters("sort", "pagenumber").Replace("search", "search-feed");
        }
        <a href="@basePath" class="govuk-link govuk-link--no-visited-state">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="atom-feed__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path>
            </svg>
            Subscribe to feed
        </a>
    </div>

</div>