@using UKMCAB.Core.Security;
@using UKMCAB.Web.UI.Areas.Search.Controllers
@model UKMCAB.Web.UI.Models.ViewModels.Shared.UserNoteViewModel

@{
    var returnUrl = $"{ViewContext.HttpContext.Request.Path}{ViewContext.HttpContext.Request.QueryString}#usernotes";
}

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a href="@Model.ReturnUrl" class="govuk-back-link">Back</a>
            </div>
        </div>
    </div>
}

<h1 class="govuk-heading-l">Government user note</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table ukmcab-table--2-col">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Date and time</th>
                    <td class="govuk-table__cell govuk-!-width-three-quarters">@Model.DateAndTime.ToStringBeisFormat()</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width:30%">User</th>
                    <td class="govuk-table__cell">@Model.UserName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">User group</th>
                    <td class="govuk-table__cell">@Roles.NameFor(Model.UserGroup)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Note</th>
                    <td class="govuk-table__cell">@Model.Note</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@if (Model.IsOPSSOrInCreatorUserGroup)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <govuk-warning-text icon-fallback-text="Warning">It is not possible to recover a note once it has been deleted.</govuk-warning-text>

            <div class="govuk-button-group">
                <a class="govuk-button govuk-button--warning" asp-area="search" asp-controller="UserNote" asp-action="ConfirmDelete"
                   asp-route-cabDocumentId="@Model.CabDocumentId" asp-route-userNoteId="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl" asp-route-backUrl="@returnUrl">Delete</a>
                <a href="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </div>
    </div>
}
