@model UKMCAB.Web.UI.Models.ViewModels.Admin.Notification.NotificationDetailViewModel

@{
    ViewBag.Title = Model.Title!;
}

<govuk-back-link asp-area="Admin" asp-controller="Notification" asp-action="Index"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Subject</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Status
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <p class="govuk-body">@Model.Status</p>
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        From
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        <p class="govuk-body">@Model.From</p>
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                @if (!string.IsNullOrWhiteSpace(Model.Reason))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Reason
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Reason
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Sent on
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.SentOn
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
                @if (Model.IsCompleted)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Completed on
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.CompletedOn
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (Model.IsAssigned)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Last updated
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.LastUpdated
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ViewLink.ViewLinkAddress))
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            View
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link" href="@Model.ViewLink.ViewLinkAddress">@Model.ViewLink.ViewLinkName</a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
                @if (Model.IsCompleted)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Completed by
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.CompletedBy</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            User group
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.UserGroup</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Assigned on
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <p class="govuk-body">@Model.AssignedOn</p>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>

            @if (!Model.IsCompleted)
            {
                if (!Model.IsAssigned)
                {
                    <govuk-select name="SelectedAssignee" select-class="govuk-!-width-one-thirds" label-class="govuk-label--s" asp-for="SelectedAssignee">
                        <govuk-select-label>Select an assignee</govuk-select-label>
                        <govuk-select-hint>The user will be assigned to this notification</govuk-select-hint>
                        <govuk-select-item value="">Select an assignee</govuk-select-item>

                        @foreach (var assignee in Model.SelectAssignee!)
                        {
                            if (assignee.Value == Model.SelectedAssigneeId)
                            {
                                <govuk-select-item value="@assignee.Value" selected>@assignee.Text</govuk-select-item>
                            }
                            else
                            {
                                <govuk-select-item value="@assignee.Value">@assignee.Text</govuk-select-item>
                            }
                        }
                    </govuk-select>
                }
                if (Model.IsAssigned)
                {
                    <govuk-summary-list>
                        <govuk-summary-list-row class="hideBottomBorder">
                            <govuk-summary-list-row-key>
                                Assignee
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                Assigned to
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <govuk-select name="SelectedAssignee" select-class="govuk-!-width-one-thirds" label-class="govuk-visually-hidden" asp-for="SelectedAssignee">
                                    @foreach (var assignee in Model.SelectAssignee!)
                                    {
                                        if (assignee.Value == Model.SelectedAssigneeId)
                                        {
                                            <govuk-select-item value="@assignee.Value" selected>@assignee.Text</govuk-select-item>
                                        }
                                        else
                                        {
                                            <govuk-select-item value="@assignee.Value">@assignee.Text</govuk-select-item>
                                        }
                                    }

                                    <govuk-select-item value="unassign-cab">Original user group</govuk-select-item>
                                </govuk-select>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                User group
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <p class="govuk-body">@Model.UserGroup</p>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                Assigned on
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <p class="govuk-body">@Model.AssignedOn</p>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                }
            }
            @if (!Model.IsCompleted)
            {
                <div class="govuk-button-group">
                    <govuk-button id="search-keyword-button" type="submit">@(Model.IsAssigned ? "Update" : "Assign")</govuk-button>
                    <a asp-area="admin" asp-controller="Notification" asp-action="Index" class="govuk-link">Cancel</a>
                </div>
            }
        </form>
    </div>
</div>