@using UKMCAB.Core.Domain;
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABDetailsViewModel
@{
    var id = this.Url.ActionContext.HttpContext.Request.RouteValues.GetValueOrDefault("id").ToString();
    var cabId = Model.CABId ?? id;
}
@section BackButton
{
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.IsFromSummary && cabId != null)
            {               
                <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@cabId" class="govuk-back-link">Back</a>
            }
            else
            {
                <a asp-area="Admin" asp-controller="CabManagement" asp-action="CABManagement" asp-route-unlockCab="@cabId" class="govuk-back-link">Back</a>
            }
        </div>
    </div>
</div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">@Model.Title</span>
        <h1 class="govuk-heading-l">@Constants.Heading.CabDetails</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="cabdetailsform" method="post" novalidate>
            <input type="hidden" asp-for="IsFromSummary"/>
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Name))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Name">
                            CAB name
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Name" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Name" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Name))" autocomplete="name" aria-required="true"/>
                </div>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.CABNumber))">
                    <h3 class="govuk-label-wrapper">
                        <label class=" govuk-label govuk-label--s" asp-for="CABNumber">
                            CAB number
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="CABNumber" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="CABNumber" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.CABNumber))" autocomplete="cabnumber" aria-required="true" disabled="@Model.IsCabNumberDisabled" />
                
                    @if (Model.IsCabNumberDisabled)
                    {
                        <p class="govuk-body-s govuk-!-margin-top-1">CAB number assigned on approval</p>
                    }

                </div>

                @if (Model.IsOPSSUser)
                {
                    <div class="govuk-form-group">
                        <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" asp-for="CabNumberVisibility">Who should see the CAB number?</label>
                        </h3>
                        <p class="govuk-error-message">
                            <span asp-validation-for="CabNumberVisibility" class="govuk-error-message"></span>
                        </p>
                        <select class="govuk-select" asp-for="CabNumberVisibility" asp-items="new SelectList(CabNumberVisibility.Options, nameof(CabNumberVisibilityOption.Id), nameof(CabNumberVisibilityOption.Label))"></select>
                    </div>
                }

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.AppointmentDate))">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="appointment-date-hint">
                        <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" asp-for="AppointmentDate" id="AppointmentDate">
                                Appointment date (optional)
                            </label>
                        </h3>
                        <p class="govuk-error-message">
                            <span asp-validation-for="AppointmentDate" class="govuk-error-message"></span>
                        </p>
                        <div id="appointment-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="appointment-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateDay))" asp-for="AppointmentDateDay" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateMonth))" asp-for="AppointmentDateMonth" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateYear))" asp-for="AppointmentDateYear" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.ReviewDate))">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="review-date-hint">
                        <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" asp-for="ReviewDate">
                                Review date (optional)
                            </label>
                        </h3>
                        <p class="govuk-error-message">
                            <span asp-validation-for="ReviewDate" class="govuk-error-message"></span>
                        </p>
                        <div id="review-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="review-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="ReviewDateDay" id="ReviewDate">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.ReviewDateDay))" asp-for="ReviewDateDay" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="ReviewDateMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.ReviewDateMonth))" asp-for="ReviewDateMonth" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="ReviewDateYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.ReviewDateYear))" asp-for="ReviewDateYear" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                        <div id="add-18-button">
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Add18">
                                Add suggested review date
                            </button>
                        </div>
                    </fieldset>
                </div>
                
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.UKASReference))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="UKASReference">
                            UKAS reference (optional)
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="UKASReference" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="UKASReference" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.UKASReference))" autocomplete="ukasreference" aria-required="true" />
                </div>
                
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue">
                        Continue
                    </button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Save">
                        Save as draft
                    </button>
                    @if (Model.IsFromSummary)
                    {
                        <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@cabId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }                   
                    else
                    {
                        <a asp-area="Admin" asp-controller="CabManagement" asp-action="CABManagement" asp-route-unlockCab="@cabId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                </div>
            </fieldset>
        </form>
    </div>
</div>
