@using UKMCAB.Data.Models
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CABDetailsViewModel
@section BackButton
{
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.IsFromSummary)
            {
                <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
            }
            else
            {
                <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="govuk-back-link">Back</a>
            }
        </div>
    </div>
</div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Create a CAB</span>
        <h1 class="govuk-heading-l">About</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="cabdetailsform" method="post" novalidate>
            <input type="hidden" asp-for="IsFromSummary"/>
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Name))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Name">
                            CAB name
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Name" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Name" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Name))" autocomplete="name" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.CABNumber))">
                    <h3 class="govuk-label-wrapper">
                        <label class=" govuk-label govuk-label--s" asp-for="CABNumber">
                            CAB number
                        </label>
                    </h3>
                    <p class="govuk-error-message">
                        <span asp-validation-for="CABNumber" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="CABNumber" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.CABNumber))" autocomplete="cabnumber" aria-required="true"/>
                </div>
                
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.AppointmentDate))">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="appointment-date-hint">
                        <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" asp-for="AppointmentDate" id="AppointmentDate">
                                Appointment date (optional)
                            </label>
                        </h3>
                        <p class="govuk-error-message">
                            <span asp-validation-for="AppointmentDate" class="govuk-error-message"></span>
                        </p>
                        <div id="appointment-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="appointment-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateDay))" asp-for="AppointmentDateDay" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateMonth))" asp-for="AppointmentDateMonth" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="AppointmentDateYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.AppointmentDateYear))" asp-for="AppointmentDateYear" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.RenewalDate))">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="renewal-date-hint">
                        <h3 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--s" asp-for="UKASReference">
                                Renewal date (optional)
                            </label>
                        </h3>
                        <p class="govuk-error-message">
                            <span asp-validation-for="RenewalDate" class="govuk-error-message"></span>
                        </p>
                        <div id="renewal-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="renewal-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="RenewalDateDay" id="RenewalDate">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.RenewalDateDay))" asp-for="RenewalDateDay" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="RenewalDateMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.RenewalDateMonth))" asp-for="RenewalDateMonth" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="RenewalDateYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.RenewalDateYear))" asp-for="RenewalDateYear" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <div class="govuk-form-group">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="UKASReference">
                            UKAS reference (optional)
                        </label>
                    </h3>
                    <input asp-for="UKASReference" class="govuk-input" autocomplete="ukasreference" aria-required="true"/>
                </div>
                
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue">
                        Continue
                    </button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Save">
                        Save as draft
                    </button>
                    @if (Model.IsFromSummary && Model.DocumentStatus != Status.Created)
                    {
                        <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                    else if(string.IsNullOrWhiteSpace(Model.CABId))
                    {
                        <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                    else
                    {
                        <a asp-area="Admin" asp-controller="CAB" asp-action="Cancel" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                </div>
            </fieldset>
        </form>
    </div>
</div>
