@using System.Net
@using Humanizer
@using UKMCAB.Core.Domain;
@using UKMCAB.Core.Security;
@using UKMCAB.Data.Models
@using UKMCAB.Data
@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABSummaryViewModel

@section BackButton
    {
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (string.IsNullOrWhiteSpace(Model.ReturnUrl))
                {
                    if (User.Identity.IsAuthenticated && User.HasClaim(Claims.CabManagement))
                    {
                        <govuk-back-link asp-route-unlockCab="@Model.CABId" asp-route="@CabManagementController.Routes.CABManagement" />
                    }
                    else
                    {
                        <govuk-back-link asp-route="@ServiceManagementController.Routes.ServiceManagement" />
                    }
                }
                else
                {
                    <govuk-back-link href="@Model.ReturnUrl&unlockCab=@Model.CABId">Back to @(Model.ReturnUrl.Contains("notifications") ? "request" : "search results")</govuk-back-link>
                }
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.SuccessBannerMessage))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-notification-banner type="Success" class="govuk-!-margin-bottom-5">
                <p class="govuk-notification-banner__heading govuk-!-font-size-19">
                    @Model.SuccessBannerMessage
                </p>
            </govuk-notification-banner>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.BannerContent))
{
    <partial model="@Model.BannerContent" name="Partials/_PageContentBanner" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-m ukmcab-padding-bottom-10">@Model.TitleHint</span>
        @if (Model.ShowOgdActions)
        {
            <h1 class="govuk-heading-l">Check details before approving or declining</h1>
        }
        else
        {
            <h1 class="govuk-heading-l">@Model.CabDetailsViewModel.Name</h1>
        }
    </div>

    <div class="govuk-grid-column-full desktop-no-display">
        <div class="cab-detail-date-meta">
            @if (Model.PublishedDate.HasValue)
            {
                <span class="govuk-caption-m govuk-!-display-block govuk-!-margin-right-5">
                    Published: @Model.PublishedDate.ToStringBeisDateFormat()
                </span>
            }
            <span class="govuk-caption-m govuk-!-display-block govuk-!-margin-right-5 govuk-!-margin-top-5">
                Last updated: @Model.LastModifiedDate.ToStringBeisDateFormat()
            </span>
            <div>
                <span class="govuk-caption-m govuk-!-display-block govuk-!-margin-top-5">
                    Status: <strong class="cab-status-tag @Model.StatusCssStyle">@Model.Status</strong>
                </span>
                @if (Model.ShowSubstatusName)
                {
                    <span class="govuk-caption-m govuk-!-display-block govuk-!-margin-top-7">
                        <strong class="cab-status-tag cab-status-tag--pending-approval govuk-tag--yellow">@Model.SubStatusName</strong>
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-!-margin-right-3">
            @if (Model.ShowEditButton)
            {
                <div class="ukmcab-full-width--mobile ukmcab-float__right ukmcab-text-align-right ukmcab-padding-top-30">
                    <a class="govuk-button govuk-button--secondary" asp-route="@CABController.Routes.CabSummary" asp-route-id="@Model.CABId" asp-route-revealEditActions="@true" asp-route-returnUrl="@Model.ReturnUrl">
                        Edit
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full ukmcab-padding-bottom-10 mobile-no-display">
        <div class="cab-detail-date-meta">
            @if (Model.PublishedDate.HasValue)
            {
                <span class="govuk-caption-m govuk-!-display-inline-block govuk-!-margin-right-5">Published: @Model.PublishedDate.Value.ToStringBeisDateFormat()</span>
            }
            <span class="govuk-caption-m govuk-!-display-inline-block govuk-!-margin-right-5">Last updated: @Model.LastModifiedDate.ToStringBeisDateFormat()</span>
            <span class="govuk-caption-m govuk-!-display-inline-block govuk-!-margin-top-5">Status: <strong class="cab-status-tag @Model.StatusCssStyle">@Model.Status</strong></span>
            @if (Model.ShowSubstatusName)
            {
                <span class="govuk-caption-m govuk-!-display-inline-block">
                    <strong class="cab-status-tag cab-status-tag--pending-approval govuk-tag--yellow">@Model.SubStatusName</strong>
                </span>
            }
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <fieldset class="govuk-fieldset cab-summary-header-list">
            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">@Constants.Heading.CabDetails</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction)
                            {
                                <a asp-area="Admin" asp-controller="CAB" asp-action="About" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            }
                            @if (Model.CabDetailsViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="Partials/_Details" model="@Model.CabDetailsViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">Contact details</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction)
                            {
                                <a asp-area="Admin" asp-controller="CAB" asp-action="Contact" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            }
                            @if (Model.CabContactViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="Partials/_ContactDetails" model="@Model.CabContactViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">Body details</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction)
                            {
                                <a asp-area="Admin" asp-controller="CAB" asp-action="BodyDetails" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            }
                            @if (Model.CabBodyDetailsViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="Partials/_BodyDetails" model="@Model.CabBodyDetailsViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">Legislative areas</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction || Model.ShowOgdActions)
                            {
                                <a asp-area="Admin" asp-controller="LegislativeAreaReview" asp-action="ReviewLegislativeAreas" asp-route-id="@Model.CABId" asp-route-returnUrl="@Model.ReturnUrl"
                                   asp-route-fromSummary="true" class="govuk-link govuk-link--no-visited-state">
                                    Edit
                                </a>
                            }
                            @if (Model.CabLegislativeAreasViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="Partials/_LegislativeAreas" model="@Model.CabLegislativeAreasViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header  govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">Product schedules</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction || Model.ShowOgdActions)
                            {
                                <a asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            }
                            @if (Model.CABProductScheduleDetailsViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                @if (Model.ShowProductSchedulesWarning)
                {
                    <p class="govuk-body govuk-!-margin-top-6">Product schedules supplied by UKAS are the active schedules at the time of appointment.</p>
                }
                <partial name="Partials/_ProductSchedules" model="@Model.CABProductScheduleDetailsViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list ukmcab-padding-top-40">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header govuk-!-padding-top-5">
                                <h3 class="govuk-heading-l">Supporting documents</h3>
                            </div>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.ShowSubSectionEditAction || Model.ShowOgdActions)
                            {
                                <a asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                            }
                            @if (Model.CABSupportingDocumentDetailsViewModel.IsCompleted)
                            {
                                <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                                    COMPLETED
                                </div>
                            }
                            else
                            {
                                <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                                    NOT COMPLETED
                                </div>
                            }
                        </dd>
                    </div>
                </dl>
                <partial name="Partials/_SupportingDocuments" model="@Model.CABSupportingDocumentDetailsViewModel" />
            </div>

            <div class="govuk-!-padding-top-1">
                @if (User.Identity.IsAuthenticated && User.HasClaim(Claims.CabGovernmentUserNotes))
                {
                    <dl class="govuk-summary-list cab-summary-list">
                        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                            <dt class="govuk-summary-list__key">
                                <div class="cab-summary-header  govuk-!-padding-top-5 ukmcab-float__unset">
                                    <h3 class="govuk-heading-l">Government user notes</h3>
                                </div>
                            </dt>
                        </div>
                    </dl>
                    <partial name="Partials/_GovernmentUserNotes" model="@Model.CABGovernmentUserNotesViewModel" />
                }
            </div>

            <div class="govuk-!-padding-top-1">
                <dl class="govuk-summary-list cab-summary-list">
                    <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                        <dt class="govuk-summary-list__key">
                            <div class="cab-summary-header  govuk-!-padding-top-5 ukmcab-float__unset">
                                <h3 class="govuk-heading-l">History</h3>
                            </div>
                        </dt>
                    </div>
                </dl>
                <partial name="Partials/_History" model="@Model.CABHistoryViewModel" />
            </div>

            <form method="post">
                @if (Model.ShowApproveToPublishButton || Model.ShowPublishButton)
                {
                    <div class="govuk-!-padding-top-1 govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.SelectedPublishType))">
                        <dl class="govuk-summary-list cab-summary-list">
                        </dl>
                        <partial name="Partials/_PublishType" model="@Model.CABPublishTypeViewModel" />
                    </div>
                }

                @if (Model.ShowProfileVisibilityWarning)
                {
                    <div class="govuk-warning-text govuk-!-margin-top-5">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            <text>Everyone can see a CAB profile when it is published.</text>
                        </strong>
                    </div>
                }
                else if (Model.ShowMandatoryInfoWarning)
                {
                    <div class="govuk-warning-text govuk-!-margin-top-5">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            <text>Provide all mandatory information before you are able to publish this record.</text>
                        </strong>
                    </div>
                }

                @if (!Model.HasActiveLAs)
                {
                    <govuk-warning-text icon-fallback-text="Warning" class="govuk-!-margin-top-5">
                        This CAB profile will only become publishable when an active legislative area is added.
                    </govuk-warning-text>
                }

                @if (Model.ShowReviewButton)
                {
                    <govuk-warning-text icon-fallback-text="Warning" class="govuk-!-margin-top-5">
                        @($"You have {Model.LegislativeAreasPendingApprovalForCurrentUserCount.ToWords()} legislative area{(Model.LegislativeAreasPendingApprovalForCurrentUserCount > 1 ? "s" : null)} to approve or decline.")
                    </govuk-warning-text>
                    <div class="govuk-button-group govuk-!-margin-top-5">
                        <govuk-button-link id="reviewLa" asp-route="@LegislativeAreaApproveController.Routes.LegislativeAreaApprovalList" asp-route-id="@Model.CABId" asp-route-returnUrl="@WebUtility.UrlEncode(Model.ReturnUrl)" class="@(Model.ShowPublishButton ? "govuk-button--secondary" : "")">
                            Review
                        </govuk-button-link>
                        @if (!Model.ShowApproveToPublishButton)
                        {
                            <a href="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                        }
                    </div>
                }

                <div class="govuk-!-margin-top-5">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CABId" />
                    <input type="hidden" asp-for="FromCabProfilePage" />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <input type="hidden" asp-for="IsOpssAdmin" />
                    @if (Model.ShowApproveToPublishButton)
                    {
                        <div>
                            <govuk-warning-text icon-fallback-text="Warning" class="govuk-!-margin-top-5">
                                Only legislative areas that have been reviewed and approved will be published.
                            </govuk-warning-text>
                        </div>
                    }
                    <div class="govuk-button-group">
                        @if (Model.ShowPublishButton)
                        {
                            <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue" @(!Model.ValidCAB ? "disabled" : string.Empty)>
                                Publish
                            </button>
                        }
                        else if (Model.ShowApproveToPublishButton)
                        {
                            <button id="approveCab" class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Approve">
                                Publish
                            </button>
                        }

                        @if (Model.ShowDeclineButton)
                        {
                            <govuk-button-link id="declineCab" class="govuk-button--secondary" asp-area="admin" asp-controller="cab" asp-action="decline" asp-route-id="@Model.CABId">
                                Decline
                            </govuk-button-link>
                        }
                        @if (Model.ShowSubmitForApprovalButton)
                        {
                            <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.SubmitForApproval" @(!Model.CanSubmitForApproval ? "disabled" : string.Empty)>
                                Submit for approval
                            </button>
                        }

                        @if (Model.ShowSaveAsDraftButton)
                        {
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Save">
                                Save as draft
                            </button>
                        }

                        @if (Model.ShowDeleteDraftButton)
                        {
                            <govuk-button-link class="govuk-button--warning" asp-area="admin" asp-controller="cab" asp-action="delete" asp-route-id="@Model.CABId">
                                Delete draft
                            </govuk-button-link>
                        }
                        @if (Model.ShowApproveToPublishButton)
                        {
                            <a asp-area="admin" asp-controller="CabManagement" asp-action="CABManagement" class="govuk-link govuk-link--no-visited-state">
                                Cancel
                            </a>
                        }
                        else if (Model.ShowCancelPublishButton)
                        {
                            @if (string.IsNullOrWhiteSpace(Model.ReturnUrl) && Model.CabDetailsViewModel.DocumentStatus != Status.Published)
                            {
                                <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" asp-route-revealEditActions="@false" class="govuk-link govuk-link--no-visited-state">
                                    Cancel
                                </a>
                            }
                            else if (string.IsNullOrWhiteSpace(Model.ReturnUrl))
                            {
                                <a asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CABId" asp-route-unlockCab="@Model.CABId" class="govuk-link govuk-link--no-visited-state">
                                    Cancel
                                </a>
                            }
                            else
                            {
                                <a href="@Model.ReturnUrl&unlockCab=@Model.CABId" class="govuk-link govuk-link--no-visited-state">
                                    Cancel
                                </a>
                            }
                        }
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>