@using UKMCAB.Core.Security
@using UKMCAB.Web.UI.Extensions
@using UKMCAB.Data.Models
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB;
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABManagementViewModel
@{
    var returnUrl = this.Url.ActionContext.HttpContext.Request.GetRequestUri().PathAndQuery;
}

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-controller="ServiceManagement" asp-action="ServiceManagement" />
            </div>
        </div>
    </div>
}

@if (TempData[Constants.TempDraftKeyLine1] != null)
{
    <div class="govuk-notification-banner govuk-grid-row" role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__content justify-content--center">
            <p class="govuk-notification-banner__heading">
                @TempData[Constants.TempDraftKeyLine1].ToString()
                @if (TempData[Constants.TempDraftKeyLine2] != null)
                {
                    <br />
                    @TempData[Constants.TempDraftKeyLine2].ToString()
                }
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="desktop display-flex-space-between">
            <h1 class="govuk-heading-l">@Model.Title</h1>

            @if (User.HasClaim(Claims.CabCreateDraft, string.Empty))
            {
                <div id="cab-management-create-container" class="">
                    <a class="govuk-button" asp-route="@CABController.Routes.CreateNewCab" data-module="govuk-button">
                        Create a CAB
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-body govuk-grid-column-full">
        <div class="govuk-tabs">
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item @Html.Conditional(Model.TabName == CabManagementController.TabNames.All, "govuk-tabs__list-item--selected")">
                    <a id="@CabManagementController.TabNames.All" asp-route="@CabManagementController.Routes.CABManagement" asp-route-tabName="@CabManagementController.TabNames.All" asp-route-tabNav="true" class="govuk-tabs__tab">All (@Model.AllCount)</a>
                </li>
                <li class="govuk-tabs__list-item @Html.Conditional(Model.TabName == CabManagementController.TabNames.Draft, "govuk-tabs__list-item--selected")">
                    <a id="@CabManagementController.TabNames.Draft" asp-route="@CabManagementController.Routes.CABManagement" asp-route-tabName="@CabManagementController.TabNames.Draft" asp-route-tabNav="true" class="govuk-tabs__tab">Draft (@Model.DraftCount)</a>
                </li>
                <li class="govuk-tabs__list-item @Html.Conditional(Model.TabName == CabManagementController.TabNames.PendingDraft, "govuk-tabs__list-item--selected")">
                    <a id="@CabManagementController.TabNames.PendingDraft" asp-route="@CabManagementController.Routes.CABManagement" asp-route-tabName="@CabManagementController.TabNames.PendingDraft" asp-route-tabNav="true" class="govuk-tabs__tab">Pending draft (@Model.PendingDraftCount)</a>
                </li>
                <li class="govuk-tabs__list-item @Html.Conditional(Model.TabName == CabManagementController.TabNames.PendingPublish, "govuk-tabs__list-item--selected")">
                    <a id="@CabManagementController.TabNames.PendingPublish" asp-route="@CabManagementController.Routes.CABManagement" asp-route-tabName="@CabManagementController.TabNames.PendingPublish" asp-route-tabNav="true" class="govuk-tabs__tab">Pending publish (@Model.PendingPublishCount)</a>
                </li>
                <li class="govuk-tabs__list-item @Html.Conditional(Model.TabName == CabManagementController.TabNames.PendingArchive, "govuk-tabs__list-item--selected")">
                    <a id="@CabManagementController.TabNames.PendingArchive" asp-route="@CabManagementController.Routes.CABManagement" asp-route-tabName="@CabManagementController.TabNames.PendingArchive" asp-route-tabNav="true" class="govuk-tabs__tab">Pending archive (@Model.PendingArchiveCount)</a>
                </li>
            </ul>

            <div id="sort-form-group">
                <form method="get" id="sortForm" class="desktop-no-display">
                    <div id="mobile-sort" class="govuk-form-group">
                        <label class="govuk-label" asp-for="@Model.SortField">
                            Sort by
                        </label>
                        <select class="govuk-select sort-option" asp-for="@Model.SortField" name="sf" id="sortOption">
                            <option value="@nameof(CABManagementItemViewModel.Name)">CAB name</option>
                            @if (Model.RoleId == Roles.UKAS.Id)
                            {
                                <option value="@nameof(CABManagementItemViewModel.UKASReference)">UKAS reference</option>
                            }
                            else
                            {
                                <option value="@nameof(CABManagementItemViewModel.CABNumber)">CAB number</option>
                            }
                            <option value="@nameof(CABManagementItemViewModel.CABNumber)">CAB number</option>
                            <option value="@nameof(CABManagementItemViewModel.LastUpdated)">Last updated</option>
                            <option value="@nameof(CABManagementItemViewModel.SubStatus)">Status</option>
                        </select>
                        <input type="hidden" name="sd" id="sortDirection" value="@Model.SortDirection" />
                    </div>
                </form>
            </div>

            <div class="govuk-tabs__panel">
                <partial name="_CabsTable" />
            </div>
        </div>
    </div>
</div>