@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.DesignatedStandardViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Edit a CAB</span>
        <h1 class="govuk-heading-l">Legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="poaForm" method="post">
            <h2 class="govuk-heading-s">Legislative area</h2>
            <p class="govuk-body">@Model.LegislativeArea</p>
            <input type="hidden" asp-for="IsFromSummary" />
            <input type="hidden" asp-for="@Model.LegislativeArea"/>
            <input type="hidden" asp-for="@Model.LegislativeAreaId"/>
            <input type="hidden" asp-for="@Model.ScopeId" value="@Model.ScopeId"/>

            <govuk-checkboxes asp-for="SelectedDesignatedStandardIds">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--l">
                        Designated Standards
                    </govuk-checkboxes-fieldset-legend>

                    @foreach (var ds in Model.DesignatedStandards!)
                    {
                        <govuk-checkboxes-item value="@ds.Value" checked="@ds.Selected">
                            @ds.Text
                        </govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Continue">Continue to next step</govuk-button>
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="summary" asp-route-id="@Model.CabId">Cancel</a>
            </div>
        </form>
    </div>
</div>