@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.LegislativeAreaViewModel 

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" />
            </div>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Create a CAB</span>
        <h1 class="govuk-heading-l">Legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="legislativeForm" method="post" novalidate>
            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.SelectedLegislativeAreaId))">
                <govuk-radios asp-for="SelectedLegislativeAreaId">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-label--s">
                            Legislative area
                        </govuk-radios-fieldset-legend>
                        @foreach (var legislativearea in Model.LegislativeAreas)
                        {
                            <govuk-radios-item value="@legislativearea.Value">@legislativearea.Text</govuk-radios-item>
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>
            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Continue">Continue to next step</govuk-button>
            </div>
            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.AdditionalInfo">Go to additional information</govuk-button>
                <govuk-button name="submitType" class="govuk-button--secondary" type="submit" value="@Constants.SubmitType.Save">Save as draft</govuk-button>
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="summary" asp-route-id="@Model.CABId" asp-route-returnUrl="@Model.ReturnUrl">Cancel</a>
            </div>
        </form>
    </div>


</div>