@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.ProcedureViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">@Model.SubTitle</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="legislativeForm" method="post" novalidate>
            <input type="hidden" asp-for="IsFromSummary" />
            <input type="hidden" asp-for="LegislativeArea" />
            <input type="hidden" asp-for="LegislativeAreaId" />
            <input type="hidden" asp-for="PurposeOfAppointment"/>
            <input type="hidden" asp-for="Category"/>
            <input type="hidden" asp-for="SubCategory"/>
            <input type="hidden" asp-for="Product"/>
            <input type="hidden" asp-for="AreaOfCompetency"/>
            <input type="hidden" asp-for="CurrentProductId"/>
            <input type="hidden" asp-for="CurrentCategoryId" />
            <input type="hidden" asp-for="CurrentPpeProductTypeId" />
            <input type="hidden" asp-for="CurrentProtectionAgainstRiskId" />
            <input type="hidden" asp-for="CurrentAreaOfCompetencyId" />
            <input type="hidden" asp-for="IndexOfProduct"/>
            <h2 class="govuk-heading-s">Legislative area</h2>
            <p class="govuk-body">@Model.LegislativeArea</p>
            @if (Model.PurposeOfAppointment != null)
            {
                <h2 class="govuk-heading-s">Purpose of appointment</h2>
                <p class="govuk-body">@Model.PurposeOfAppointment</p>
            }
            @if (Model.Category != null)
            {
                <h2 class="govuk-heading-s">Product category</h2>
                <p class="govuk-body">@Model.Category</p>
            }
            @if (Model.SubCategory != null)
            {
                <h2 class="govuk-heading-s">Product sub category</h2>
                <p class="govuk-body">@Model.SubCategory</p>
            }
            @if (Model.Product != null)
            {
                <h2 class="govuk-heading-s">Product</h2>
                <p class="govuk-body">@Model.Product</p>
            }
            @if (Model.PpeCategory != null)
            {
                <h2 class="govuk-heading-s">PPE category</h2>
                <p class="govuk-body">@Model.PpeCategory</p>
            }
            @if (Model.PpeProductType != null)
            {
                <h2 class="govuk-heading-s">PPE product type</h2>
                <p class="govuk-body">@Model.PpeProductType</p>
            }
            @if (Model.ProtectionAgainstRisk != null)
            {
                <h2 class="govuk-heading-s">Protection against risk</h2>
                <p class="govuk-body">@Model.ProtectionAgainstRisk</p>
            }
            @if (Model.AreaOfCompetency != null)
            {
                <h2 class="govuk-heading-s">Area of competency</h2>
                <p class="govuk-body">@Model.AreaOfCompetency</p>
            }

            <govuk-checkboxes asp-for="SelectedProcedureIds">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s">
                        Applicable conformity assessment procedure
                    </govuk-checkboxes-fieldset-legend>

                    <govuk-checkboxes-hint>
                        Select all that apply
                    </govuk-checkboxes-hint>
                    @foreach (var item in Model.Procedures)
                    {
                        <govuk-checkboxes-item value="@item.Value" checked="@item.Selected">@item.Text</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
              @if (Model.IsLastAction)
            {
                <div class="govuk-button-group">
                    <govuk-button class="govuk-button--secondary" name="submitType" type="submit" value="@Constants.SubmitType.Add">Add more to this legislative area</govuk-button>
                </div>
            }
            <div class="govuk-button-group">
                @if(Model.IsLastAction){
                        <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Continue">Continue to next step</govuk-button>
                }
                else
                {
                        <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Continue">Add procedures for next product</govuk-button>
                }
                
                <govuk-button class="govuk-button--secondary" name="submitType" type="submit" value="@Constants.SubmitType.Save">Save as draft</govuk-button>
            </div>
            <div class="govuk-button-group">
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="summary" asp-route-id="@Model.CABId" asp-route-returnUrl="@Model.ReturnUrl">Cancel</a>
            </div>
        </form>
    </div>
</div>