@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.ProductViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Create a CAB</span>
        <h1 class="govuk-heading-l">Legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="legislativeForm" method="post" novalidate>
            <input type="hidden" asp-for="LegislativeArea"/>
            <input type="hidden" asp-for="PurposeOfAppointment"/>
            <input type="hidden" asp-for="Category"/>
            <input type="hidden" asp-for="SubCategory"/>
            <h2 class="govuk-heading-s">Legislative Area</h2>
            <p class="govuk-body">@Model.LegislativeArea</p>
            @if (Model.PurposeOfAppointment != null)
            {
                <h2 class="govuk-heading-s">Purpose of appointment</h2>
                <p class="govuk-body">@Model.PurposeOfAppointment</p>
            }
            @if (Model.Category != null)
            {
                <h2 class="govuk-heading-s">Product category</h2>
                <p class="govuk-body">@Model.Category</p>
            }
            @if (Model.SubCategory != null)
            {
                <h2 class="govuk-heading-s">Product sub category</h2>
                <p class="govuk-body">@Model.SubCategory</p>
            }
            <govuk-checkboxes asp-for="SelectedProductIds">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--s">
                        Product
                    </govuk-checkboxes-fieldset-legend>

                    <govuk-checkboxes-hint>
                        Select all that apply
                    </govuk-checkboxes-hint>
                    @foreach (var item in Model.Products)
                    {
                        <govuk-checkboxes-item value="@item.Value">@item.Text</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>
            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Continue">Continue to next step</govuk-button>
            </div>
            <div class="govuk-button-group">
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="summary" asp-route-id="@Model.CABId" asp-route-returnUrl="@Model.ReturnUrl">Cancel</a>
            </div>
        </form>
    </div>


</div>