@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Enums
@using UKMCAB.Data
@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.LegislativeAreaApproveViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds ukmcab-padding-bottom-20">
                <govuk-back-link asp-area="admin" asp-controller="LegislativeAreaApprove" asp-action="approvallist" asp-route-id="@Model.CabId" />                
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Edit a CAB</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">       
        <form id="legislativeForm" method="post" novalidate>
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="CabId" />
            <input type="hidden" asp-for="ReviewActionEnum" />
            <h2 class="govuk-heading-s">You have selected: </h2>
            <p class="govuk-body">@Model.LegislativeArea.Name</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    @if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Add)
                    {
                        @:Approving this legislative area will approve the details shown below.
                    }
                    else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Remove)
                    {
                        @:Removing this legislative area will remove the details shown below.
                    }
                    else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.ArchiveAndArchiveSchedule || Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.ArchiveAndRemoveSchedule)
                    {
                        @:Archiving this legislative area will archive the details shown below.
                    }
                    else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Unarchive)
                    {
                        @:Unarchiving this legislative area will unarchive the details shown below.
                    }
                </strong>
            </div>
            <partial name="~/Areas/Admin/views/CAB/LegislativeArea/Partials/_Summary.cshtml" model="Model.LegislativeArea" />
            @if (Model.ProductSchedules.Any())
            {
                <div class="govuk-warning-text govuk-!-margin-top-4">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        @if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Add)
                        {
                            @:Approving this legislative area will approve the product schedules associated with it.
                        }
                        else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Remove)
                        {
                            @:The product schedules below are linked to this legislative area and will be removed.
                        }
                        else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.ArchiveAndArchiveSchedule)
                        {
                            @:The product schedules below are linked to this legislative area and will be archived.
                        }
                        else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.ArchiveAndRemoveSchedule)
                        {
                            @:The product schedules below are linked to this legislative area and will be removed.
                        }
                        else if (Model.ReviewActionEnum == LegislativeAreaReviewActionEnum.Unarchive)
                        {
                            @:Unarchiving the legislative area will unarchive the product schedules associated with it.
                        }
                    </strong>
                </div>
                <table class="govuk-table ukmcab-table govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">Filename</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var productSchedule in Model.ProductSchedules)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Title</label>
                                    @productSchedule.Label
                                </td>
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Filename</label>
                                    <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CabId" asp-route-file="@productSchedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@productSchedule.Label</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (!string.IsNullOrEmpty(Model.LegislativeArea.RequestReason))
            {
                <div class="govuk-!-margin-top-4">
                    <h2 class="govuk-heading-s">Request reason</h2>
                    <p class="govuk-body">@Model.LegislativeArea.RequestReason</p>
                    <hr class="govuk-section-break govuk-section-break--visible">
                </div>
            }
            <div class="govuk-!-margin-top-4">
                <govuk-radios asp-for="LegislativeAreaApproveActionEnum">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-label--s">
                            Select an option 
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@LegislativeAreaApproveActionEnum.Approve">Approve</govuk-radios-item>
                        <govuk-radios-item value="@LegislativeAreaApproveActionEnum.Decline">Decline</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>            
            <div class="govuk-button-group govuk-!-margin-top-4">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Confirm">Confirm</govuk-button>
                <a asp-area="Admin" asp-route="@LegislativeAreaApproveController.Routes.LegislativeAreaApprovalList" asp-route-id="@Model.CabId" class="govuk-link govuk-link--no-visited-state">Cancel</a>                       
            </div>
        </form>
    </div>
</div>
