@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Enums
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeAreaRemoveViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds ukmcab-padding-bottom-20">
                <govuk-back-link asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CabId" />
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Edit a CAB</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">       
        <form id="legislativeForm" method="post" novalidate>
            <input type="hidden" asp-for="FromSummary" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="CabId" />
            <input type="hidden" asp-for="LegislativeAreaRemoveAction" />

            <h2 class="govuk-heading-s">You have selected: </h2>
            <p class="govuk-body">@Model.LegislativeArea.Name</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    @if (Model.LegislativeAreaRemoveAction == RemoveActionEnum.Remove)
                    {
                        @:Removing this legislative area will remove the details shown below.
                    }else
                    {
                        @:Archiving this legislative area will archive the details shown below.
                    }
                </strong>
            </div>
            <partial name="~/Areas/Admin/views/CAB/LegislativeArea/Partials/_Summary.cshtml" model="Model.LegislativeArea" />            
            <div class="govuk-button-group govuk-!-margin-top-4">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Confirm">Confirm</govuk-button>
                <a asp-area="Admin" asp-controller="LegislativeAreaReview" asp-action="ReviewLegislativeAreas" asp-route-id="@Model.CabId" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
