@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Enums
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeAreaRemoveViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds ukmcab-padding-bottom-20">
                <govuk-back-link asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CabId" />
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Remove legislative area</span>
        <h1 class="govuk-heading-l">Remove legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">       
        <form id="legislativeForm" method="post" novalidate>
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="CabId" />
            <h2 class="govuk-heading-s">You have selected: </h2>
            <p class="govuk-body">@Model.LegislativeArea.Name</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Removing this legislative area will also remove the details shown below.
                </strong>
            </div>
            <partial name="~/Areas/Admin/views/CAB/LegislativeArea/Partials/_Summary.cshtml" model="Model.LegislativeArea" />
            @if (Model.ProductSchedules.Any())
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Removing this legislative area will also remove the link to all product schedules connected to it.
                    </strong>
                </div>
                <table class="govuk-table ukmcab-table govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">Filename</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var productSchedule in Model.ProductSchedules)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Title</label>
                                    @productSchedule.Label
                                </td>
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Filename</label>
                                    <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CabId" asp-route-file="@productSchedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@productSchedule.Label</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="govuk-!-margin-top-4">
                <govuk-radios asp-for="RemoveAction">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-label--s">
                            Select an option
                        </govuk-radios-fieldset-legend>
                        <govuk-radios-item value="@RemoveActionEnum.Remove">Remove</govuk-radios-item>
                        @if (Model.ShowArchiveOption)
                        {
                            <govuk-radios-item value="@RemoveActionEnum.Archive">Archive</govuk-radios-item>
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>
            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Confirm">Confirm</govuk-button>
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="summary" asp-route-id="@Model.CabId" asp-route-returnUrl="@Model.ReturnUrl">Cancel</a>
            </div>
        </form>
    </div>
</div>
