@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Enums
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.Review.ReviewLegislativeAreasViewModel
@{
    var id = this.Url.ActionContext.HttpContext.Request.RouteValues.GetValueOrDefault("id").ToString();
    var cabId = Model.CABId.ToString() ?? id;
}

@section BackButton
    {
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.FromSummary && cabId != null)
                {
                    <govuk-back-link asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@cabId" asp-route-revealEditActions="true" asp-route-returnUrl="@Model.ReturnUrl"/>
                }
                else
                {
                    <govuk-back-link href="@Url.RouteUrl(LegislativeAreaDetailsController.Routes.AddLegislativeArea, new { id = Model.CABId })"/>
                }
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.SuccessBannerMessage))
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-notification-banner type="Success">
                    <p class="govuk-notification-banner__heading">
                        @Model.SuccessBannerMessage
                    </p>
                </govuk-notification-banner>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.BannerContent))
{
    <partial model="@Model.BannerContent" name="Partials/_PageContentBanner" />
}

<div class="govuk-grid-row">
    <form method="post" enctype="multipart/form-data" novalidate>
        <input type="hidden" asp-for="FromSummary" />
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <partial name="Partials/_ValidationSummary" model="null" />
                <fieldset class="govuk-fieldset" aria-describedby="fieldset-title">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-m">@Model.Title</span>
                        <h1 id="fieldset-title" class="govuk-heading-l">@Model.Title</h1>
                    </legend>
                    @if (Model.ActiveLAItems.Any())
                    {
                        @for (int i = 0; i < Model.ActiveLAItems.Count; i++)
                        {
                            var legislativeArea = Model.ActiveLAItems[i];

                            <input type="hidden" asp-for="CABId">
                            <input type="hidden" asp-for="ActiveLAItems[i].Name">
                            <input type="hidden" asp-for="ActiveLAItems[i].LegislativeAreaId">

                            <details class="govuk-details ukmcab-expander govuk-!-margin-top-2 govuk-!-margin-bottom-0" @(Model.ErrorLink == legislativeArea.Name ? "open" : "")>
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @legislativeArea.Name
                                    </span>
                                </summary>
                                <div class="govuk-details__text govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                                    @if (legislativeArea.ShowEditActions)
                                    {
                                        <govuk-button-link asp-route="@LegislativeAreaAdditionalInformationController.Routes.LegislativeAreaAdditionalInformation"
                                                           asp-route-id="@Model.CABId" asp-route-laId="@legislativeArea.LegislativeAreaId"
                                                           asp-route-fromSummary="@Model.FromSummary" class="govuk-button--secondary">
                                            Edit legislative area additional information
                                        </govuk-button-link>

                                        @if (Model.ShowArchiveLegislativeAreaAction && legislativeArea.IsArchived is null or false)
                                        {
                                            <govuk-button-link asp-route="@LegislativeAreaDetailsController.Routes.RemoveOrArchiveLegislativeArea" class="govuk-button--secondary ukmcab-margin-left-10" asp-route-id="@Model.CABId" asp-route-legislativeAreaId="@legislativeArea.LegislativeAreaId" asp-route-actionType="@RemoveActionEnum.Archive" asp-route-returnURl="remove-legislative-area" asp-route-fromSummary="@Model.FromSummary">
                                                Archive legislative area
                                            </govuk-button-link>
                                        }
                                        @if (Model.ShowAddRemoveLegislativeAreaActions)
                                        {
                                            <govuk-button-link asp-route="@LegislativeAreaDetailsController.Routes.RemoveOrArchiveLegislativeArea" class="govuk-button--secondary ukmcab-margin-left-10"
                                                               asp-route-id="@Model.CABId" asp-route-legislativeAreaId="@legislativeArea.LegislativeAreaId" asp-route-actionType="@RemoveActionEnum.Remove" asp-route-returnURl="remove-legislative-area" asp-route-fromSummary="@Model.FromSummary">
                                                Remove legislative area
                                            </govuk-button-link>
                                        }
                                    }
                                    else
                                    {
                                        <span>@legislativeArea.StatusName</span>
                                    }

                                    @if (legislativeArea.CanChooseScopeOfAppointment)
                                    {
                                        <table class="govuk-table ukmcab-table govuk-!-margin-top-3">
                                            @if (Model.ErrorLink == legislativeArea.Name)
                                            {
                                                <govuk-error-message id="@legislativeArea.Name">Select a scope of appointment</govuk-error-message>
                                            }
                                            <caption class="govuk-table__caption govuk-table__caption--m">Scope of appointment</caption>
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">

                                                    @if (legislativeArea.ShowEditActions)
                                                    {
                                                        <th scope="col" class="govuk-table__header width-one-twentieth"></th>
                                                    }
                                                    @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                    {
                                                        <th scope="col" class="govuk-table__header">Purpose of appointment</th>
                                                    }
                                                    @if (legislativeArea.ShowCategoryColumn)
                                                    {
                                                        <th scope="col" class="govuk-table__header">Product category</th>
                                                    }
                                                    @if (legislativeArea.ShowProductColumn)
                                                    {
                                                        <th scope="col" class="govuk-table__header">Product</th>
                                                    }
                                                    @if (legislativeArea.ShowProcedureColumn)
                                                    {
                                                        <th scope="col" class="govuk-table__header">Applicable conformity assessment procedure</th>
                                                    }
                                                    @if (legislativeArea.ShowDesignatedStandardColumns)
                                                    {
                                                        <th scope="col" class="govuk-table__header width-two-fifth">Designated standrd</th>
                                                        <th scope="col" class="govuk-table__header">Reference number</th>
                                                        <th scope="col" class="govuk-table__header">Publication reference</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                                @if (!legislativeArea.ScopeOfAppointments.Any())
                                                {
                                                    <tr>
                                                        <td>No scope of appointments</td>
                                                    </tr>
                                                }

                                                @for (int j = 0; j < legislativeArea.ScopeOfAppointments.Count; j++)
                                                {
                                                    var scopeOfAppointment = legislativeArea.ScopeOfAppointments[j];
                                                    var noOfProductsInScopeOfAppointment = scopeOfAppointment.NoOfProductsInScopeOfAppointment;
                                                    var nextProductIndex = j;
                                                    @for (int k = 0; k < noOfProductsInScopeOfAppointment; k++)
                                                    {
                                                        var showBorder = k == noOfProductsInScopeOfAppointment - 1;
                                                        showBorder = scopeOfAppointment.NoOfDesignatedStandardsInScopeOfAppointment > 1 ? false : showBorder;

                                                        <tr class="govuk-table__row">
                                                            @if (k == 0)
                                                            {
                                                                @if (legislativeArea.ShowEditActions)
                                                                {
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                                                            <div class="govuk-radios__item">
                                                                                <input 
                                                                                    id="LA-items[@(i)]-radio-[@(j)]" 
                                                                                    class="govuk-radios__input" 
                                                                                    type="radio" 
                                                                                    asp-for="ActiveLAItems[i].SelectedScopeOfAppointmentId" 
                                                                                    value="@scopeOfAppointment.ScopeId"
                                                                                       aria-label="@scopeOfAppointment.RadioDescription">
                                                                                <label class="govuk-label govuk-radios__label govuk-!-display-block"></label>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[j].ScopeId">
                                                                        <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[j].LegislativeArea.Id">
                                                                        <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[j].LegislativeArea.Title">
                                                                    </td>
                                                                }
                                                                @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                                {
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Purpose of appointment</label>
                                                                        @scopeOfAppointment.PurposeOfAppointment
                                                                    </td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                </td>
                                                                @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                                {
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    </td>
                                                                }
                                                            }

                                                            @if (legislativeArea.ShowCategoryColumn)
                                                            {
                                                                @if (string.IsNullOrEmpty(scopeOfAppointment.Product))
                                                                {
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Product category</label>
                                                                        @scopeOfAppointment.Category
                                                                        @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                                                        {
                                                                            <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                                            <div>@scopeOfAppointment.SubCategory</div>
                                                                        }
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    @if (k == 0)
                                                                    {
                                                                        <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                            <label aria-hidden="true">Product category</label>
                                                                            @scopeOfAppointment.Category
                                                                            @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                                                            {
                                                                                <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                                                <div>@scopeOfAppointment.SubCategory</div>
                                                                            }
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (legislativeArea.ShowCategoryColumn)
                                                                        {
                                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                            </td>
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                            @if (legislativeArea.ShowProductColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Product</label>
                                                                    @Html.ValueOrNotApplicable(scopeOfAppointment.Product)
                                                                </td>
                                                            }

                                                            @if (legislativeArea.ShowDesignatedStandardColumns)
                                                            {
                                                                var firstDesignatedStandard = scopeOfAppointment.DesignatedStandards.First();
                                                                <td class="govuk-table__cell ukmcab-padding-right-20 @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Designated standard</label>
                                                                    @Html.ValueOrNotApplicable(firstDesignatedStandard.Name)
                                                                </td>

                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Reference number</label>
                                                                    @foreach (var refNo in firstDesignatedStandard.ReferenceNumber)
                                                                    {
                                                                        <p>@Html.ValueOrNotApplicable(refNo)</p>
                                                                    }

                                                                </td>

                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Public reference</label>
                                                                    @Html.ValueOrNotApplicable(firstDesignatedStandard.NoticeOfPublicationReference)
                                                                </td>
                                                            }

                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                <label aria-hidden="true">Applicable conformity assessment procedure</label>
                                                                @if (scopeOfAppointment.Procedures != null)
                                                                {
                                                                    @foreach (var procedure in scopeOfAppointment.Procedures)
                                                                    {
                                                                        <p>@procedure</p>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>Not provided</span>
                                                                }
                                                            </td>
                                                        </tr>

                                                        if (scopeOfAppointment.NoOfDesignatedStandardsInScopeOfAppointment > 1)
                                                        {
                                                            for (int a = 1; a < scopeOfAppointment.NoOfDesignatedStandardsInScopeOfAppointment; a++)
                                                            {
                                                                var showBorderForDesignatedStandard = a == scopeOfAppointment.NoOfDesignatedStandardsInScopeOfAppointment - 1;
                                                                var nextDesignatedStandardToDisplay = scopeOfAppointment.DesignatedStandards[a];

                                                                <tr class="govuk-table__row">
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorderForDesignatedStandard, "ukmcab-no-border")"></td>
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorderForDesignatedStandard, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Designated standard</label>
                                                                        @Html.ValueOrNotApplicable(nextDesignatedStandardToDisplay.Name)
                                                                    </td>
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorderForDesignatedStandard, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Reference number</label>
                                                                        @foreach (var refNo in nextDesignatedStandardToDisplay.ReferenceNumber)
                                                                        {
                                                                            <p>@Html.ValueOrNotApplicable(refNo)</p>
                                                                        }
                                                                    </td>
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorderForDesignatedStandard, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Publication reference</label>
                                                                        @Html.ValueOrNotApplicable(nextDesignatedStandardToDisplay.NoticeOfPublicationReference)
                                                                    </td>
                                                                </tr>
                                                            }                                                     
                                                        }

                                                        if ((nextProductIndex + 1) < (j + noOfProductsInScopeOfAppointment))
                                                        {
                                                            nextProductIndex += 1;
                                                            scopeOfAppointment = legislativeArea.ScopeOfAppointments[nextProductIndex];
                                                            <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[nextProductIndex].ScopeId">
                                                            <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[nextProductIndex].LegislativeArea.Id">
                                                            <input type="hidden" asp-for="ActiveLAItems[i].ScopeOfAppointments[nextProductIndex].LegislativeArea.Title">
                                                        }
                                                        else
                                                        {
                                                            j = nextProductIndex;
                                                        }
                                                    }                                                    
                                                }
                                            </tbody>
                                        </table>

                                        @if (legislativeArea.ShowEditActions)
                                        {
                                            <govuk-button class="govuk-button--secondary" type="submit" name="submitType" value="Add-@legislativeArea.LegislativeAreaId">Add scope of appointment</govuk-button>
                                            @if (legislativeArea.ScopeOfAppointments.Any())
                                            {
                                                <govuk-button class="govuk-button--secondary ukmcab-margin-left-10" type="submit" name="submitType" value="@Constants.SubmitType.Edit-@Model.ActiveLAItems[i].Name">Edit scope of appointment</govuk-button>
                                                <govuk-button class="govuk-button--secondary ukmcab-margin-left-10" type="submit" name="submitType" value="@Constants.SubmitType.Remove-@Model.ActiveLAItems[i].Name">Remove scope of appointment</govuk-button>
                                            }
                                        }
                                    }
                                </div>
                            </details>
                        }
                    }
                    else
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                No legislative area has been added.
                            </strong>
                        </div>
                    }
                </fieldset>
            </div>

            @if (Model.ShowAddRemoveLegislativeAreaActions)
            {
                <div class="govuk-!-margin-top-6">
                    <govuk-button class="govuk-button--secondary govuk-!-margin-bottom-0" type="submit" name="submitType" value="AddLegislativeArea">Add legislative area</govuk-button>
                </div>
            }
            <div class="govuk-!-margin-top-6">
                <hr class="ukmcab-border" />
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="fieldset-title">

                    @if (Model.ArchivedLAItems.Any())
                    {
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 id="fieldset-title" class="govuk-heading-m ukmcab-padding-top-10">Archived legislative areas</h2>
                        </legend>
                        @for (int i = 0; i < Model.ArchivedLAItems.Count; i++)
                        {
                            var archivedLegislativeArea = Model.ArchivedLAItems[i];
                            <details class="govuk-details ukmcab-expander govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @archivedLegislativeArea.Name
                                    </span>
                                </summary>
                                <div class="govuk-details__text govuk-!-padding-top-1">
                                    <div class="govuk-button-group">
                                        <govuk-button-link asp-route="@LegislativeAreaDetailsController.Routes.RemoveOrArchiveLegislativeArea" class="govuk-button--secondary"
                                                           asp-route-id="@Model.CABId" asp-route-legislativeAreaId="@archivedLegislativeArea.LegislativeAreaId" asp-route-returnURl="remove-legislative-area" asp-route-actionType="@RemoveActionEnum.Remove" asp-route-fromSummary="@Model.FromSummary">
                                            Remove archived legislative area
                                        </govuk-button-link>
                                        <govuk-button-link asp-route="@UnarchiveLegislativeAreaRequestController.Routes.UnarchiveLegislativeAreaRequest" class="govuk-button--secondary"
                                                           asp-route-id="@Model.CABId" asp-route-legislativeAreaId="@archivedLegislativeArea.LegislativeAreaId">
                                            Unarchive legislative area
                                        </govuk-button-link>
                                    </div>
                                    <table class="govuk-table ukmcab-table govuk-!-margin-top-3">
                                        <caption class="govuk-table__caption govuk-table__caption--m">Scope of appointment</caption>
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                @if (archivedLegislativeArea.ShowPurposeOfAppointmentColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Purpose of appointment</th>
                                                }
                                                @if (archivedLegislativeArea.ShowCategoryColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Product category</th>
                                                }
                                                @if (archivedLegislativeArea.ShowProductColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Product</th>
                                                }
                                                @if (archivedLegislativeArea.ScopeOfAppointments.Any())
                                                {
                                                    <th scope="col" class="govuk-table__header">Applicable conformity assessment procedure</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            @if (!archivedLegislativeArea.ScopeOfAppointments.Any())
                                            {
                                                <tr>
                                                    <td>No scope of appointments</td>
                                                </tr>
                                            }

                                            @for (int j = 0; j < archivedLegislativeArea.ScopeOfAppointments.Count; j++)
                                            {
                                                var scopeOfAppointment = archivedLegislativeArea.ScopeOfAppointments[j];
                                                var noOfProductsInScopeOfAppointment = scopeOfAppointment.NoOfProductsInScopeOfAppointment;
                                                var nextProductIndex = j;

                                                @for (int k = 0; k < noOfProductsInScopeOfAppointment; k++)
                                                {
                                                    var showBorder = k == noOfProductsInScopeOfAppointment - 1;
                                                    <tr class="govuk-table__row">
                                                        @if (k == 0)
                                                        {
                                                            @if (archivedLegislativeArea.ShowPurposeOfAppointmentColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Purpose of appointment</label>
                                                                    @scopeOfAppointment.PurposeOfAppointment
                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if (archivedLegislativeArea.ShowPurposeOfAppointmentColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                </td>
                                                            }
                                                        }

                                                        @if (archivedLegislativeArea.ShowCategoryColumn)
                                                        {
                                                            @if (string.IsNullOrEmpty(scopeOfAppointment.Product))
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Product category</label>
                                                                    @scopeOfAppointment.Category
                                                                    @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                                                    {
                                                                        <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                                        <div>@scopeOfAppointment.SubCategory</div>
                                                                    }
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                @if (k == 0)
                                                                {
                                                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                        <label aria-hidden="true">Product category</label>
                                                                        @scopeOfAppointment.Category
                                                                        @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                                                        {
                                                                            <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                                            <div>@scopeOfAppointment.SubCategory</div>
                                                                        }
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    @if (archivedLegislativeArea.ShowCategoryColumn)
                                                                    {
                                                                        <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                        </td>
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        @if (archivedLegislativeArea.ShowProductColumn)
                                                        {
                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                <label aria-hidden="true">Product</label>
                                                                @Html.ValueOrNotApplicable(scopeOfAppointment.Product)
                                                            </td>
                                                        }
                                                        <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                            <label aria-hidden="true">Applicable conformity assessment procedure</label>
                                                            @if (scopeOfAppointment.Procedures != null)
                                                            {
                                                                @foreach (var procedure in scopeOfAppointment.Procedures)
                                                                {
                                                                    <p>@procedure</p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>Not provided</span>
                                                            }
                                                        </td>
                                                    </tr>

                                                    if ((nextProductIndex + 1) < (j + noOfProductsInScopeOfAppointment))
                                                    {
                                                        nextProductIndex += 1;
                                                        scopeOfAppointment = archivedLegislativeArea.ScopeOfAppointments[nextProductIndex];
                                                    }
                                                    else
                                                    {
                                                        j = nextProductIndex;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </details>
                        }
                    }
                </fieldset>
            </div>
            <div>
                <div class="govuk-button-group">

                    @if (Model.FromSummary)
                    {
                        <govuk-button-link asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" asp-route-revealEditActions="true" asp-route-returnUrl="@Model.ReturnUrl">Continue</govuk-button-link>
                    }
                    else
                    {
                        <govuk-button-link asp-area="admin" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.CABId">Continue</govuk-button-link>
                    }

                    <govuk-button-link class="govuk-button--secondary" asp-area="Admin" asp-controller="CabManagement" asp-action="CABManagement" asp-route-unlockCab="@Model.CABId">
                        Save as draft
                    </govuk-button-link>

                    @if (Model.FromSummary)
                    {
                        <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@cabId" asp-route-revealEditActions="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                    else
                    {
                        <a asp-area="admin" asp-controller="CabManagement" asp-action="CABManagement" asp-route-unlockCab="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    }
                </div>
            </div>
        </div>
    </form>
</div>