@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.Review.ReviewLegislativeAreasViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link href="@Url.RouteUrl(LegislativeAreaDetailsController.Routes.AddLegislativeArea, new { id = Model.CABId })"/>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-m">Legislative area added</span>
                    </legend>
                    @if (Model.LAItems.Any())
                    {
                        @for (int i = 0; i < Model.LAItems.Count; i++)
                        {
                            var legislativeArea = Model.LAItems[i];
                            var removeLegislativeAreaLabel = "Remove legislative area";
                            if (Model.LAItems.Count > 1)
                            {
                                removeLegislativeAreaLabel = $"{(legislativeArea.IsArchived is null or false ? "Remove or archive" : "Remove")} legislative area";
                            }
                            <input type="hidden" asp-for="CABId">
                            <input type="hidden" asp-for="ReturnUrl">
                            <input type="hidden" asp-for="LAItems[i].Name">
                            <input type="hidden" asp-for="LAItems[i].LegislativeAreaId">

                            <details class="govuk-details ukmcab-expander govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @legislativeArea.Name
                                    </span>
                                </summary>
                                <div class="govuk-details__text govuk-!-padding-top-1">
                                    <govuk-button-link asp-route="@LegislativeAreaAdditionalInformationController.Routes.LegislativeAreaAdditionalInformation"
                                                       asp-route-id="@Model.CABId" asp-route-laId="@legislativeArea.LegislativeAreaId" class="govuk-button--secondary">
                                        Edit legislative area additional information
                                    </govuk-button-link>
                                    <govuk-button-link asp-route="@LegislativeAreaDetailsController.Routes.RemoveLegislativeArea" class="govuk-button--secondary"
                                                       asp-route-id="@Model.CABId" asp-route-legislativeAreaId="@legislativeArea.LegislativeAreaId" asp-route-returnURl="remove-legislative-area">
                                        @removeLegislativeAreaLabel
                                    </govuk-button-link>
                                    <table class="govuk-table ukmcab-table govuk-!-margin-top-3">
                                        <caption class="govuk-table__caption govuk-table__caption--m">Scope of appointment</caption>
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">

                                                <th scope="col" class="govuk-table__header width-one-fortieth"></th>

                                                @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Purpose of appointment</th>
                                                }
                                                @if (legislativeArea.ShowCategoryColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Product category</th>
                                                }
                                                @if (legislativeArea.ShowProductColumn)
                                                {
                                                    <th scope="col" class="govuk-table__header">Product</th>
                                                }
                                                @if (legislativeArea.ScopeOfAppointments.Any())
                                                {
                                                    <th scope="col" class="govuk-table__header">Applicable conformity assessment procedure</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            @if (!legislativeArea.ScopeOfAppointments.Any())
                                            {
                                                <tr>
                                                    <td>No scope of appointments</td>
                                                </tr>
                                            }

                                            @for (int j = 0; j < legislativeArea.ScopeOfAppointments.Count; j++)
                                            {
                                                var scopeOfAppointment = legislativeArea.ScopeOfAppointments[j];
                                                var noOfProductsInScopeOfAppointment = scopeOfAppointment.NoOfProductsInScopeOfAppointment;

                                                @for (int k = 0; k < noOfProductsInScopeOfAppointment; k++)
                                                {
                                                    var showBorder = k == noOfProductsInScopeOfAppointment - 1;
                                                    <tr class="govuk-table__row">
                                                        @if (k == 0)
                                                        {
                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                <div>
                                                                    <input type="radio" asp-for="LAItems[i].IndexofSelectedScopeofAppointment" value="@j">
                                                                    <input type="hidden" asp-for="LAItems[i].ScopeOfAppointments[j].ScopeId">
                                                                    <input type="hidden" asp-for="LAItems[i].ScopeOfAppointments[j].LegislativeArea.Id">
                                                                    <input type="hidden" asp-for="LAItems[i].ScopeOfAppointments[j].LegislativeArea.Title">
                                                                </div>
                                                            </td>
                                                            @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Purpose of appointment</label>
                                                                    @scopeOfAppointment.PurposeOfAppointment
                                                                </td>
                                                            }
                                                            @if (legislativeArea.ShowCategoryColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                    <label aria-hidden="true">Product category</label>
                                                                    @scopeOfAppointment.Category
                                                                    @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                                                    {
                                                                        <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                                        <div>@scopeOfAppointment.SubCategory</div>
                                                                    }
                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                            </td>
                                                            @if (legislativeArea.ShowPurposeOfAppointmentColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                </td>
                                                            }
                                                            @if (legislativeArea.ShowCategoryColumn)
                                                            {
                                                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                </td>
                                                            }
                                                        }

                                                        @if (legislativeArea.ShowProductColumn)
                                                        {
                                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                                <label aria-hidden="true">Product</label>
                                                                @Html.ValueOrNotProvided(scopeOfAppointment.Product)
                                                            </td>
                                                        }
                                                        <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                                            <label aria-hidden="true">Applicable conformity assessment procedure</label>
                                                            @if (scopeOfAppointment.Procedures != null)
                                                            {
                                                                @foreach (var procedure in scopeOfAppointment.Procedures)
                                                                {
                                                                    <p>@procedure</p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>Not provided</span>
                                                            }
                                                        </td> 
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <govuk-button class="govuk-button--secondary" type="submit" name="submitType" value="Add-@legislativeArea.LegislativeAreaId">Add scope of appointment</govuk-button>
                                    @if (legislativeArea.ScopeOfAppointments.Any())
                                    {
                                        <govuk-button class="govuk-button--secondary" type="submit" name="submitType" value="@Constants.SubmitType.Edit">Edit scope of appointment</govuk-button>
                                        <govuk-button class="govuk-button--secondary" type="submit" name="submitType" value="@Constants.SubmitType.Remove">Remove scope of appointment</govuk-button>
                                    }
                                </div>
                            </details>
                        }
                    }
                    else
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                No legislative area has been added.
                            </strong>
                        </div>
                    }
                </fieldset>
            </div>
            <div>
                <govuk-button-link class="govuk-button--secondary" href="@Url.RouteUrl(LegislativeAreaDetailsController.Routes.AddLegislativeArea, new { id = Model.CABId })">Add legislative area</govuk-button-link>
                <div class="govuk-button-group">
                    <govuk-button-link asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.CABId">Continue</govuk-button-link>
                    <a asp-area="Admin" asp-controller="CabManagement" asp-action="CABManagement" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>