@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using UKMCAB.Web.UI.Areas.Admin.Controllers.LegislativeArea
@using AnchorTagHelper = GovUk.Frontend.AspNetCore.TagHelpers.AnchorTagHelper
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.LegislativeArea.UnarchiveLegislativeAreaRequestReasonViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="admin" asp-controller="LegislativeAreaReview" asp-action="ReviewLegislativeAreas" asp-route-id="@Model.CabId" asp-route-fromSummary="@Model.FromSummary" />
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        
        <h1 class="govuk-heading-l">Reason for unarchiving legislative area</h1>
    </div>
</div>

<div class="govuk-grid-row">   
    <div class="govuk-grid-column-two-thirds">
        <form id="legislativeRemoveRequestForm" method="post">
            <input type="hidden" asp-for="CabId" />
            <input type="hidden" asp-for="Title"/>
            <input type="hidden" asp-for="LegislativeAreaId"/>
            <h2 class="govuk-heading-s">You have selected to unarchive:</h2>
            <p class="govuk-body">@Model.Title</p>
            <govuk-character-count asp-for="UserNotes" max-length="1000" rows="5">
                <govuk-character-count-label class="govuk-label--m" is-page-heading="false">
                    Reason
                </govuk-character-count-label>
                <govuk-character-count-hint>
                    Enter the reason for unarchiving the legislative area. This will only be shown
                    to users that are signed in to the UKMCAB service.
                </govuk-character-count-hint>
            </govuk-character-count>
            <div class="govuk-button-group">
                <govuk-button type="submit">Confirm</govuk-button>
                <a asp-area="Admin" asp-route="@LegislativeAreaApproveController.Routes.LegislativeAreaApprovalList" asp-route-id="@Model.CabId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>