@model UKMCAB.Web.UI.Models.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["nav"] = "changepassword";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds identity-form">
        @if (Model.PasswordChanged)
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You have successfully changed your password.
                    </p>
                </div>
            </div>
        }
        <form id="change-password" method="post">
            <partial name="Partials/_ValidationSummary" model="ViewData.ModelState"/>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Change your password
                    </h1>
                </legend>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"CurrentPassword")">
                    <label asp-for="CurrentPassword" class="govuk-label"></label>
                    <p class="govuk-error-message">
                    <span asp-validation-for="CurrentPassword" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="CurrentPassword" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "CurrentPassword")" autocomplete="current-password" aria-required="true"/>
                    <a class="govuk-button govuk-button--secondary show-password-button" href="#">Show</a>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"NewPassword")">
                    <label asp-for="NewPassword" class="govuk-label"></label>
                    <p class="govuk-error-message">
                    <span asp-validation-for="NewPassword" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="NewPassword" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "NewPassword")" autocomplete="new-password" aria-required="true"/>
                    <a class="govuk-button govuk-button--secondary show-password-button" href="#">Show</a>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState,"ConfirmPassword")">
                    <label asp-for="ConfirmPassword" class="govuk-label"></label>
                    <p class="govuk-error-message">
                    <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="ConfirmPassword" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "ConfirmPassword")" autocomplete="confirm-password" aria-required="true"/>
                    <a class="govuk-button govuk-button--secondary show-password-button" href="#">Show</a>
                </div>

                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Update password</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
