@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using UKMCAB.Web.UI
@model RegisterOGDUserModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="registerForm" method="post">
            <partial name="_ValidationSummary" model="Model.ModelState"/>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Register as OGD user
                    </h1>
                </legend>
                <div class="govuk-form-group @Html.ShowModelStateErrorClass(Model.ModelState,"Input.Email")">
                    <span asp-validation-for="Input.Email" class="govuk-error-message"></span>
                    <label asp-for="Input.Email" class="govuk-label"></label>
                    <input asp-for="Input.Email" class="govuk-input" autocomplete="username" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateErrorClass(Model.ModelState,"Input.Password")">
                    <span asp-validation-for="Input.Password" class="govuk-error-message"></span>
                    <label asp-for="Input.Password" class="govuk-label"></label>
                    <input asp-for="Input.Password" class="govuk-input" autocomplete="new-password" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateErrorClass(Model.ModelState,"Input.ConfirmPassword")">
                    <span asp-validation-for="Input.ConfirmPassword" class="govuk-error-message"></span>
                    <label asp-for="Input.ConfirmPassword" class="govuk-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="govuk-input" autocomplete="new-password" aria-required="true"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateErrorClass(Model.ModelState,"Input.LegislativeAreas")">
                    <span asp-validation-for="Input.LegislativeAreas" class="govuk-error-message"></span>
                    <label asp-for="Input.LegislativeAreas" class="govuk-label"></label>

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        @foreach (var area in Model.LegislativeAreaList)
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="Input.LegislativeAreas" name="Input.LegislativeAreas" type="checkbox" value="@area" checked="@(Model?.Input?.LegislativeAreas != null && Model.Input.LegislativeAreas.Any(l => l == area))">
                                <label class="govuk-label govuk-checkboxes__label">
                                    @area
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateErrorClass(Model.ModelState,"Input.RequestReason")">
                    <span asp-validation-for="Input.RequestReason" class="govuk-error-message"></span>
                    <label asp-for="Input.RequestReason" class="govuk-label"></label>
                    <input asp-for="Input.RequestReason" class="govuk-input" autocomplete="requestreason" aria-required="true"/>
                </div>
                <button id="registerSubmit" type="submit" class="govuk-button">Request account</button>
            </fieldset>
        </form>
    </div>
</div>
