@model EditProfileViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="Model.FieldOrder" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Edit my details
                    </h1>
                </legend>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.FirstName))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="FirstName">
                            First name
                        </label>
                    </h3>
                    <p error-id-for="FirstName" class="govuk-error-message">
                        <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                    </p>
                    <input class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.FirstName))" asp-for="FirstName" type="text" autocomplete="firstname" aria-required="true" error-describedby-for="FirstName">
                </div>
                
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.LastName))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="LastName">
                            Last name
                        </label>
                    </h3>
                    <p error-id-for="LastName" class="govuk-error-message">
                        <span asp-validation-for="LastName" class="govuk-error-message"></span>
                    </p>
                    <input class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.LastName))" asp-for="LastName" type="text" autocomplete="lastname" aria-required="true" error-describedby-for="LastName">
                </div>

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.ContactEmailAddress))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="ContactEmailAddress">
                            Email
                        </label>
                    </h3>
                    <p error-id-for="ContactEmailAddress" class="govuk-error-message">
                        <span asp-validation-for="ContactEmailAddress" class="govuk-error-message"></span>
                    </p>
                    <input class="govuk-input govuk-!-width-two-thirds @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.ContactEmailAddress))" asp-for="ContactEmailAddress" type="text" autocomplete="email" aria-required="true" error-describedby-for="ContactEmailAddress">
                </div>

                <div class="govuk-form-group">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="PhoneNumber">
                            Phone number (optional)
                        </label>
                    </h3>
                    <input class="govuk-input" asp-for="PhoneNumber" type="text" autocomplete="phone">
                </div>

            </fieldset>
            <button class="govuk-button" data-module="govuk-button">
                Submit
            </button>
        </form>
    </div>
</div>


