@using UKMCAB.Web.UI.Areas.Account.Controllers
@model UserProfileViewModel

@if (Model.IsEdited)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner govuk-grid-row" role="region"
                 aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content justify-content--center">
                    <p class="govuk-notification-banner__heading">Your details have been updated</p>
                </div>
            </div>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My details</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.FirstName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.LastName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ContactEmailAddress
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PhoneNumber
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User group
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @UKMCAB.Core.Security.Roles.NameFor(Model.Role)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" asp-route="@AccountController.Routes.EditProfile">
                Edit
            </a>
        </div>
    </div>
</div>
