@using System.Net
@using UKMCAB.Core.Domain
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABBodyDetailsMRAViewModel

<div class="cab-summary-detail">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
            <dt class="govuk-summary-list__key">
                Registered test location
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.TestingLocations.Any(tl => !string.IsNullOrWhiteSpace(tl)))
                {
                    @foreach (var tl in Model.TestingLocations)
                    {
                        <p class="govuk-body">@tl</p>
                    }
                }
                else
                {
                    <text>@Constants.NotProvided</text>
                }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Body type
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.BodyTypesSummary.Any())
                {
                    @for (int i = 0; i < Model.BodyTypesSummary.Count; i++)
                    {
                        @Model.BodyTypesSummary[i]
                        @if (i < Model.BodyTypesSummary.Count - 1)
                        {
                            <br />
                        }
                    }
                }
                else
                {
                    <text>@Constants.None</text>
                }
            </dd>
        </div>
        @if (Model.MRACountries.Any())
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    UK body designated under MRA
                </dt>
                <dd class="govuk-summary-list__value">
                    @for (int i = 0; i < Model.MRACountries.Count; i++)
                    {
                        @Model.MRACountries[i]
                        @if (i < Model.MRACountries.Count - 1)
                        {
                            <br />
                        }
                    }
                </dd>
            </div>
        }
    </dl>
</div>
