@using System.Net
@using UKMCAB.Core.Domain
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABContactViewModel

    <dl class="govuk-summary-list cab-summary-list">
        <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
                <div class="cab-summary-header govuk-!-padding-top-5">
                    <h3 class="govuk-heading-l">Contact details</h3>
                </div>
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.ShowSubsectionEditAction)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Contact" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                }
                @if (Model.IsCompleted)
                {
                    <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                        COMPLETED
                    </div>
                }
                else
                {
                    <div class="cab-result-status-label cab-result-not-completed">
                        NOT COMPLETED
                    </div>
                }
            </dd>
        </div>
    </dl>

    <div class="cab-summary-detail">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.FormattedAddress)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.Website)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.Email)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.Phone)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Point of contact name (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.PointOfContactName)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Point of contact email (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.PointOfContactEmail)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Point of contact telephone (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.PointOfContactPhone)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Display point of contact details
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        var isPointOfContactPublicDisplay = Model.IsPointOfContactPublicDisplay == true ? "Public" : "Restricted";
                    }
                    @Html.ValueOrNotProvided(isPointOfContactPublicDisplay)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered office location
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.RegisteredOfficeLocation)
                </dd>
            </div>
        </dl>
    </div>
