@using System.Net
@using UKMCAB.Core.Domain
@using UKMCAB.Data.Models
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABLegislativeAreasViewModel

    <div class="cab-summary-detail">
        <dl class="govuk-summary-list cab-summary-list">
            <div class="govuk-summary-list__row">
                @if (Model.ActiveLegislativeAreas.Any())
                {
                    @foreach (var legislativeArea in Model.ActiveLegislativeAreas)
                    {
                        <details class="govuk-details ukmcab-expander govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                            <summary class="govuk-details__summary @(legislativeArea.IsProvisional == true && legislativeArea.Status != LAStatus.None ? "provisional-la" : "la-single-tag")">
                                <div class="govuk-details__summary-text">
                                    <span>@legislativeArea.Name</span>
                                </div>
                                @if (legislativeArea.IsComplete == false)
                                {
                                    <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                                        Not Completed
                                    </div>
                                }
                                else
                                {
                                    @if (legislativeArea.Status != LAStatus.None)
                                    {
                                        <div>
                                            <strong class="cab-status-tag @legislativeArea.StatusCssStyle">@legislativeArea.StatusName</strong>
                                        </div>
                                    }
                                    @if (legislativeArea.IsProvisional == true)
                                    {
                                        <div>
                                            <strong class="cab-status-tag govuk-tag--purple">Provisional</strong>
                                        </div>
                                    }
                                }
                            </summary>
                            <partial name="./LegislativeArea/Partials/_Summary" model="legislativeArea" />
                        </details>
                    }
                }

                @if (Model.ArchivedLegislativeAreas.Any())
                {
                    <h4 class="govuk-heading-m govuk-!-padding-top-5 govuk-!-display-block">Archived legislative areas</h4>
                    @foreach (var legislativeArea in Model.ArchivedLegislativeAreas)
                    {
                        <details class="govuk-details ukmcab-expander govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary la-single-tag">
                                <div class="govuk-details__summary-text">
                                    <span>@legislativeArea.Name</span>
                                </div>
                                <div>
                                    <strong class="cab-status-tag govuk-tag--grey">Archived</strong>
                                    @if (legislativeArea.Status != LAStatus.None && legislativeArea.Status != LAStatus.Published)
                                    {
                                        <strong class="cab-status-tag @legislativeArea.StatusCssStyle">@legislativeArea.StatusName</strong>
                                    }
                                </div>
                            </summary>
                            <partial name="./LegislativeArea/Partials/_Summary" model="legislativeArea" />
                        </details>
                    }
                }

                @if (!Model.ArchivedLegislativeAreas.Any()
                && !Model.ActiveLegislativeAreas.Any())
                {
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            No legislative area has been selected.
                        </strong>
                    </div>
                }
            </div>
        </dl>
    </div>
