@using System.Net
@using UKMCAB.Core.Domain
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABProductScheduleDetailsViewModel

    <dl class="govuk-summary-list cab-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <div class="cab-summary-header  govuk-!-padding-top-5">
                    <h3 class="govuk-heading-l">Product schedules</h3>
                </div>
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.ShowSubsectionEditAction)
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                }
                @if (Model.IsCompleted)
                {
                    <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                        COMPLETED
                    </div>
                }
                else
                {
                    <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                        NOT COMPLETED
                    </div>
                }
            </dd>
        </div>
    </dl>


    <div class="cab-summary-detail">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-!-padding-top-5">
                <dd class="govuk-summary-list__value govuk-!-display-block">
                    @if (Model.ActiveSchedules.Any())
                    {
                        <ol class="govuk-list govuk-list--number">
                            @foreach (var schedule in Model.ActiveSchedules)
                            {
                                <li class="cab-summary-schedule-item">
                                    <div>
                                        <div>
                                            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@schedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@schedule.Label</a>
                                        </div>
                                        <div>@schedule.LegislativeArea</div>
                                    </div>

                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <text>@Constants.NotProvided</text>
                    }
                </dd>
                <dd class="govuk-summary-list__value govuk-!-display-block">
                    @if (Model.ArchivedSchedules.Any())
                    {
                        <h4 class="govuk-heading-m govuk-!-display-block">Archived product schedules</h4>
                        <ol class="govuk-list govuk-list--number">
                            @foreach (var schedule in Model.ArchivedSchedules)
                            {
                                <li class="cab-summary-schedule-item">
                                    <div>
                                        <div>
                                            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@schedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@schedule.Label</a>
                                        </div>
                                        <div>@schedule.LegislativeArea</div>
                                    </div>

                                </li>
                            }
                        </ol>
                    }
                </dd>
            </div>
        </dl>
    </div>
