@using System.Net
@using UKMCAB.Core.Domain
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABProductScheduleDetailsViewModel

    <div class="cab-summary-detail">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-!-padding-top-5">
                <dd class="govuk-summary-list__value govuk-!-display-block">
                    @if (Model.ActiveSchedules.Any())
                    {
                        <ol class="govuk-list govuk-list--number">
                            @foreach (var schedule in Model.ActiveSchedules)
                            {
                                <li class="cab-summary-schedule-item">
                                    <div>
                                        <div>
                                            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@schedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@schedule.Label</a>
                                        </div>
                                        <div>@schedule.LegislativeArea</div>
                                    </div>

                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <text>@Constants.NotProvided</text>
                    }
                </dd>
                <dd class="govuk-summary-list__value govuk-!-display-block">
                    @if (Model.ArchivedSchedules.Any())
                    {
                        <h4 class="govuk-heading-m govuk-!-display-block">Archived product schedules</h4>
                        <ol class="govuk-list govuk-list--number">
                            @foreach (var schedule in Model.ArchivedSchedules)
                            {
                                <li class="cab-summary-schedule-item">
                                    <div>
                                        <div>
                                            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@schedule.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@schedule.Label</a>
                                        </div>
                                        <div>@schedule.LegislativeArea</div>
                                    </div>
                                </li>
                            }
                        </ol>
                    }
                </dd>
            </div>
        </dl>
    </div>
