@using System.Net
@using UKMCAB.Core.Domain
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABSupportingDocumentDetailsViewModel

    <dl class="govuk-summary-list cab-summary-list ukmcab-padding-top-40">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <div class="cab-summary-header govuk-!-padding-top-5">
                    <h3 class="govuk-heading-l">Supporting documents</h3>
                </div>
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.ShowSubsectionEditAction)
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link govuk-link--no-visited-state">Edit</a>
                }
                @if (Model.IsCompleted)
                {
                    <div class="cab-result-status-label cab-result-completed cab-details-result-status-label">
                        COMPLETED
                    </div>
                }
                else
                {
                    <div class="cab-result-status-label cab-result-not-completed cab-details-result-status-label">
                        NOT COMPLETED
                    </div>
                }
            </dd>
        </div>
    </dl>

    <div class="cab-summary-detail">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row govuk-!-padding-top-5">
                <dt class="govuk-summary-list__key">
                    Document (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.Documents.Any())
                    {
                        <ol class="govuk-list govuk-list--number">
                            @foreach (var document in Model.Documents)
                            {
                                <li class="cab-summary-schedule-item">
                                    <div>
                                        <div>
                                            <a class="govuk-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@document.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@document.Label</a>
                                        </div>
                                        <div>@document.Category</div>
                                    </div>

                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <text>@Constants.NotProvided</text>
                    }
                </dd>
            </div>
        </dl>
    </div>
