@model ILayoutModel
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
    <meta charset="utf-8"/>
    <title>@((Model?.Title).IsNotNullOrEmpty() ? string.Concat(Model?.Title, " - ") : null)@Constants.SiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="theme-color" content="#0b0c0c"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png"/>
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png"/>

    <link href="/assets/css/site.css" rel="stylesheet" asp-append-version="true" />
    
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png"/>
</head>

<body class="govuk-template__body ">
    <script nonce="uKK1n1fxoi">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    
    <partial name="Partials/_Header" />

    <div class="govuk-width-container ">
        <div id="govuk-phase-banner" class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    alpha
                </strong>
                <span class="govuk-phase-banner__text">
                    How could we improve this service? Your <a class="govuk-link" href="../feedback-form/submit">feedback</a> will help.
                </span>
            </p>
        </div>
    </div>
    @RenderSection("BackButton", required:false)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            @RenderBody()
                
            @if (!((bool?)ViewData["HideFeeback"]).GetValueOrDefault())
            {
                <partial name="Partials/_FeedbackForm"/>
            }
        </main>
    </div>

    <partial name="Partials/_Footer" />

    <script src="/assets/js/main.js"></script>
    @RenderSection("Scripts", required:false)
    @RenderSection("FooterScripts", required:false)
</body>

</html>