@inject IConfiguration config
@using System.Net
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ILayoutModel
@{
    var showCookieHeader = !Context.Request.Cookies.ContainsKey(Constants.AnalyticsOptInCookieName);
    var loadAnalytics = !showCookieHeader && Context.Request.Cookies[Constants.AnalyticsOptInCookieName] == "accept";
    var returnUrl = WebUtility.UrlEncode(this.Url.ActionContext.HttpContext.Request.GetRequestUri().PathAndQuery);
    var fullUrl = this.Url.ActionContext.HttpContext.Request.GetRequestUri();
    var pageTitle = Model?.Title.FormatTitle(ViewData.ModelState.IsValid) ?? Constants.SiteName;    
}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
    <meta charset="utf-8"/>
    @if (loadAnalytics)
    {
        <script nonce="@Nonces.GoogleAnalyticsScript" async src="https://www.googletagmanager.com/gtag/js?id=@(config.GetValue<string>("GoogleAnalyticsId"))"></script>
        <script nonce="@Nonces.GoogleAnalyticsInlineScript">
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());
            gtag('config', '@(config.GetValue<string>("GoogleAnalyticsId"))');
        </script>
    }

    <title>@pageTitle</title>
    <meta name="description" content="The UK Market Conformity Assessment Bodies (UKMCAB) service is the definitive source and a register of UK Government appointed Conformity Assessment Bodies (CABs) who can certify goods for both the GB and NI markets.">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="theme-color" content="#0b0c0c"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png"/>
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png"/>

    <link href="/assets/css/main.css" rel="stylesheet" asp-append-version="true" />
    
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png"/>

    <meta property="og:image:alt" content="">
    <meta property="og:title" content="@pageTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@fullUrl" />
    <meta property="og:description" content="The UK Market Conformity Assessment Bodies (UKMCAB) service is the definitive source and a register of UK Government appointed Conformity Assessment Bodies (CABs) who can certify goods for both the GB and NI markets." />

    @* ReSharper disable once OtherTagsInsideScript1 *@
    @if (loadAnalytics)
    {
        <script nonce="@Nonces.AppInsights" type="text/javascript">
            @JavaScriptSnippet.ScriptBody
        </script>
    }
</head>

<body class="govuk-template__body ">
    <script nonce="@Nonces.Main">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="6YFCIjtn"></script>

    <script src="https://platform.linkedin.com/in.js" type="text/javascript" lang="en-US"></script>
    @* <script type="IN/Share" data-url="@fullUrl"></script> *@


    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <partial name="Partials/_CookieBanner" model="showCookieHeader" />
    <partial name="Partials/_Header" />

    <div class="govuk-width-container ">
        <div id="govuk-phase-banner" class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    Email us at <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a> with any questions about using this service.
                    @*TEMPORARILY HIDE Contact Us functionality - UKMCAB-1983 / hotfix 4.2.1
                        How could we improve this service? Your <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="ContactUs" asp-route-returnUrl="@returnUrl">feedback</a> will help.*@
                </span>
            </p>
        </div>
    </div>
    @RenderSection("BackButton", required:false)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
                
            @if (!((bool?)ViewData["HideFeeback"]).GetValueOrDefault())
            {
                <partial name="Partials/_FeedbackForm"/>
            }
        </main>
    </div>

    <partial name="Partials/_Footer" />

    <script src="/assets/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required:false)
    @RenderSection("FooterScripts", required:false)
</body>

</html>