@using System.Net
@model ArchiveCABViewModel
@{
    ViewData["nav"] = "search";
    var returnUrl = WebUtility.UrlEncode(Model.ReturnURL);
}

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CABId" asp-route-returnUrl="@returnUrl" class="govuk-back-link">Back</a>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Archive CAB profile
                </h1>
            </legend>
            <form method="post">
                <input type="hidden" asp-for="ReturnURL" value="@Model.ReturnURL" />
                <input type="hidden" asp-for="CABId" value="@Model.CABId" />
                 @if (Model.HasDraft)
                {
                    <div class="govuk-inset-text govuk-inset-text-alert govuk-tag--red">
                        <strong>This CAB  has a draft profile connected to it. If you archive this CAB, the draft will be deleted.</strong>
                    </div>
                }
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "ArchiveReason")">
                    <div id="wrong-hint" class="govuk-hint">
                        Enter the reason for archiving this CAB.
                    </div>
                    <p error-id-for="ArchiveReason" class="govuk-error-message">
                        <span asp-validation-for="ArchiveReason" class="govuk-error-message"></span>
                    </p>
                    <textarea class="govuk-textarea @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "ArchiveReason")" rows="5" aria-describedby="wrong-hint" asp-for="ArchiveReason" error-describedby-for="ArchiveReason"></textarea>
                </div>
                <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Archived CAB profiles cannot be edited and users cannot view them in the search results.
                        </strong>
                    </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Archive
                    </button>
                    <a class="govuk-button govuk-button--secondary" asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CABId" asp-route-returnUrl="@returnUrl">Cancel</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
