@using System.Net
@model UnarchiveCABViewModel
@{
    ViewData["nav"] = "search";
    var returnUrl = WebUtility.UrlEncode(Model.ReturnURL);
}

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CABId" asp-route-returnUrl="@returnUrl" class="govuk-back-link">Back</a>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Unarchive CAB profile
                </h1>
            </legend>
            <form method="post">
                <input type="hidden" asp-for="ReturnURL" value="@Model.ReturnURL" />
                <input type="hidden" asp-for="CABId" value="@Model.CABId" />
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "UnarchiveReason")">
                    <div id="wrong-hint" class="govuk-hint">
                        State the reason for unarchiving this CAB record.
                    </div>
                    <p error-id-for="UnarchiveReason" class="govuk-error-message">
                        <span asp-validation-for="UnarchiveReason" class="govuk-error-message"></span>
                    </p>
                    <textarea class="govuk-textarea @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "UnarchiveReason")" rows="5" aria-describedby="wrong-hint" asp-for="UnarchiveReason" error-describedby-for="UnarchiveReason"></textarea>
                </div>
                <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Unarchived CAB profiles will be saved as draft.
                        </strong>
                    </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Unarchive
                    </button>
                    <a class="govuk-button govuk-button--secondary" asp-area="Search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CABId" asp-route-returnUrl="@returnUrl">Cancel</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
