@model UKMCAB.Web.UI.Models.ViewModels.Admin.Notification.NotificationsViewModelTable
@if (Model.ShowTableItems)
{
    <partial name="Partials/_MobileSortTable" model="@Model.MobileSortTableViewModel"/>
}
<table class="govuk-table ukmcab-table govuk-!-font-size-16">
    <caption class="govuk-visually-hidden">Table of notifications</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        @if (Model.ShowTableItems)
        {
            <th scope="col" class="govuk-table__header">
                <sort tab-to-show="@Model.TabName" target="From" sort="@Model.SortField" sort-direction="@Model.SortDirection">From</sort>
            </th>
            <th scope="col" class="govuk-table__header">
                <sort tab-to-show="@Model.TabName" target="Subject" sort="@Model.SortField" sort-direction="@Model.SortDirection">Subject</sort>
            </th>
            <th scope="col" class="govuk-table__header">
                <sort tab-to-show="@Model.TabName" target="CabName" sort="@Model.SortField" sort-direction="@Model.SortDirection">CAB name</sort>
            </th>
            @if (Model.TabName.Equals(NotificationController.AssignedToGroupTabName))
            {
                <th scope="col" class="govuk-table__header">
                    <sort tab-to-show="@Model.TabName" target="Assignee" sort="@Model.SortField" sort-direction="@Model.SortDirection">Assignee</sort>
                </th>
            }

            <th scope="col" class="govuk-table__header">
                <sort tab-to-show="@Model.TabName" target="LastUpdated" sort="@Model.SortField" sort-direction="@Model.SortDirection">@Model.LastUpdatedLabel</sort>
            </th>
        }
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @if (Model.ShowTableItems)
    {
        @foreach (var item in Model.Items)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <label aria-hidden="true">From</label>
                    @item.From.Ellipsis(20)
                </td>
                <td class="govuk-table__cell">
                    <label aria-hidden="true">Subject</label>
                    <a class="govuk-link" href="@item.DetailLink">
                         @item.Subject.Ellipsis(35)
                    </a>
                </td>
                <td class="govuk-table__cell">
                    <label aria-hidden="true">CAB name</label>@item.CABName.Ellipsis(30)
                </td>
                @if (Model.TabName.Equals(NotificationController.AssignedToGroupTabName))
                {
                    <td class="govuk-table__cell">
                        <label aria-hidden="true">Assignee</label>@item.Assignee.Ellipsis(20)
                    </td>
                }
                <td class="govuk-table__cell">
                    <label aria-hidden="true">Sent on</label>@item.LastUpdated.ToStringBeisFormat()
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="govuk-table__row">
            <td colspan="4">
                <p class="govuk-body">@Model.NoItemsLabel</p>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (Model.ShowTableItems)
{
    <div id="notifications-pagination-container">
        <partial name="Partials/_Pagination" model="Model.Pagination"/>
    </div>
}