@model UKMCAB.Web.UI.Models.ViewModels.Admin.Notification.NotificationsViewModel

@{
    ViewBag.Title = Model.Title!;
}
<govuk-back-link asp-controller="ServiceManagement" asp-action="ServiceManagement"/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>
 
<div class="govuk-grid-row">
    <div class="govuk-body govuk-grid-column-full">
        <govuk-tabs class="notifications-tabs tabs-pagenumber-reset" title=" ">
            <govuk-tabs-item id="Unassigned" label='@("Unassigned" + " (" + Model.UnassignedTable.TotalCount + ")")' asp-route="@NotificationController.Routes.Notifications">
                <partial name="_NotificationsTable" model="@Model.UnassignedTable"/>
            </govuk-tabs-item>
            <govuk-tabs-item id="assigned-me" label='@("Assigned to me (" + Model.AssignedToMeTable.TotalCount + ")")' asp-route="@NotificationController.Routes.Notifications">
                <partial name="_NotificationsTable" model="@Model.AssignedToMeTable"/>
            </govuk-tabs-item>
            <govuk-tabs-item id="assigned-group" label='@("Assigned to another user (" + Model.AssignedToGroupTable.TotalCount + ")")' asp-route="@NotificationController.Routes.Notifications">
                <partial name="_NotificationsTable" model="@Model.AssignedToGroupTable"/>
            </govuk-tabs-item>
            <govuk-tabs-item id="completed" label='@("Completed (" + Model.CompletedTable.TotalCount + ")")' asp-route="@NotificationController.Routes.Notifications">
                <partial name="_NotificationsTable" model="@Model.CompletedTable"/>
            </govuk-tabs-item>
        </govuk-tabs>
    </div>
</div>