@using UKMCAB.Web.UI.Extensions
@model UKMCAB.Web.UI.Models.ViewModels.Admin.WorkQueueViewModel
@{
    ViewData["nav"] = "admin";
    var baseSortPath = Context.Request.RemoveQueryParameters("sort", "pagenumber");
    baseSortPath += baseSortPath.Contains("?") ?  "&sort=" : "?sort=";
}

@if (TempData[Constants.TempDraftKey] != null)
{
    <div class="govuk-notification-banner" role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">@TempData[Constants.TempDraftKey].ToString()</p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Admin</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <form id="work-queue-form" method="get">
        <div id="admin-work-queue">
            <div id="work-queue-filter-container" class="govuk-grid-column-one-half">
                <div id="work-queue-filter" class="govuk-form-group">
                    <label class="govuk-label" asp-for="Filter">
                        Showing
                    </label>
                    <select class="govuk-select work-queue-options" asp-for="Filter">
                        <option value="">All</option>
                        <option value="draft">Draft</option>
                        <option value="archived">Archived</option>
                    </select>
                </div>
                    
                <div id="mobile-sort" class="govuk-form-group">
                    <label class="govuk-label" asp-for="Filter">
                        Sort by
                    </label>
                    <select class="govuk-select work-queue-options" asp-for="Sort">
                        <option value="name">CAB name</option>
                        <option value="number">CAB number</option>
                        <option value="status">Status</option>
                    </select>
                </div>
                
                <div id="work-queue-filters-submit" class="govuk-form-group">
                    <button class="govuk-button" type="submit">Apply</button>
                </div>
            </div>
            <div id="work-queue-create-container" class="govuk-grid-column-one-half">
                <a class="govuk-button" asp-area="Admin" asp-controller="CAB" asp-action="Details" asp-route-id="create" data-module="govuk-button">
                    Create a CAB
                </a>
            </div>
            <div id="work-queue-list-container" class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!govuk-!-width-one-third"><a href="@(baseSortPath + Model.GetSortQueryValue("name"))" class="@Model.GetSortClass("name")">CAB name</a></th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><a href="@(baseSortPath + Model.GetSortQueryValue("number"))" class="@Model.GetSortClass("number")">CAB number</a></th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><a href="@(baseSortPath + Model.GetSortQueryValue("status"))" class="@Model.GetSortClass("status")">Status</a></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @if (Model.WorkQueueItems.Any())
                    {
                        @foreach (var cab in Model.WorkQueueItems)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><label class="work-queue-item-label">Cab name</label><a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@cab.Id" class="govuk-link govuk-link--no-visited-state">@cab.Name</a></td>
                                <td class="govuk-table__cell"><label class="work-queue-item-label">Cab reference</label>@Html.Conditional(!string.IsNullOrWhiteSpace(cab.CABNumber), cab.CABNumber, @Constants.NotProvided)</td>
                                <td class="govuk-table__cell"><label class="work-queue-item-label">Status</label>@cab.Status</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td><p class="govuk-body">There are currently no items in your work queue</p></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
