@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.ApproveUnarchiveCABViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Approve request to unarchive CAB @Model.CABName</h1>
        <p class="govuk-body">
            @Model.SubmitterFirstAndLastName from @Model.SubmitterGroup has requested that this CAB is unarchived and @(Model.PublishRequested ? "published" : "saved as draft")
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form id="approveunarchivecabform" method="post">
            <input type="hidden" asp-for="CabId"/>
            <input type="hidden" asp-for="CABName"/>
            <govuk-radios asp-for="IsPublish">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-label--s">
                        Select an option
                    </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@bool.TrueString">Unarchive and publish</govuk-radios-item>
                    <govuk-radios-item value="@bool.FalseString">Unarchive and save as draft</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-warning-text icon-fallback-text="Warning">The CAB will be unarchived and @Model.SubmitterGroup will be notified.</govuk-warning-text>

            <div class="govuk-button-group">
                <govuk-button type="submit">Approve</govuk-button>
                <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CabUrl" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>