@using System.Web
@model UKMCAB.Web.UI.Models.ViewModels.Shared.AuditLogHistoryViewModel
<div class="govuk-tabs__panel cabs-panel govuk-tabs__panel--hidden  govuk-body" id="history">
    <div class="cab-detail-section">
        <h2 class="govuk-heading-l">History</h2>
        @if (Model == null || !Model.AuditHistoryItems.Any())
        {
            <p class="govuk-body">@Constants.None</p>
        }
        else
        {
            <table class="govuk-table ukmcab-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Date and time</th>
                        <th scope="col" class="govuk-table__header">User</th>
                        <th scope="col" class="govuk-table__header">User group</th>
                        <th scope="col" class="govuk-table__header ">Action</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reason</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var auditHistoryItem in Model.AuditHistoryItems)
                    {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><label aria-hidden="true">Date and time</label>@auditHistoryItem.Date<br />@auditHistoryItem.Time</td>
                                <td class="govuk-table__cell"><label aria-hidden="true">User</label>
                                    @if (auditHistoryItem.UserId.Equals(new Guid().ToString()) || auditHistoryItem.UserId.Equals(Model.OPSSUserId))
                                    {
                                        <text>@auditHistoryItem.Username</text>
                                    }
                                    else
                                    {
                                        <a asp-area="admin" asp-controller="UserAdmin" asp-action="UserAccount" asp-route-id="@auditHistoryItem.UserId" class="govuk-link">@auditHistoryItem.Username</a>
                                    }
                                </td>
                                <td class="govuk-table__cell"><label aria-hidden="true">User group</label>@auditHistoryItem.UserGroup</td>
                                <td class="govuk-table__cell"><label aria-hidden="true">Action</label>@auditHistoryItem.Action</td>
                                <td class="govuk-table__cell">
                                    @if (!string.IsNullOrWhiteSpace(auditHistoryItem.InternalComment))
                                    {
                                        <label aria-hidden="true">Reason</label>
                                        <details class="govuk-details" data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    View more
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                @Html.Raw(HttpUtility.HtmlDecode(auditHistoryItem.InternalComment))
                                            </div>
                                        </details>
                                    }
                            </tr>
                    }
                </tbody>
            </table>
            <div id="cab-management-pagination-container">
                <partial name="Partials/_Pagination" model="Model.Pagination" />
            </div>
        }
    </div>
</div>