@using UKMCAB.Data
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileListViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" asp-route-revealEditActions="true" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div id="schedule-list-container" class="govuk-grid-row">
    @if (Model.ShowBanner && ViewData.ModelState.IsValid)
    {
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                Success
                            </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <h3 class="govuk-notification-banner__heading">
                                @Model.SuccessBannerTitle
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="govuk-grid-column-full">

            <partial name="Partials/_ValidationSummary" model="null" />

            <div>
                <input type="hidden" asp-for="IsFromSummary" />
                <span class="govuk-caption-m">@Model.SubTitle</span>
                <h1 class="govuk-heading-l">@Model.Title</h1>
                <p class="govuk-body govuk-!-padding-bottom-2">You can upload Word, Excel or PDF files.</p>
                <h2 class="govuk-heading-s">
                    Files you have uploaded
                </h2>
                @if (Model.UploadedFiles != null && Model.UploadedFiles.Any())
                {
                    <div id="enter-file-title-hint" class="govuk-hint">
                        Select a category for the file.
                    </div>
                }
            </div>

            @if (Model.UploadedFiles == null || !Model.UploadedFiles.Any())
            {
                @* Header*@
                <div style="margin-bottom:0">
                    <div class="ukmcab-float__clear width-full">
                        <hr class="ukmcab-border" />
                    </div>
                </div>

                <p class="govuk-label ukmcab-float__left ukmcab-padding-top-10">0 files uploaded</p>
                <div class="ukmcab-float__left width-full ukmcab-padding-bottom-40">
                    <hr class="ukmcab-border" />
                </div>
            }
            else
            {
                <div class="govuk-form-group govuk-main-wrapper @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.UploadedFiles))">
                    <fieldset class="govuk-fieldset" aria-describedby="enter-file-title-hint">
                        <p id="UploadedFiles" class="govuk-error-message">
                            <span asp-validation-for="UploadedFiles" class="govuk-error-message"></span>
                        </p>

                        @* Header*@
                        <div style="margin-bottom:0" class="govuk-grid-row display-from-desktop">
                            <div class="govuk-grid-column-one-half">
                                <h3 class="govuk-heading-s">File</h3>
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                <h3 class="govuk-heading-s">Category</h3>
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                <h3 class="govuk-heading-s">Publication</h3>
                            </div>
                        </div>

                        <hr class="ukmcab-border" />

                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                            @for (int i = 0; i < Model.UploadedFiles.Count; i++)
                            {
                                var uploadedFile = Model.UploadedFiles[i];
                                var uploadedDate = Constants.NotProvided;
                                var items = DataConstants.Lists.DocumentCategories.Select(s => new SelectListItem(s, s, s.Equals(uploadedFile.Category?.Trim() ?? string.Empty))).ToList();
                                var publications = DataConstants.Lists.Publications.Select(s => new SelectListItem(s, s, s.Equals(uploadedFile.Publication?.Trim() ?? DataConstants.Publications.Private))).ToList();

                                if (uploadedFile.UploadDateTime.HasValue)
                                {
                                    uploadedDate = uploadedFile.UploadDateTime.Value.ToString("d MMM yyyy");
                                }

                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        @*Row 1: Checkbox Row*@
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-full">
                                                <label class="govuk-label govuk-checkboxes__label" asp-for="UploadedFiles![i].IsSelected">
                                                    <span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@uploadedFile.FileName</a>
                                                </label>
                                                @if (uploadedFile.IsDuplicated || uploadedFile.IsReplaced)
                                                {
                                                    <label class="govuk-body govuk-!-font-weight-bold govuk-colour-green">New</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-full">
                                                <label class="govuk-label">Date added: @uploadedDate</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Row 2: Inputbox Row*@
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Label")">
                                        <label class="govuk-label govuk-label--s display-until-desktop" asp-for="UploadedFiles![i].Label">File</label>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="UploadedFiles![i].Label" class="govuk-error-message"></span>
                                        </p>
                                        <input asp-for="UploadedFiles![i].Label" type="text" id="UploadedFiles[@i].Label" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Label")" value="@uploadedFile.Label" aria-required="true" maxlength="150">
                                        <input asp-for="UploadedFiles![i].FileName" type="hidden" value="@uploadedFile.FileName">
                                        <input asp-for="UploadedFiles![i].IsDuplicated" type="hidden" value="@uploadedFile.IsDuplicated">
                                        <input asp-for="IsFromSummary" type="hidden" value="@Model.IsFromSummary">
                                    </div>
                                    <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Category")">
                                        <label class="govuk-label govuk-label--s display-until-desktop" asp-for="UploadedFiles![i].Category">Category</label>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="UploadedFiles![i].Category" class="govuk-error-message"></span>
                                        </p>
                                        <select id="UploadedFiles[@i].Category" name="UploadedFiles[@i].Category" class="govuk-select document-detail-select @Html.ShowModelStateSelectErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Category")">
                                            <option value="">@Constants.NotAssigned</option>
                                            @foreach (var cat in items)
                                            {
                                                if (cat.Selected)
                                                {
                                                    <option value="@cat.Value" selected="selected">@cat.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@cat.Value">@cat.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Publication")">
                                        <label class="govuk-label govuk-label--s display-until-desktop" asp-for="UploadedFiles![i].Publication">Publication</label>
                                        <p class="govuk-error-message">
                                            <span asp-validation-for="UploadedFiles![i].Publication" class="govuk-error-message"></span>
                                        </p>
                                        <select id="UploadedFiles[@i].Publication" name="UploadedFiles[@i].Publication" class="govuk-select document-detail-select @Html.ShowModelStateSelectErrorClass(ViewData.ModelState, $"UploadedFiles[{i}].Publication")">
                                            
                                            @foreach (var publication in publications)
                                            {
                                                <option value="@publication.Value" selected="@publication.Selected">@publication.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full govuk-button-group govuk-!-margin-bottom-0 govuk-!-margin-top-2 document-item-button-group">
                                        <a asp-area="admin" asp-controller="FileUploadManagement" asp-action="DocumentsUseFileAgain" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" asp-route-indexOfSelectedFile="@i" class="button-link govuk-link govuk-link--no-visited-state">
                                            Use again
                                        </a>

                                        <a asp-area="admin" asp-controller="FileUploadManagement" asp-action="DocumentsReplaceFile" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" asp-route-indexOfSelectedFile="@i" class="button-link govuk-link govuk-link--no-visited-state">
                                            Replace
                                        </a>

                                        <button name="submitType" asp-action="DocumentListRemove" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" asp-route-indexOfSelectedFile="@i" value="@Constants.SubmitType.Remove" class="button-link govuk-link govuk-link--no-visited-state" data-module="govuk-button">
                                            @Constants.SubmitType.Remove
                                        </button>
                                    </div>
                                </div>
                                <div class="ukmcab-float__left width-full govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                                    <hr class="ukmcab-border" />
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
            }
        </div>

        <div class="govuk-grid-column-one-third">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.UploadAnother">
                Upload new file
            </button>
        </div>

        <div class="govuk-grid-column-two-thirds ukmcab-float__clear">
            <div class="govuk-button-group ukmcab-padding-top-50">
                <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue">
                    @Html.Conditional(Model.UploadedFiles != null && Model.UploadedFiles.Any(), "Save and continue", "Save")
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Save">
                    Save as draft
                </button>
                <button class="button-link govuk-link govuk-link--no-visited-state" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Cancel">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>