@using Microsoft.AspNetCore.Mvc.TagHelpers
@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.FileListViewModel
@section BackButton
    {
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <form method="post" enctype="multipart/form-data" novalidate>
        <div class="govuk-grid-column-full">
            <input type="hidden" asp-for="IsFromSummary" />
            <span class="govuk-caption-m">@Model.Title</span>
            <h1 class="govuk-heading-l">@Model.Title</h1>
            <p class="govuk-body govuk-!-padding-bottom-2">You can upload up to @DocumentsOptions.MaxFileCount Word, Excel or PDF documents.</p>

            <div id="file-upload-list-container">
                <h3 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--s" for="files-uploaded-table">
                        Files you have uploaded
                    </label>
                </h3>
                <div class="govuk-hint" id="files-uploaded-table-hint">
                    Select a category for the file.
                </div>
                <table class="govuk-table" id="doc-list-files-uploaded-table" aria-describedby="files-uploaded-table-hint">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">File</th>
                            <th scope="col" class="govuk-table__header">Category</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (!Model.UploadedFiles.Any())
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="3">0 file uploaded</td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.UploadedFiles.Count; i++)
                            {
                                var uploadedFile = Model.UploadedFiles[i];
                                var items = DataConstants.Lists.DocumentCategories.Select(s => new SelectListItem(s, s, s.Equals(uploadedFile.Category?.Trim() ?? string.Empty))).ToList();

                                <tr id="uploaded-file-name-tr">
                                    <td id="uploaded-file-name-td">
                                        <p class="govuk-body"><span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@uploadedFile.FileName</a></p>
                                    </td>
                                </tr>

                                <tr class="govuk-table__row" id="document-list-row" style="vertical-align: bottom">
                                    <td class="govuk-table__cell uploaded-file-attribute">
                                        <govuk-input asp-for="UploadedFiles[i].Label" type="text" id="UploadedFiles[@i].Label" value="@uploadedFile.Label" aria-required="true" maxlength="150">
                                            <govuk-input-label class=govuk-label govuk-label--s">File</govuk-input-label>
                                        </govuk-input>
                                        <input asp-for="UploadedFiles[i].FileName" type="hidden" value="@uploadedFile.FileName" />
                                    </td>
                                    <td class="govuk-table__cell uploaded-file-attribute">
                                        <govuk-select id="UploadedFiles[@i].Category" asp-for="UploadedFiles[i].Category">
                                            <govuk-select-label>Category</govuk-select-label>
                                            <govuk-select-item value="">Not assigned</govuk-select-item>
                                            @foreach (var la in items)
                                            {
                                                if (la.Selected)
                                                {
                                                    <govuk-select-item value="@la.Value" selected="true">@la.Text</govuk-select-item>
                                                }
                                                else
                                                {
                                                    <govuk-select-item value="@la.Value">@la.Text</govuk-select-item>
                                                }
                                            }
                                        </govuk-select>
                                    </td>
                                    <td class="govuk-table__cell" id="document-list-remove-btn-td"><button class="govuk-link govuk-link--no-visited-state remove-file-button-link" name="submitType" value="@("Remove-" + i)">Remove</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (Model.UploadedFiles.Count < DocumentsOptions.MaxFileCount)
        {
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.UploadAnother">
                    @Html.Conditional(Model.UploadedFiles.Any(), "Save and upload another file" , "Upload a file")
                </button>
            </div>
        }

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue">
                    @Html.Conditional(Model.UploadedFiles.Any(), "Save and continue", "Save")
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Save">
                    Save as draft
                </button>

                @if (Model.IsFromSummary)
                {
                    <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
                else
                {
                    <a asp-area="admin" asp-controller="Admin" asp-action="CABManagement" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
            </div>
        </div>

    </form>
</div>
