@using Microsoft.AspNetCore.Mvc.TagHelpers
@using UKMCAB.Data
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileUploadViewModel
@section BackButton
    {
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">

    @using (Html.BeginForm("DocumentsUseFileAgain", "FileUpload", Model.IsFromSummary ? new { area = "admin", id = @Model.CABId, fromSummary = "true" } : new { area = "admin", id = @Model.CABId }, FormMethod.Post, false, new { enctype = "multipart/form-data", novalidate = "true" }))
    {
        <div class="govuk-grid-column-full">

            <partial name="Partials/_ValidationSummary" model="null" />

            <div>
                <span class="govuk-caption-m">@Model.Title</span>
                <h1 class="govuk-heading-l">@Model.Title</h1>
                <p id="selectFileToUseAgainHint" class="govuk-body govuk-!-padding-bottom-2">Select the file you want to use again.</p>

            </div>

            @if (!Model.UploadedFiles.Any())
            {
                <p class="govuk-body">0 file uploaded</p>
            }
            else
            {
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.FileToUseAgain))">
                    <fieldset class="govuk-fieldset" aria-describedby="selectFileToUseAgainHint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-s">
                                Files you have uploaded
                            </h2>
                        </legend>

                        <p class="govuk-error-message">
                            <span asp-validation-for="FileToUseAgain" class="govuk-error-message"></span>
                        </p>

                        @* Header *@
                        <div>
                            <div class="width-thirteen-twentieth ukmcab-float__left mobile-no-display"><h3 class="govuk-heading-s">File</h3></div>
                            <div class="ukmcab-float__left"><h3 class="govuk-heading-s ukmcab-padding-left-40 mobile-no-display">Category</h3></div>
                        </div>

                        <div class="ukmcab-float__left width-full"><hr class="ukmcab-border" /></div>

                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                            @for (int i = 0; i < Model.UploadedFiles.Count; i++)
                            {
                                var uploadedFile = Model.UploadedFiles[i];
                                var items = DataConstants.Lists.DocumentCategories.Select(s => new SelectListItem(s, s, s.Equals(uploadedFile.Category?.Trim() ?? string.Empty))).ToList();

                                <div class="govuk-radios__item ukmcab-padding-bottom-10">
                                    @* Row 1*@
                                    <div class="row">
                                        <div class="width-one-tenth">

                                            <input asp-for="UploadedFiles[i].Label" type="hidden" id="UploadedFiles[@i].Label" value="@uploadedFile.Label">
                                            <input asp-for="UploadedFiles[i].FileName" type="hidden" value="@uploadedFile.FileName">
                                            <input asp-for="UploadedFiles[i].Category" type="hidden" value="@uploadedFile.Category">
                                            <input asp-for="UploadedFiles[i].IsDuplicated" type="hidden" value="@uploadedFile.IsDuplicated">
                                        </div>
                                        <div class="width-three-fifth ukmcab-float__left ukmcab-min-width__350">
                                            <input class="govuk-radios__input" asp-for="FileToUseAgain" type="radio" value="@i">
                                            <label class="govuk-label govuk-radios__label" asp-for="FileToUseAgain">
                                                <span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@uploadedFile.FileName</a>
                                            </label>
                                        </div>

                                        <div class="width-one-fifth ukmcab-float__left">
                                            <label class="govuk-label break-word"></label>
                                        </div>
                                    </div>
                                </div>

                                @* Row 2*@
                                <div class="row">
                                    <div class="width-three-fifth ukmcab-float__left ukmcab-padding-left-35 ukmcab-padding-bottom-15">
                                        <label class="govuk-label govuk-label--s desktop-no-display">File</label>
                                        <p class="govuk-body file-label">@uploadedFile.Label</p>
                                    </div>

                                    <div class="width-three-tenth ukmcab-float__left ukmcab-padding-left-40">
                                        <label class="govuk-label govuk-label--s desktop-no-display">Category</label>
                                        <p class="govuk-body">
                                            @Html.Conditional(!string.IsNullOrWhiteSpace(uploadedFile.Category), uploadedFile.Category, @Constants.NotAssigned)
                                        </p>
                                    </div>
                                </div>
                                <div class="ukmcab-float__left width-full"><hr class="ukmcab-border" /></div>
                            }
                        </div>
                    </fieldset>
                </div>
            }
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-button-group ukmcab-padding-top-50">
                <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.UseFileAgain" type="submit">
                    Use file again
                </button>

                @if (Model.IsFromSummary)
                {
                    <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
                else
                {
                    <a asp-area="admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
            </div>
        </div>

    }

</div>
