@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.FileUploadViewModel
@section BackButton
    {
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="BodyDetails" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="Partials/_ValidationSummary" model="null" />
        <span class="govuk-caption-m">@Model.Title</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
        <p class="govuk-body govuk-!-padding-bottom-2">You can upload up to @SchedulesOptions.MaxFileCount PDF documents.</p>

        <div id="schedule-upload-list-container">
            @using (Html.BeginForm("SchedulesList", "FileUpload", Model.IsFromSummary ? new { area = "admin", id = @Model.CABId, fromSummary = "true" } : new { area = "admin", id = @Model.CABId }, FormMethod.Post, false, new { enctype = "multipart/form-data", novalidate = "true" }))
            {
                <table class="govuk-table" id="files-uploaded-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Files you have uploaded</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">File</th>
                            <th scope="col" class="govuk-table__header">Legislative area</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (!Model.UploadedFiles.Any())
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="3">0 file uploaded</td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.UploadedFiles.Count; i++)
                            {
                                var uploadedFile = Model.UploadedFiles[i];
                                <tr id="uploaded-file-name-tr">
                                    <td id="uploaded-file-name-td">
                                        <p class="govuk-body file-name"><span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@uploadedFile.FileName</a></p>
                                      
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">

                                    <td class="govuk-table__cell schedule-upload-attribute">
                                        <label class="govuk-label govuk-label--s">File</label>
                                        <p class="govuk-body file-label">@uploadedFile.Label</p>
                                    </td>
                                    <td class="govuk-table__cell schedule-upload-attribute">
                                        
                                            <label class="govuk-label govuk-label--s">Legislative area</label>
                                        <p class="govuk-body file-legislative-area">
                                                @Html.Conditional(!string.IsNullOrWhiteSpace(uploadedFile.LegislativeArea), uploadedFile.LegislativeArea, @Constants.NotAssigned)
                                        </p>
                                    </td>
                                    <td class="govuk-table__cell schedule-upload-attribute"><button class="govuk-link govuk-link--no-visited-state remove-file-button-link" name="submitType" value="@("Remove-" + i)">Remove</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="schedule-upload-form" class="js-submit-once" method="post" enctype="multipart/form-data" novalidate>
            <input type="hidden" asp-for="IsFromSummary" />
            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "File")">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="Files">
                    Select PDF files
                </label>
                <span asp-validation-for="File" class="govuk-error-message"></span>
                <input id="File" class="govuk-file-upload schedules-upload" asp-for="Files" accept=".pdf" type="file" multiple>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
                    <p class="govuk-body">
                        @if (Model.IsFromSummary)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId">Skip this step</a>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.CABId">Skip this step</a>
                        }
                    </p>
                </div>
            </div>

            <div id="schedule-upload-button-group" class="govuk-button-group">
                <button class="govuk-button js-submit-button" id="upload-button" data-module="govuk-button" name="submitType" value="upload" data-submitting-text="Uploading...">
                    Upload
                </button>
                <a class="govuk-button govuk-button--secondary" asp-area="Admin" asp-controller="FileUpload" asp-action="SaveAsDraft" asp-route-id="@Model.CABId">
                    Save as draft
                </a>
                @if (Model.IsFromSummary)
                {
                    <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
                else
                {
                    <a asp-area="admin" asp-controller="Admin" asp-action="CABManagement" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>