@using UKMCAB.Data.Models
@model UKMCAB.Web.UI.Models.ViewModels.Admin.FileListViewModel
@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" enctype="multipart/form-data" novalidate>
            <input type="hidden" asp-for="IsFromSummary" />
            <partial name="Partials/_ValidationSummary" model="null"/>
            <span class="govuk-caption-m">Create a CAB</span>
                <h1 class="govuk-heading-l">Schedule of Accreditation uploaded</h1>
                <p class="govuk-body govuk-!-padding-bottom-2">You can upload up to 5 pdf documents.</p>

            <div>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" colspan="3">Files you have uploaded</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @if (!Model.UploadedFiles.Any())
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="3">0 file uploaded</td>
                        </tr>
                    }
                    else
                    {
                        var index = 1;
                        foreach (var uploadedFile in Model.UploadedFiles)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@(index++).</td>
                                <td class="govuk-table__cell">@uploadedFile</td>
                                <td class="govuk-table__cell"><button class="govuk-link govuk-link--no-visited-state remove-file-button-link" name="fileName" value="@uploadedFile">Remove</button></td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@if (Model.UploadedFiles.Count < 5)
{
    var label = Model.UploadedFiles.Any() ? "Upload another file" : "Upload a file";
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
            <p class="govuk-body">
                @if (Model.IsFromSummary)
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.CABId" asp-route-fromSummary="true">@label</a>
                }
                else
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.CABId">@label</a>
                }
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
            @if (Model.IsFromSummary)
            {
                <a class="govuk-button" asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId">
                    Continue
                </a>
            }
            else
            {
                <a class="govuk-button" asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.CABId">
                    Continue
                </a>
            }
            <a class="govuk-button govuk-button--secondary" asp-area="Admin" asp-controller="FileUpload" asp-action="SaveAsDraft" asp-route-id="@Model.CABId">
                Save as draft
            </a>
            @if (Model.IsFromSummary && Model.DocumentStatus != Status.Created)
            {
                <a asp-area="admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            }
            else
            {
                <a asp-area="admin" asp-controller="CAB" asp-action="Cancel" asp-route-id="@Model.CABId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            }
        </div>
    </div>
</div>