@using UKMCAB.Data
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileUploadViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.IsFromSummary)
                {
                    <a asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="LegislativeAreaReview" asp-action="ReviewLegislativeAreas" asp-route-id="@Model.CABId" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="Partials/_ValidationSummary" model="null"/>
        <span class="govuk-caption-m">@Model.SubTitle</span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
        <p class="govuk-body govuk-!-padding-bottom-2">You can upload up to @SchedulesOptions.MaxFileCount PDF files.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="schedule-upload-form" class="js-submit-once" method="post" enctype="multipart/form-data" novalidate>

            <input type="hidden" asp-for="IsFromSummary"/>
            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "File")">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="Files">
                    Select PDF files
                </label>
                <span asp-validation-for="File" class="govuk-error-message"></span>
                <input id="File" class="govuk-file-upload schedules-upload" asp-for="Files" accept=".pdf" type="file" multiple>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5 ukmcab-text-align-centre--mobile">
                    <p class="govuk-body">
                        @if (Model.IsFromSummary)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-area="Admin" asp-controller="CAB" asp-action="Summary" asp-route-id="@Model.CABId" asp-route-revealEditActions="true">Skip this step</a>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.CABId">Skip this step</a>
                        }
                    </p>
                </div>
            </div>

            <div id="schedule-upload-button-group" class="govuk-button-group">
                <button class="govuk-button js-submit-button" id="upload-button" data-module="govuk-button" name="submitType" value="upload" data-submitting-text="Uploading...">
                    Upload
                </button>
                <a class="govuk-button govuk-button--secondary" asp-area="Admin" asp-controller="FileUpload" asp-action="SaveAsDraft" asp-route-id="@Model.CABId">
                    Save as draft
                </a>

                <a asp-area="Admin" asp-controller="FileUpload" asp-action="SchedulesList" asp-route-id="@Model.CABId" asp-route-fromSummary="true" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>