@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Enums
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.Schedule.RemoveScheduleViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="admin" asp-controller="cab" asp-action="schedules-list" asp-route-id="@Model.Id" />
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Remove product schedule</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form id="scheduleForm" method="post" novalidate>
            <input type="hidden" asp-for="Title" />            
            <h2 class="govuk-heading-s">You have selected: </h2>
            @foreach (var label in Model.ScheduleFileLabelList)
            {
                <p class="govuk-body">@label</p>
            }            
            <govuk-radios asp-for="Action">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-label--s">
                            Select an option
                        </govuk-radios-fieldset-legend>
                    <govuk-radios-item value="@RemoveActionEnum.Remove">Remove</govuk-radios-item>
                    <govuk-radios-item value="@RemoveActionEnum.Archive">Archive</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            <div class="govuk-button-group">
                <govuk-button name="submitType" type="submit" value="@Constants.SubmitType.Confirm">Confirm</govuk-button>
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="cab" asp-action="schedules-list" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>