@model UKMCAB.Web.UI.Models.ViewModels.Admin.SchedulesListViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.Id" asp-route-list="true" class="govuk-back-link">Back</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" enctype="multipart/form-data">
            <partial name="_ValidationSummary" model="ViewData.ModelState"/>
            <span class="govuk-caption-m">Create a CAB</span>
            <fieldset class="govuk-fieldset">
                <h1 class="govuk-heading-l">Schedule of Accreditation uploaded</h1>
                <p class="govuk-body govuk-!-padding-bottom-2">You can upload up to 5 pdf documents.</p>
                
                <div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header" colspan="3">Files you have uploaded</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @if (!Model.UploadedFiles.Any())
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="3">0 file uploaded</td>
                            </tr>
                        }
                        else
                        {
                            var index = 1;
                            foreach (var uploadedFile in Model.UploadedFiles)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@(index++).</td>
                                    <td class="govuk-table__cell">@uploadedFile</td>
                                    <td class="govuk-table__cell"><button class="govuk-link govuk-link--no-visited-state app-button-link" name="fileName" value="@uploadedFile">Remove</button></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>
@if (Model.UploadedFiles.Count < 5)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" asp-controller="FileUpload" asp-action="SchedulesUpload" asp-route-id="@Model.Id">Upload another file</a></p>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
            <a class="govuk-button" asp-controller="FileUpload" asp-action="DocumentsUpload" asp-route-id="@Model.Id">
                Save and continue
            </a>
            <a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a>
        </div>
    </div>
</div>