@model UKMCAB.Web.UI.Models.ViewModels.Feedback.FeedbackFormViewModel
@{
    ViewData["HideFeeback"] = true;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null"/>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Help us to improve GOV.UK
                </h1>
            </legend>
            <p class="govuk-body">Don't include personal or financial information like your National Insurance number or credit card details.</p>
            <form asp-area="Home" asp-controller="Feedback" asp-action="Submit" method="post">
                <input type="hidden" asp-for="ReturnURL" value="@Model.ReturnURL"/>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "WhatWereYouDoing")">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" asp-for="WhatWereYouDoing">
                            What you were doing
                        </label>
                    </h3>
                    <div id="doing-hint" class="govuk-hint">
                        Please explain, step by step, what you did. If we can reproduce a problem, we can try and fix it.
                    </div>
                    <p class="govuk-error-message">
                        <span asp-validation-for="WhatWereYouDoing"></span>
                    </p>
                    <textarea class="govuk-textarea @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "WhatWereYouDoing")" rows="5" aria-describedby="doing-hint" asp-for="WhatWereYouDoing"></textarea>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "WhatWentWrong")">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" asp-for="WhatWentWrong">
                            What went wrong
                        </label>
                    </h3>
                    <div id="wrong-hint" class="govuk-hint">
                        Please explain what you expected to happen, and what actually happened. A clear explanation will help us fix the problem.
                    </div>
                    <p class="govuk-error-message">
                        <span asp-validation-for="WhatWentWrong" class="govuk-error-message"></span>
                    </p>
                    <textarea class="govuk-textarea @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "WhatWentWrong")" rows="5" aria-describedby="wrong-hint" asp-for="WhatWentWrong"></textarea>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" name="Send" data-module="govuk-button">
                        Send
                    </button>
                    <a class="govuk-button govuk-button--secondary" href="@Model.ReturnURL">Cancel</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
