@model UKMCAB.Web.UI.Models.ViewModels.CABProfileViewModel;
@{
  ViewData["nav"] = "search";
  var accordionIndex = 0;
}

<a href="/" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">CAB profile</h1>
    </div>
</div>


<div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-m govuk-!-margin-bottom-2">Conformity Assessment Body (CAB)</span>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-display-inline">
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right govuk-!-margin-top-4">
        <a class="govuk-link" href="#">Download the CAB profile (PDF)</a>
    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-text-align-right">
        <span class="govuk-caption-m govuk-!-font-size-16 app-cab-profile-dates">Published: @Model.Published</span>
        <span class="govuk-caption-m govuk-!-font-size-16 app-cab-profile-dates">Last updated: @Model.LastUpdated</span>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Contact and body details</h1>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registered office address
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.Address
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.Email
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.Phone
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Website
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="http://@Model.Website" class="govuk-link">@Model.Website</a> 
        </dd>
      </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Body number
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.BodyNumber
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Body type
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.BodyType
            </dd>
        </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Details of appointment</h1>
    <p class="govuk-body-m">This CAB is approved for the following.</p>
    <hr class="govuk-section-break govuk-section-break--visible">
    <div class="govuk-accordion" data-module="ukmcab-accordion" id="accordion-default">
      @foreach (var regulation in Model.Regulations)
      {
        accordionIndex++;
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-@accordionIndex">
                @regulation.Title
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-@accordionIndex" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-@accordionIndex">
            @foreach (var product in regulation.Products)
            {
              <div class="app-cab-profile-appointment-detail-card govuk-!-margin-bottom-7">
                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Product name
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.Name
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Product code
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.Code
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Part
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.Part
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Module
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.Module
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Schedule
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.Schedule
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Standards and specifications
                          </dt>
                          <dd class="govuk-summary-list__value">
                              @product.StandardsSpecification
                          </dd>
                      </div>
                  </dl>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Locations where certification activities are undertaken</h1>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
    @foreach (var certificationActivityLocation in Model.CertificationActivityLocations)
    {
      <p class="govuk-body-m">@certificationActivityLocation</p>
      <hr class="govuk-section-break govuk-section-break--visible">
    }
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">News for @Model.Name</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
      <a class="govuk-link" href="#">Certification activity location in Kent closed</a>
      <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">28 March 2023</span>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
      <a class="govuk-link" href="#">Updates to details of appointment for The Supply of Machinery (Safety) Regulations 2008</a>
      <span class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">12 January 2023</span>
  </div>
</div>

@section FooterScripts
{
    <script>
        // overriding the GDS experimental accordion to not display the Show/Hide all section and to rename the accordion text
        GOVUKFrontend.Accordion.prototype.setExpanded = function (expanded, $section) {
            var $icon = $section.querySelector('.' + this.upChevronIconClass);
            var $showHideText = $section.querySelector('.' + this.sectionShowHideTextClass);
            var $button = $section.querySelector('.' + this.sectionButtonClass);
            var $newButtonText = expanded ? 'Hide details of appointment' : 'Show details of appointment';

            // Build additional copy of "this section" for assistive technology and place inside toggle link
            var $visuallyHiddenText = document.createElement('span');
            $visuallyHiddenText.classList.add('govuk-visually-hidden');
            $visuallyHiddenText.innerHTML = ' this section';

            $showHideText.innerHTML = $newButtonText;
            $showHideText.appendChild($visuallyHiddenText);
            $button.setAttribute('aria-expanded', expanded);

            // Swap icon, change class
            if (expanded) {
                $section.classList.add(this.sectionExpandedClass);
                $icon.classList.remove(this.downChevronIconClass);
            } else {
                $section.classList.remove(this.sectionExpandedClass);
                $icon.classList.add(this.downChevronIconClass);
            }
        };

        GOVUKFrontend.Accordion.prototype.init = function () {
            // Check for module
            if (!this.$module) {
                return;
            }
            this.initSectionHeaders();
        };


        function nodeListForEach (nodes, callback) {
            if (window.NodeList.prototype.forEach) {
                return nodes.forEach(callback);
            }
            for (var i = 0; i < nodes.length; i++) {
                callback.call(window, nodes[i], i, nodes);
            }
        };

        var $accordions = document.querySelectorAll('[data-module="ukmcab-accordion"]');
        nodeListForEach($accordions, function ($accordion) {
            new GOVUKFrontend.Accordion($accordion).init();
        });

    </script>
}
