@model UKMCAB.Web.UI.Models.ViewModels.Admin.CabListViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">List of CABs</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a class="govuk-button" href="@Url.RouteUrl(AdminController.RouteIds.Create)">Create new CAB</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Pagination.ShowPagination)
        {
            <partial name="_Pagination" model="@Model.Pagination"/>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    CAB name
                </dt>
                <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                    Address
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            @foreach (var cab in Model.CabListItems)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @cab.Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @cab.Address
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-action="CreateEdit" asp-route-id="@cab.Id">Edit CAB</a>
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>

