@model UKMCAB.Web.UI.Models.ViewModels.Account.LoginViewModel
@{
    ViewData["nav"] = "signin";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds identity-form">
        @if (Model.FromSignOut)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        You have successfully signed out.
                    </h3>
                </div>
            </div>
        }
        else if (Model.IsLockedOut)
        {
            <div class="govuk-warning-text govuk-error-summary">
                <div id="lockout-warning-body">
                   <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        The service is now locked for 2 hours due to multiple failed login attempts.
                    </strong>
                </div>
            </div>
        }
        <form id="sign-in" method="post" novalidate>
            <partial name="Partials/_ValidationSummary" model="null"/>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        UK Market Conformity Assessment Bodies Sign In
                    </h1>
                </legend>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "Email")">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Email">
                            Email address
                        </label>
                    </h3>
                    <p error-id="@nameof(Model.Email)" class="govuk-error-message">
                        <span asp-validation-for="Email" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Email" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "Email")" autocomplete="username" aria-required="true" error-describedby="@nameof(Model.Email)" />
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "Password")">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Password">
                            Password
                        </label>
                    </h3>
                    <p error-id="@nameof(Model.Password)" class="govuk-error-message">
                        <span asp-validation-for="Password" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Password" class="govuk-input @Html.ShowModelStateInputErrorClass(ViewData.ModelState, "Password")" autocomplete="current-password" aria-required="true" error-describedby="@nameof(Model.Password)" />
                    <a class="govuk-button govuk-button--secondary show-password-button" href="#">Show</a>
                </div>
                <div class="govuk-inset-text">
                    By signing in you accept our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="TermsAndConditions">terms and conditions</a>.
                </div>
                <div class="govuk-form-group">
                    <button id="login-submit" type="submit" class="govuk-button">Sign in</button>
                </div>
                <div>
                    <p class="govuk-body">
                        If you are inactive for 20 minutes, your session will timeout.
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
</div>
