@using UKMCAB.Data.Models;
@model CABDocumentsTableViewModel

<div class="govuk-width-container">
    @foreach (var groupedSchedule in Model.GroupedDocuments)
    {
        if (!string.IsNullOrWhiteSpace(groupedSchedule.Key))
        {
            <h3 class="govuk-heading-m">@groupedSchedule.Key</h3>
        }

        <div style="margin-bottom:0" class="govuk-grid-row display-from-desktop">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s">File</h3>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s">Category</h3>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s">Publication</h3>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s">Actions</h3>
            </div>
        </div>

        @foreach (var file in groupedSchedule)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                    <label class="govuk-label govuk-label--s display-until-desktop">File</label>
                    <p class="govuk-body break-word">@file.Label</p>
                </div>
                @if (!string.IsNullOrEmpty(file.Category))
                {
                    <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                        <label class="govuk-label govuk-label--s display-until-desktop">Category</label>
                        <p class="govuk-body">@file.Category</p>
                    </div>
                }
                @if (!string.IsNullOrEmpty(file.Publication))
                {
                    <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                        <label class="govuk-label govuk-label--s display-until-desktop">Publication</label>
                        <p class="govuk-body">@file.Publication</p>
                    </div>
                }
                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                    <div class="govuk-button-group">
                        @if (file.FileName.EndsWith("pdf", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="View" asp-route-id="@Model.CABId" asp-route-file="@file.FileName" asp-route-filetype="@Model.DocumentType" target="_blank">
                                View<span class="govuk-visually-hidden"> file (opens in a new window)</span>
                            </a>
                        }
                        <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@file.FileName" asp-route-filetype="@Model.DocumentType">
                            Download<span class="govuk-visually-hidden"> file</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>