@using System.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Net
@model UKMCAB.Web.UI.Models.ViewModels.Shared.AuditLogHistoryViewModel
@{
    var returnUrl = WebUtility.UrlEncode(this.Url.ActionContext.HttpContext.Request.GetRequestUri().PathAndQuery + "#history");

}
<div class="govuk-tabs__panel cabs-panel govuk-tabs__panel--hidden  govuk-body" id="history">
    <div class="cab-detail-section">
        <h2 class="govuk-heading-l">History</h2>
        @if (!Model.AuditHistoryItems.Any())
        {
            <p class="govuk-body">@Constants.NotProvided</p>
        }
        else
        {
            <table class="govuk-table ukmcab-table">
                <thead class="govuk-table__head">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Date and time</th>
                            <th scope="col" class="govuk-table__header">User</th>
                            <th scope="col" class="govuk-table__header">User group</th>
                            <th scope="col" class="govuk-table__header ">Action</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reason</th>
                        </tr>

                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Date and time</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reason</th>
                        </tr>
                    }
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var auditHistoryItem in Model.AuditHistoryItems)
                    {
                        @if (User.Identity.IsAuthenticated)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><label aria-hidden="true">Date and time</label>@auditHistoryItem.Date<br />@auditHistoryItem.Time</td>
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">User</label>
                                    @if (auditHistoryItem.UserId.Equals(new Guid().ToString()))
                                    {
                                        <text>@auditHistoryItem.Username</text>
                                    }
                                    else
                                    {
                                        <a asp-area="admin" asp-controller="UserAdmin" asp-action="UserAccount" asp-route-id="@auditHistoryItem.UserId" asp-route-returnUrl="@returnUrl" class="govuk-link">@auditHistoryItem.Username</a>
                                    }
                                </td>
                                <td class="govuk-table__cell"><label aria-hidden="true">User group</label>@auditHistoryItem.Usergroup.ToUpper()</td>
                                <td class="govuk-table__cell"><label aria-hidden="true">Action</label>@auditHistoryItem.Action</td>
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Reason</label>
                                    @if (!string.IsNullOrWhiteSpace(auditHistoryItem.InternalComment))
                                    {
                                        var isUserInputComment = true;
                                        if (auditHistoryItem.IsUserInputComment == null || auditHistoryItem.IsUserInputComment == false)
                                        {
                                            isUserInputComment = false;
                                        }
                                        var parms = new Dictionary<string, string>
                                        {
                                            { "date", @auditHistoryItem.Date },
                                            { "time", @auditHistoryItem.Time },
                                            { "username", @auditHistoryItem.Username },
                                            { "userId", auditHistoryItem.UserId},
                                            { "userGroup", auditHistoryItem.Usergroup},
                                            { "auditAction", auditHistoryItem.Action },
                                            { "internalComment", auditHistoryItem.InternalComment },
                                            { "publicComment", auditHistoryItem.PublicComment },
                                            { "returnUrl", returnUrl }
                                        };

                                        <a class="govuk-link" asp-controller="CABProfile" asp-action="CABHistoryDetails" asp-all-route-data="parms" asp-route-isUserInputComment="@isUserInputComment">View</a>
                                    }
                                    else
                                    {
                                        @Constants.NotProvided
                                    }
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><label aria-hidden="true">Date and time</label>@auditHistoryItem.Date<br />@auditHistoryItem.Time</td>
                                <td class="govuk-table__cell"><label aria-hidden="true">Action</label>@auditHistoryItem.Action</td>
                                <td class="govuk-table__cell">
                                    <label aria-hidden="true">Reason</label>
                                    @if (!string.IsNullOrWhiteSpace(auditHistoryItem.PublicComment))
                                    {
                                        var parms = new Dictionary<string, string>
                                        {
                                            { "date", @auditHistoryItem.Date },
                                            { "time", @auditHistoryItem.Time },                                            
                                            { "auditAction", auditHistoryItem.Action },                                        
                                            { "publicComment", auditHistoryItem.PublicComment },
                                            { "returnUrl", returnUrl },
                                        };

                                        <a class="govuk-link" asp-controller="CABProfile" asp-action="CABHistoryDetails" asp-all-route-data="parms">View</a>
                                    }
                                    else
                                    {
                                        @Constants.NotProvided
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div id="cab-management-pagination-container">
                <partial name="Partials/_Pagination" model="Model.Pagination" />
            </div>
        }
    </div>
</div>