@model  CABLaPoaCategoriesViewModel
<a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
   asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-selection="@Guid.NewGuid()" asp-fragment="legislative-areas">
    View all legislative areas
</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Legislative area </span>
        <h3 class="govuk-heading-s">@Model.LegislativeAreaName</h3>
        @if (!string.IsNullOrWhiteSpace(Model.Regulation))
        {
            <p class="govuk-body">Regulation: @Model.Regulation</p>
        }
    </div>
</div>
<div class="govuk-summary-list__row">
    <dl class="govuk-summary-list">
        <dt class="govuk-summary-list__key">

            <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
               asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-selection="@Guid.NewGuid()" asp-fragment="legislative-areas">
                Purpose of appointment
            </a>
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.PurposeOfAppointment.Name
        </dd>
    </dl>
</div>
<h3 class="govuk-heading-s">Product category</h3>
<dl class="govuk-summary-list table-top-border">
    @foreach (var category in Model.Categories)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key ">
                <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl" asp-fragment="legislative-areas">
                    @category.Name
                </a>
            </dt>
        </div>
    }
</dl>