@model  CABLegislativeAreaPurposeOfAppointmentViewModel
<a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
   asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-scopeId="@Guid.NewGuid()" asp-fragment="legislative-areas">
    View all legislative areas
</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Legislative area </span>
        <h3 class="govuk-heading-s">@Model.LegislativeAreaName</h3>
        @if (!string.IsNullOrWhiteSpace(@Model.Regulation))
        {
            <p class="govuk-body">Regulation: @Model.Regulation</p>
        }
    </div>
</div>

<h3 class="govuk-heading-s">Purpose of appointment</h3>

<dl class="govuk-summary-list table-top-border">
    @foreach (var purposeOfAppointment in Model.PurposeOfAppointments)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key ">
                <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl" asp-fragment="legislative-areas">
                    @purposeOfAppointment.Name
                </a>

            </dt>
        </div>
    }
</dl>