@using Ganss.Xss;
@model (string CabUrl, LegislativeAreaViewModel LegislativeArea)
@{
    var htmlSanitizer = new HtmlSanitizer();
    htmlSanitizer.AllowedTags.Clear();
}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        <div class="display-flex">
            <div>
                @if (Model.LegislativeArea.HasDataModel)
                {
                    <a class="govuk-link govuk-link--no-visited-state" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@Model.LegislativeArea.LegislativeAreaId" asp-fragment="legislative-areas">
                        @Model.LegislativeArea.Name
                    </a>
                }
                else
                {
                    <span>@Model.LegislativeArea.Name</span>
                }
            </div>
            @if (Model.LegislativeArea.IsProvisional)
            {
                <div class="tag-container">
                    <strong class="cab-status-tag govuk-tag--purple">Provisional</strong>
                </div>
            }
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.LegislativeArea.Regulation))
        {
            <p class="govuk-!-margin-bottom-2">Regulation : @Model.LegislativeArea.Regulation</p>
        }

        <govuk-details class="govuk-!-margin-bottom-0">
            <govuk-details-summary>
                Details
            </govuk-details-summary>
            <govuk-details-text>
                <dl>
                    <dt class="govuk-!-font-weight-bold">Provisional</dt>
                    <dd class="govuk-!-margin-bottom-4">@Model.LegislativeArea.IsProvisional.AsYesNo().ToSentenceCase()</dd>

                    <dt class="govuk-!-font-weight-bold">Appointment date</dt>
                    <dd class="govuk-!-margin-bottom-4">@(Model.LegislativeArea.AppointmentDate.HasValue ? Model.LegislativeArea.AppointmentDate.Value.ToString("d MMM yyyy") : Constants.NotProvided)</dd>

                    <dt class="govuk-!-font-weight-bold">Review date</dt>
                    <dd class="govuk-!-margin-bottom-4">@(Model.LegislativeArea.ReviewDate.HasValue ? Model.LegislativeArea.ReviewDate.Value.ToString("d MMM yyyy") : Constants.NotProvided)</dd>

                    @if (!string.IsNullOrWhiteSpace(Model.LegislativeArea.Reason))
                    {
                        <dt class="govuk-!-font-weight-bold">Reason for change of review date</dt>
                        <dd class="govuk-!-margin-bottom-4">@Html.Raw(htmlSanitizer.Sanitize(Model.LegislativeArea.Reason))</dd>
                    }

                    @if ((Model.LegislativeArea.IsPointOfContactPublicDisplay.HasValue && Model.LegislativeArea.IsPointOfContactPublicDisplay.Value) || User.Identity.IsAuthenticated)
                    {
                        @if (!string.IsNullOrEmpty(Model.LegislativeArea.PointOfContactName))
                        {
                            <dt class="govuk-!-font-weight-bold">Legislative area contact name</dt>
                            <dd class="govuk-!-margin-bottom-4">@Model.LegislativeArea.PointOfContactName</dd>
                        }

                        @if (!string.IsNullOrEmpty(Model.LegislativeArea.PointOfContactEmail))
                        {
                            <dt class="govuk-!-font-weight-bold">Legislative area contact email</dt>
                            <dd class="govuk-!-margin-bottom-4">@Model.LegislativeArea.PointOfContactEmail</dd>
                        }

                        @if (!string.IsNullOrEmpty(Model.LegislativeArea.PointOfContactPhone))
                        {
                            <dt class="govuk-!-font-weight-bold">Legislative area contact telephone</dt>
                            <dd class="govuk-!-margin-bottom-4">@Model.LegislativeArea.PointOfContactPhone</dd>
                        }
                    }
                </dl>
            </govuk-details-text>
        </govuk-details>
    </dt>
</div>