@using UKMCAB.Web.UI.Areas.Search.Controllers
@model CABLegislativeAreasModel
@if (Model.ShowLabels)
{
    <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
       asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-fragment="legislative-areas">
        View all legislative areas
    </a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Legislative area </span>
            <h3 class="govuk-heading-s">@Model.LegislativeAreaName</h3>
            @if (!string.IsNullOrWhiteSpace(Model.Regulation))
            {
                <p class="govuk-body">Regulation: @Model.Regulation</p>
            }
        </div>
    </div>
    @if (Model.PurposeOfAppointment.Id != Guid.Empty)
    {
        <div class="govuk-summary-list__row">
            <dl class="govuk-summary-list">
                <dt class="govuk-summary-list__key">
                    <a asp-route="@CABProfileController.Routes.CabDetailsLegislativeArea" asp-fragment="legislative-areas" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" class="govuk-link">
                        Purpose of appointment
                    </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PurposeOfAppointment.Name
                </dd>
            </dl>
        </div>
    }

    @if (Model.Category.Id != Guid.Empty)
    {
        <div class="govuk-summary-list__row">
            <dl class="govuk-summary-list">
                <dt class="govuk-summary-list__key">
                    <a asp-route="@CABProfileController.Routes.CabDetailsLegislativeArea" asp-fragment="legislative-areas" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@Model.Category.Id" class="govuk-link">
                        Product Category
                    </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Category.Name
                </dd>
            </dl>
        </div>
    }

    @if (Model.SubCategory.Id != Guid.Empty)
    {
        <div class="govuk-summary-list__row">
            <dl class="govuk-summary-list">
                <dt class="govuk-summary-list__key">
                    <a asp-route="@CABProfileController.Routes.CabDetailsLegislativeArea" asp-fragment="legislative-areas" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@Model.Category.Id" asp-route-subCategoryId="@Model.SubCategory.Id" class="govuk-link">
                        Product Sub Category
                    </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.SubCategory.Name
                </dd>
            </dl>
        </div>
    }

    @if (Model.Product.Id != Guid.Empty)
    {
        <div class="govuk-summary-list__row">
            <dl class="govuk-summary-list">
                <dt class="govuk-summary-list__key">
                    <a asp-route="@CABProfileController.Routes.CabDetailsLegislativeArea" asp-fragment="legislative-areas" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@Model.Category.Id" asp-route-subCategoryId="@Model.SubCategory.Id" asp-route-productId="@Model.Product.Id" class="govuk-link">
                        Product
                    </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Product.Name
                </dd>
            </dl>
        </div>
    }
}
@if (Model.Procedures.Any())
{
    <h3 class="govuk-heading-s">Procedures</h3>
    <dl class="govuk-summary-list table-top-border">
        @foreach (var procedure in Model.Procedures)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                    @procedure.Name
                </dt>
            </div>
        }
    </dl>
}
else if (Model.Products.Any())
{
    <h3 class="govuk-heading-s">Products</h3>
    <dl class="govuk-summary-list table-top-border">
        @foreach (var product in Model.Products)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                    <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
                       asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@Model.Category.Id" asp-route-subCategoryId="@Model.SubCategory.Id" asp-route-productId="@product.Id" asp-fragment="legislative-areas">
                        @product.Name
                    </a>
                </dt>
            </div>
        }
    </dl>
}
else if (Model.SubCategories.Any())
{
    <h3 class="govuk-heading-s">Product Sub Category</h3>
    <dl class="govuk-summary-list table-top-border">
        @foreach (var subCategory in Model.SubCategories)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                    <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
                       asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@Model.Category.Id" asp-route-subCategoryId="@subCategory.Id" asp-fragment="legislative-areas">
                        @subCategory.Name
                    </a>
                </dt>
            </div>
        }
    </dl>
}
else if (Model.Categories.Any())
{
    <h3 class="govuk-heading-s">Product category</h3>
    <dl class="govuk-summary-list table-top-border">
        @foreach (var category in Model.Categories)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                    <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
                       asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@Model.PurposeOfAppointment.Id" asp-route-categoryId="@category.Id" asp-fragment="legislative-areas">
                        @category.Name
                    </a>
                </dt>
            </div>
        }
    </dl>
}
else if (Model.PurposeOfAppointments.Any())
{
    <h3 class="govuk-heading-s">Purpose of appointment</h3>
    <dl class="govuk-summary-list table-top-border">
        @foreach (var purposeOfAppointment in Model.PurposeOfAppointments)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">
                    <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl"
                       asp-route-legislativeAreaId="@Model.LegislativeAreaId" asp-route-purposeOfAppointmentId="@purposeOfAppointment.Id" asp-fragment="legislative-areas">
                        @purposeOfAppointment.Name
                    </a>
                </dt>
            </div>
        }
    </dl>
}
else
{
    <div class="govuk-tabs__panel cabs-panel govuk-tabs__panel--hidden govuk-body" id="legislative-areas">
        <div class="cab-detail-section">
            <h2 class="govuk-heading-l">Legislative areas</h2>
        </div>

        <dl class="govuk-summary-list table-top-border">
            @foreach (var legislativeArea in Model.LegislativeAreasModel)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key ">
                        <div class="legislative-area-name">
                            <div>
                                <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@legislativeArea.LegislativeAreaId" asp-fragment="legislative-areas">
                                    @legislativeArea.Name
                                </a>
                            </div>
                            @if (legislativeArea.IsProvisional)
                            {
                                <div class="la-provisional-tag">
                                    <strong class="cab-status-tag govuk-tag--yellow">Provisional</strong>
                                </div>
                            }
                        </div>

                        @if (!string.IsNullOrWhiteSpace(legislativeArea.Regulation))
                        {
                            <p> Regulation : @legislativeArea.Regulation </p>
                        }
                    </dt>
                </div>
            }
        </dl>
    </div>
}