@model CABLegislativeAreasModel
@if (!Model.IsLoadCabLegislativeAreaInformation)
{
    <div class="govuk-tabs__panel cabs-panel govuk-tabs__panel--hidden govuk-body" id="legislative-areas">
        <div class="cab-detail-section">
            <h2 class="govuk-heading-l">Legislative areas</h2>
        </div>

        <dl class="govuk-summary-list table-top-border">
            @foreach (var legislativeArea in Model.LegislativeAreasModel)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key ">
                        <div class="legislative-area-name">
                            <div>
                                <a class="govuk-link" asp-area="search" asp-controller="CABProfile" asp-action="Index" asp-route-id="@Model.CabUrl" asp-route-legislativeAreaId="@legislativeArea.LegislativeAreaId" asp-fragment="legislative-areas">
                                    @legislativeArea.Name
                                </a>
                            </div>
                            @if (legislativeArea.IsProvisional)
                            {
                                <div class="la-provisional-tag">
                                    <strong class="cab-status-tag govuk-tag--yellow">Provisional</strong>
                                </div>
                            }
                        </div>
                        @if (!string.IsNullOrWhiteSpace(legislativeArea.Regulation))
                        {
                            <p> Regulation : @legislativeArea.Regulation </p>
                        }
                    </dt>
                </div>
            }
        </dl>
    </div>
}
else
{
    <partial name="Partials/_LegislativeAreaPurposeOfAppointment" model="@Model.PurposeOfAppointments"/>
}