@model UKMCAB.Web.UI.Models.ViewModels.Home.ContactUsViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="Model.FieldOrder" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Contact us</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="contactusform" method="post">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Name))">
                    <h1 class="govuk-label-wrapper">
                        <label class=" govuk-heading-s" asp-for="Name">
                            Name
                        </label>
                    </h1>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Name" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Name" class="govuk-input govuk-!-width-two-thirds @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Name))" autocomplete="name" aria-required="true" maxlength="50"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Email))">
                    <h1 class="govuk-label-wrapper">
                        <label class=" govuk-heading-s" asp-for="Email">
                            Email address
                        </label>
                    </h1>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Email" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Email" class="govuk-input govuk-!-width-two-thirds @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Email))" autocomplete="eamil" aria-required="true" maxlength="50"/>
                </div>
                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Subject))">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-heading-s" asp-for="Subject">
                            Subject
                        </label>
                    </h1>
                    <p class="govuk-error-message">
                        <span asp-validation-for="Subject" class="govuk-error-message"></span>
                    </p>
                    <input asp-for="Subject" class="govuk-input govuk-input--width-10 @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Subject))" autocomplete="subject" aria-required="true" maxlength="100"/>
                </div>
                
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
                    <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Message))">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-heading-s" asp-for="Message">
                                Message
                            </label>
                        </h1>
                        <div id="Message-hint" class="govuk-hint">
                            Do not include personal or financial information like your National Insurance number or credit card details.
                        </div>
                        <p class="govuk-error-message">
                            <span asp-validation-for="Message" class="govuk-error-message"></span>
                        </p>
                        <textarea asp-for="Message" class="govuk-textarea govuk-js-character-count  @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Message))" rows="5" aria-describedby="Message-info Message-hint" autocomplete="message" aria-required="true"></textarea>
                    </div>
                    <div id="Message-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 1000 characters
                    </div>
                </div>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        <text>By sending this message, you confirm you have read and agreed to <a asp-area="Home" asp-controller="Footer" asp-action="Privacy">privacy policy</a> and <a asp-area="Home" asp-controller="Footer" asp-action="TermsAndConditions">terms of service</a></text> 
                    </strong>
                </div>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.Continue">
                        Submit
                    </button>
                    <a href="#" class="govuk-link">Cancel</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>
