@using UKMCAB.Web.UI.Models.ViewModels
@model SearchResultsViewModel

<a href="@Url.RouteUrl(HomeController.Routes.Search)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l govuk-!-margin-top-3">Search results. The following CABs match your search criteria.</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third govuk-body" style="">

        <form id="search-results-form" asp-action="SearchResults" method="get">
            @Html.HiddenFor(x => Model.Keywords)
            <div id="facet-wrapper" data-module="mobile-filters-modal" class="facets" role="search" aria-label="Search filters" data-mobile-filters-modal-module-started="true">
                <div class="facets__box">
                    <div class="facets__header">
                        <div>
                            <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-2">Filter</h1>

                            <h2 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-0"><span class="js-result-count govuk-!-font-weight-regular">165 bodies</span></h2>

                        </div>
                        <button class="app-c-button-as-link facets__return-link js-close-filters" type="button">
                            Return to results
                        </button>
                    </div>
                    <div class="facets__content">
                        
                        <div class="app-c-option-select js-collapsible" data-module="option-select" data-closed-on-load="true" data-input-aria-controls="js-search-results-info" data-option-select-module-started="true">
                            <h2 class="app-c-option-select__heading js-container-heading">
                                <button class="js-container-button app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="true" id="option-select-title-body-type" aria-controls="uk_market_conformity_assessment_body_type">Body type</button>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                            </h2>
                            <div role="group" aria-labelledby="option-select-title-body-type" class="app-c-option-select__container js-options-container" id="uk_market_conformity_assessment_body_type" tabindex="-1" style="height: 260.333px;">
                                <div class="app-c-option-select__container-inner js-auto-height-inner">
                        
                                    <div id="checkboxes-0cce4af3" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes" data-gem-checkboxes-module-started="true" data-govuk-checkboxes-module-started="true">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Body type</legend>
                                            <ul class="govuk-checkboxes gem-c-checkboxes__list">
                                                @foreach (var filterOption in Model.BodyTypeOptions)
                                                {
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="BodyTypes" id="@filterOption.Id" value="@filterOption.Value" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Body type" data-track-label="@filterOption.Value" data-controls="js-search-results-info" aria-controls="js-search-results-info" checked="@filterOption.Checked"><label for="@filterOption.Id" class="govuk-label govuk-checkboxes__label">@filterOption.Value</label>
                                                    </li>
                                                }
                                            </ul>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-c-option-select js-collapsible js-opened" data-module="option-select" data-closed-on-load="true" data-input-aria-controls="js-search-results-info" data-option-select-module-started="true">
                            <h2 class="app-c-option-select__heading js-container-heading">
                                <button class="js-container-button app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="true" id="option-select-title-registered-office-location" aria-controls="uk_market_conformity_assessment_body_registered_office_location">Registered office location</button>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                            </h2>
                            <div role="group" aria-labelledby="option-select-title-registered-office-location" class="app-c-option-select__container js-options-container" id="uk_market_conformity_assessment_body_registered_office_location" tabindex="-1" style="height: 254.333px;">
                                <div class="app-c-option-select__container-inner js-auto-height-inner">

                                    <div id="checkboxes-3774339b" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes" data-gem-checkboxes-module-started="true" data-govuk-checkboxes-module-started="true">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Registered office location</legend>
                                            <ul class="govuk-checkboxes gem-c-checkboxes__list">
                                                @foreach (var filterOption in Model.RegisteredOfficeLocationOptions)
                                                {
                                                    <li class="govuk-checkboxes__item">
                                                        <input type="checkbox" name="RegisteredOfficeLocations" id="@filterOption.Id" value="@filterOption.Value" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Registered office location" data-track-label="@filterOption.Value" data-controls="js-search-results-info" aria-controls="js-search-results-info" checked="@filterOption.Checked"><label for="@filterOption.Id" class="govuk-label govuk-checkboxes__label">@filterOption.Value</label>
                                                    </li>
                                                }
                                            </ul>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-c-option-select js-collapsible js-opened" data-module="option-select" data-closed-on-load="true" data-input-aria-controls="js-search-results-info" data-option-select-module-started="true">
                            <h2 class="app-c-option-select__heading js-container-heading">
                                <button class="js-container-button app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="true" id="option-select-title-testing-locations" aria-controls="uk_market_conformity_assessment_body_testing_locations">Testing locations</button>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                            </h2>
                            <div role="group" aria-labelledby="option-select-title-testing-locations" class="app-c-option-select__container js-options-container" id="uk_market_conformity_assessment_body_testing_locations" tabindex="-1" style="height: 254.333px;">
                                <div class="app-c-option-select__container-inner js-auto-height-inner">

                                    <div id="checkboxes-5760821a" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes" data-gem-checkboxes-module-started="true" data-govuk-checkboxes-module-started="true">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Testing locations</legend>
                                            <ul class="govuk-checkboxes gem-c-checkboxes__list">
                                            @foreach (var filterOption in Model.TestingLocationOptions)
                                            {
                                                <li class="govuk-checkboxes__item">
                                                    <input type="checkbox" name="TestingLocations" id="@filterOption.Id" value="@filterOption.Value" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Testing locations" data-track-label="@filterOption.Value" data-controls="js-search-results-info" aria-controls="js-search-results-info" checked="@filterOption.Checked"><label for="@filterOption.Id" class="govuk-label govuk-checkboxes__label">@filterOption.Value</label>
                                                </li>
                                            }
                                            </ul>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-c-option-select js-collapsible js-opened" data-module="option-select" data-closed-on-load="true" data-input-aria-controls="js-search-results-info" data-option-select-module-started="true">
                            <h2 class="app-c-option-select__heading js-container-heading">
                                <button class="js-container-button app-c-option-select__title app-c-option-select__button" type="button" aria-expanded="true" id="option-select-title-legislative-area" aria-controls="uk_market_conformity_assessment_body_legislative_area">Regulations</button>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
                                <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                            </h2>
                            <div role="group" aria-labelledby="option-select-title-legislative-area" class="app-c-option-select__container js-options-container" id="uk_market_conformity_assessment_body_legislative_area" tabindex="-1" style="height: 235.333px;">
                                <div class="app-c-option-select__container-inner js-auto-height-inner">

                                    <div id="checkboxes-f8570a30" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes" data-gem-checkboxes-module-started="true" data-govuk-checkboxes-module-started="true">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Regulations</legend>
                                            <ul class="govuk-checkboxes gem-c-checkboxes__list">
                                            @foreach (var filterOption in Model.LegislativeAreaOptions)
                                            {
                                                <li class="govuk-checkboxes__item">
                                                    <input type="checkbox" name="LegislativeAreas" id="@filterOption.Id" value="@filterOption.Value" class="govuk-checkboxes__input" data-track-category="filterClicked" data-uncheck-track-category="filterRemoved" data-track-action="Legislative area" data-track-label="@filterOption.Value" data-controls="js-search-results-info" aria-controls="js-search-results-info" checked="@filterOption.Checked"><label for="@filterOption.Id" class="govuk-label govuk-checkboxes__label">@filterOption.Value</label>
                                                </li>
                                            }
                                            </ul>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="facets__tags-block js-mobile-facet-tag-block" data-module="remove-filter" data-remove-filter-module-started="true"><span class="govuk-visually-hidden"> 165 bodies </span> <div class="facet-tags"> </div></div>
                        <button class="app-c-button-as-link facets__clear-link js-clear-selected-filters" type="button">
                            Clear all filters
                        </button>
                    </div>
                    <div class="facets__footer">
                        
                        <button class="gem-c-button govuk-button js-close-filters js-show-results" type="submit">Show search results</button>
                        
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="govuk-grid-column-two-thirds" id="results-container">

        <div class="search-results-header">
            <div class="top-pagination">
                <nav role="navigation" aria-label="Pagination" class="pagination">
                    <p class="govuk-body-s">Showing 1-@Model.SearchResultViewModels.Count of @Model.SearchResultViewModels.Count CABs</p>
                </nav>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--visible">

        <ul class="app-search-results">

            @foreach (var result in Model.SearchResultViewModels.OrderBy(x => Guid.NewGuid()))
            {
                <li class="app-search-results__result">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                        <a asp-action="Profile" asp-route-id="@result.id">@result.Name</a>
                    </h3>
                    <p class="govuk-body-s govuk-!-margin-bottom-1">
                        @result.Address
                    </p>
                    <p class="govuk-hint govuk-!-font-size-14 govuk-!-margin-top-0" style="display:none">
                        @result.Blurb
                    </p>
                    <dl class="govuk-!-margin-top-0">
                        <dt>Body type:</dt>
                        <dd>@result.BodyType</dd>

                        <dt>Registered office location:</dt>
                        <dd>@result.RegisteredOfficeLocation</dd>

                        <dt>Testing locations:</dt>
                        <dd>@result.TestingLocations</dd>

                        <dt>Legislative area:</dt>
                        <dd>@result.LegislativeArea</dd>
                    </dl>
                </li>
            }
        </ul>
    </div>

</div>

<script src="/assets/js/govuk-frontend-all.js"></script>
<script src="/assets/finder/javascripts/components/option-select.js"></script>
    
<script>
    window.GOVUKFrontend.initAll();
    var nodes = document.querySelectorAll('.app-c-option-select');
    
    for(var i = 0; i<nodes.length;i++){
        new GOVUK.Modules.OptionSelect(nodes[i]).init();
    }
    var submitForm = document.querySelector("form");
    var checkBoxes = document.querySelectorAll('.govuk-checkboxes__input');
    checkBoxes.forEach(function (cbx) {
        cbx.onchange=function (){
            submitForm.submit();
            };
    });
    
</script>
