@model UKMCAB.Web.UI.Models.ViewModels.Admin.User.AccountRequestListViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">User accounts</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-tabs user-tabs" data-module="govuk-tabs">
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">
                    <a class="" asp-route="@UserAdminController.Routes.UserList" style="color:#0b0c0c;">Active</a>
                </li>
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#requests">Requests (@Model.Pagination.Total)</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a asp-route="@UserAdminController.Routes.UserListLocked" style="color:#0b0c0c;">Locked</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a asp-route="@UserAdminController.Routes.UserListArchived" style="color:#0b0c0c;">Archived</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel  govuk-body" id="requests">

                <table class="govuk-table govuk-!-font-size-16 user-list-5-col">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            @if (Model.UserAccountRequests.Any())
                            {
                                <th scope="col" class="govuk-table__header">First name</th>
                                <th scope="col" class="govuk-table__header">Last name</th>
                                <th scope="col" class="govuk-table__header">Email</th>
                                <th scope="col" class="govuk-table__header">Requested on</th>
                                <th scope="col" class="govuk-table__header">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model.UserAccountRequests.Any())
                        {
                            @foreach (var account in Model.UserAccountRequests)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell user-table-cell__wide" title="@account.FirstName">
                                        <label aria-hidden="true">First name</label>
                                        @account.FirstName.Ellipsis(15)
                                    </td>
                                    <td class="govuk-table__cell user-table-cell__mobile" title="@account.FirstName">
                                        <label aria-hidden="true">First name</label>
                                        @account.FirstName.Ellipsis(45)
                                    </td>

                                    <td class="govuk-table__cell user-table-cell__wide" title="@account.Surname">
                                        <label aria-hidden="true">Last name</label>
                                        @account.Surname.Ellipsis(15)
                                    </td>
                                    <td class="govuk-table__cell user-table-cell__mobile" title="@account.Surname">
                                        <label aria-hidden="true">Last name</label>
                                        @account.Surname.Ellipsis(45)
                                    </td>

                                    <td class="govuk-table__cell" title="@account.GetEmailAddress()">
                                        <label aria-hidden="true">Email</label>
                                        @account.GetEmailAddress().Ellipsis(40)
                                    </td>
                                    <td class="govuk-table__cell">
                                        <label aria-hidden="true">Last log in</label>
                                        @account.CreatedUtc.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td class="govuk-table__cell">
                                        <label aria-hidden="true">Action</label>
                                        <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="UserAdmin" asp-action="ReviewAccountRequest" asp-route-id="@account.Id">View</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td>
                                    <p class="govuk-body">There are no pending user account requests to review.</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.UserAccountRequests.Any())
                {
                    <div id="user-management-pagination-container">
                        <partial name="Partials/_Pagination" model="Model.Pagination" />
                    </div>
                }
            </div>
        </div>

    </div>
</div>
