@model UKMCAB.Web.UI.Models.ViewModels.Admin.User.AccountRequestListViewModel


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">User accounts</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item">
                    <a class="" asp-route="@UserAdminController.Routes.UserList" style="color:#0b0c0c;">Active</a>
                </li>
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#requests">Requests (@Model.UserAccountRequests.Count)</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="requests">

                <table class="govuk-table govuk-!-font-size-16">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            @if (Model.UserAccountRequests.Any())
                            {
                                <th scope="col" class="govuk-table__header">First name</th>
                                <th scope="col" class="govuk-table__header">Last name</th>
                                <th scope="col" class="govuk-table__header">Email address</th>
                                <th scope="col" class="govuk-table__header">Requested on</th>
                                <th scope="col" class="govuk-table__header">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model.UserAccountRequests.Any())
                        {
                            @foreach (var account in Model.UserAccountRequests)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@account.FirstName</td>
                                    <td class="govuk-table__cell">@account.Surname</td>
                                    <td class="govuk-table__cell" style="overflow:hidden; white-space:nowrap" title="@account.GetEmailAddress()">@account.GetEmailAddress().Ellipsis(135)</td>
                                    <td class="govuk-table__cell" style="overflow:hidden; white-space:nowrap">@account.CreatedUtc.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td class="govuk-table__cell">
                                        <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="UserAdmin" asp-action="ReviewAccountRequest" asp-route-id="@account.Id">Review&nbsp;request</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td>
                                    <p class="govuk-body">There are no account requests.</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.UserAccountRequests.Any())
                {
                    <div id="user-management-pagination-container govuk-body">
                        <partial name="Partials/_Pagination" model="Model.Pagination" />
                    </div>
                }
            </div>
        </div>

    </div>
</div>
