@model UKMCAB.Web.UI.Models.ViewModels.Account.DeclineRequestViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a asp-route="@UserAdminController.Routes.ReviewAccountRequest" asp-route-id="@Model.AccountId" class="govuk-back-link">Back</a>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="Partials/_ValidationSummary" model="null" />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Decline account request</h1>
        <p class="govuk-body">Confirm that the account request for @Model.FirstName @Model.LastName should be declined.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="reviewaccountrequestform" method="post" novalidate="">


            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

                <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.Reason))">
                    <h3 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" asp-for="Reason">
                            Enter the reason for declining this account request.  This will be sent in the response to the request.
                        </label>
                    </h3>
                    <p error-id-for="Reason" class="govuk-error-message">
                        <span asp-validation-for="Reason" class="govuk-error-message"></span>
                    </p>
                    <textarea class="govuk-textarea govuk-js-character-count @Html.ShowModelStateInputErrorClass(ViewData.ModelState, nameof(Model.Reason))" asp-for="Reason" rows="5" autocomplete="reason"
                              aria-required="true" error-describedby-for="Reason"></textarea>
                </div>
                <div id="Reason-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 200 characters
                </div>
            </div>


            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a asp-area="admin" asp-controller="UserAdmin" asp-action="ReviewAccountRequest" asp-route-id="@Model.AccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
