@model UKMCAB.Web.UI.Models.ViewModels.Admin.User.UserAccountListViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">User accounts</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div>
            @if (Model.PendingAccountsCount > 0)
            {
                <p class="govuk-body">
                    <a asp-area="admin" asp-controller="UserAdmin" asp-action="AccountRequestList" class="govuk-link">Pending account request@(Model.PendingAccountsCount > 1 ? "s" : string.Empty) (@Model.PendingAccountsCount)</a>
                </p>
            }
            else
            {
                <p class="govuk-body">There are currently no pending account requests</p>
            }
        </div>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @if (Model.UserAccounts.Any())
                {
                    <th scope="col" class="govuk-table__header">First name</th>
                    <th scope="col" class="govuk-table__header">Surname</th>
                    <th scope="col" class="govuk-table__header">Email address</th>
                    <th scope="col" class="govuk-table__header">Last logon date</th>
                }
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @if (Model.UserAccounts.Any())
            {
                @foreach (var account in Model.UserAccounts)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">@account.FirstName</th>
                        <td class="govuk-table__cell">@account.Surname</td>
                        <td class="govuk-table__cell">@account.ContactEmailAddress</td>
                        <td class="govuk-table__cell">@account.LastLogonUtc?.ToString("dd/MM/yy HH:mm")</td>
                    </tr>
                }
            }
            else
            {
                <tr class="govuk-table__row">
                    <td>
                        <p class="govuk-body">There are no users to display</p></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

