@using UKMCAB.Data.Models.Users;
@model UKMCAB.Web.UI.Models.ViewModels.Admin.User.UserAccountListViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-tabs user-accounts-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#active-user-list">Active</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a asp-route="@UserAdminController.Routes.UserAccountRequestsList" style="color:#0b0c0c;">Requests (@Model.PendingAccountsCount)</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a asp-route="@UserAdminController.Routes.UserListLocked" style="color:#0b0c0c;">Locked</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a asp-route="@UserAdminController.Routes.UserListArchived" style="color:#0b0c0c;">Archived</a>
                </li>
            </ul>
            <div class="govuk-tabs__panel govuk-body" id="active-user-list">
                
                <table class="govuk-table govuk-!-font-size-16">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            @if (Model.UserAccounts.Any())
                            {
                                <th scope="col" class="govuk-table__header">
                                    <sort target="@nameof(UserAccount.FirstName)" sort="@Model.SortField" sort-direction="@Model.SortDirection">First name</sort>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    <sort target="@nameof(UserAccount.Surname)" sort="@Model.SortField" sort-direction="@Model.SortDirection">Last name</sort>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    <sort target="@nameof(UserAccount.ContactEmailAddress)" sort="@Model.SortField" sort-direction="@Model.SortDirection">Email</sort>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    <sort target="@nameof(UserAccount.Role)" sort="@Model.SortField" sort-direction="@Model.SortDirection">User group</sort>
                                </th>
                                <th scope="col" class="govuk-table__header">
                                    <sort target="@nameof(UserAccount.LastLogonUtc)" sort="@Model.SortField" sort-direction="@Model.SortDirection">Last log in</sort>
                                </th>
                                <th scope="col" class="govuk-table__header">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model.UserAccounts.Any())
                        {
                            @foreach (var account in Model.UserAccounts)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" title="@account.FirstName" style="overflow:hidden; white-space:nowrap">@account.FirstName.Ellipsis(15)</td>
                                    <td class="govuk-table__cell" title="@account.Surname" style="overflow:hidden; white-space:nowrap">@account.Surname.Ellipsis(15)</td>
                                    <td class="govuk-table__cell" style="overflow:hidden; white-space:nowrap" title="@account.GetEmailAddress()">@account.GetEmailAddress().Ellipsis(40)</td>
                                    <td class="govuk-table__cell">@UKMCAB.Core.Security.Roles.NameFor(account.Role)</td>
                                    <td class="govuk-table__cell" style="overflow:hidden; white-space:nowrap">@(account.LastLogonUtc?.ToString("dd/MM/yyyy HH:mm") ?? "None")</td>
                                    <td class="govuk-table__cell">
                                        <a asp-route="@UserAdminController.Routes.UserAccount" asp-route-id="@account.Id" class="govuk-link">View</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="govuk-table__row">
                                <td>
                                    <p class="govuk-body">There are no users to display</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.UserAccounts.Any())
                {
                    <div id="user-management-pagination-container">
                        <partial name="Partials/_Pagination" model="Model.Pagination" />
                    </div>
                }
            </div>
        </div>

    </div>
</div>

