@using System.Net
@model UKMCAB.Web.UI.Models.ViewModels.Admin.User.UserAccountEditViewModel
@{
    var userName = $"{Model.UserAccount.FirstName} {Model.UserAccount.Surname}";
}


@section BackButton
    {
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (string.IsNullOrWhiteSpace(Model.ReturnURL))
                {
                    <a href="@Url.RouteUrl(UserAdminController.Routes.UserList)" class="govuk-back-link">Back</a>
                }
                else
                {
                    <a href="@WebUtility.UrlDecode(Model.ReturnURL)" class="govuk-back-link">Back</a>
                }
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-m">@Model.Title</span>
                    <h1 class="govuk-heading-l">Edit user: @userName</h1>
                </div>
            </div>
            <input asp-for="ReturnURL" type="hidden" />
            <fieldset class="govuk-fieldset">
                
                <govuk-input name="Email" input-class="govuk-!-width-two-thirds" label-class="govuk-label--s" asp-for="Email">
                    <govuk-input-hint>Maximum length is 500 characters</govuk-input-hint>
                </govuk-input>

                <govuk-input name="Organisation" input-class="govuk-!-width-two-thirds" label-class="govuk-label--s" asp-for="Organisation">
                    <govuk-input-hint>Maximum length is 500 characters</govuk-input-hint>
                </govuk-input>

                <govuk-select name="UserGroup" select-class="govuk-!-width-two-thirds" label-class="govuk-label--s" asp-for="UserGroup">
                    <govuk-select-label>Select a user group</govuk-select-label>
                    <govuk-select-hint>The user will be added to this user group</govuk-select-hint>
                    <govuk-select-item value="">Select a user group</govuk-select-item>
                    @foreach (var role in UKMCAB.Core.Security.Roles.List)
                    {
                        if (role.Id == Model.UserGroup)
                        {
                            <govuk-select-item value="@role.Id"  selected >@role.Label</govuk-select-item>
                        }
                        else
                        {
                            <govuk-select-item value="@role.Id">@role.Label</govuk-select-item>
                        }
                    }
                </govuk-select>

            </fieldset>

            <div class="govuk-button-group">
                <govuk-button id="search-keyword-button" type="submit">Save</govuk-button>
                <a asp-area="admin" asp-controller="UserAdmin" asp-action="UserAccount" asp-route-id="@Model.UserAccount.Id" asp-route-returnUrl="@Model.ReturnURL" class="govuk-link">Cancel</a>
            </div>

        </form>
    </div>
</div>
