@using UKMCAB.Web.UI.Areas.Search.Controllers;
@using UKMCAB.Web.UI.Models.ViewModels.Admin.ServiceManagement;
@using UKMCAB.Core.Security;
@model InternalLandingPageViewModel;
@{
    ViewData["nav"] = "service-management";
}

<div id="service-management-page" class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Manage the service</h1>
    </div>

    <div id="notifications" class="govuk-grid-column-one-third">
        <div>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@NotificationController.Routes.Notifications">
                        Notifications
                    </a>
                </caption>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@NotificationController.Routes.Notifications" asp-fragment="@NotificationController.UnassignedTabName" asp-route-pagenumber="1"  >
                            Unassigned
                        </a>
                    </th>
                    <td class="govuk-table__cell">@Model.UnassignedNotification</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@NotificationController.Routes.Notifications" asp-fragment="@NotificationController.AssignedToGroupTabName" asp-route-pagenumber="1">
                            Assigned
                        </a>
                    </th>
                    <td class="govuk-table__cell">@Model.AssignedNotification</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@NotificationController.Routes.Notifications" asp-fragment="@NotificationController.AssignedToMeTabName">
                            Assigned to me
                        </a>
                    </th>
                    <td class="govuk-table__cell">@Model.AssignedToMeNotification</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="search-for-a-cab" class="govuk-grid-column-one-half">
        <div class="service-management-col-width-65-percent">


            <form id="search-results-form" asp-route="@SearchController.Routes.Search" method="get" novalidate>
                <div id="search-results" class="govuk-grid-row">

                    <div id="search-keyword-container">
                        <div id="search-filter-keywords">
                            <fieldset aria-describe="search the conformity assessment body database using keywords or search terms">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@SearchController.Routes.Search">
                                        Search for a CAB
                                    </a>
                                </h2>
                                <label id="keywords-hidden-label" class="govuk-label govuk-label--m" asp-for="Keywords">
                                    Search for a CAB
                                </label>
                                <div id="search-filter-keywords-input-container">
                                    <input type="text" asp-for="Keywords" class="govuk-input search-box"/>
                                    <button id="search-keyword-button" type="submit">Search</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
        <div id="manage-cabs">

            <table class="govuk-table">


                <caption class="govuk-table__caption govuk-table__caption--m">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@CabManagementController.Routes.CABManagement">
                        Manage CABs
                    </a>
                </caption>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@CabManagementController.Routes.CABManagement" asp-route-filter="draft">
                            Draft
                        </a>
                    </th>
                    <td class="govuk-table__cell">@Model.TotalDraftCABs</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@CabManagementController.Routes.CABManagement">
                            Awaiting approval
                        </a>
                    </th>
                    <td class="govuk-table__cell">@Model.TotalCABsPendingApproval</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@CABController.Routes.CreateNewCab">
                            Create a CAB
                        </a>
                    </th>
                    <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    @if (User.HasClaim(Claims.UserManagement))
    {
        <div id="manage-users" class="govuk-grid-column-one-half">
            <div class="service-management-col-width-65-percent">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@UserAdminController.Routes.UserAccountRequestsList">
                            Manage users
                        </a>
                    </caption>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell">
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@UserAdminController.Routes.UserAccountRequestsList">
                                Account requests
                            </a>
                        </th>
                        <td class="govuk-table__cell">@Model.TotalAccountRequests</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>