<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            UK Market Conformity Assessment Bodies Terms of Use
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            These Terms and conditions (‘Terms’)  govern your use of the UK Market Conformity Assessment Bodies (‘UKMCAB’), 
            the web pages the service is made available on and the  database of information forming part of the service (together, ‘The Service’).
        </p>
        <p class="govuk-body">
            Your use of The Service is also governed by GOV.UK's <a class="govuk-link" href="https://www.gov.uk/help/terms-conditions" target="_blank">Terms and Conditions @Html.OpensInNewWindow()</a>.
        </p>
        <p class="govuk-body">
            Please read the terms of our <a class="govuk-link" asp-area="Home" asp-controller="Footer" asp-action="Privacy">
                Privacy Notice</a> that applies to The Service.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Who we are</h2>
        <p class="govuk-body">
            The  Service is managed by the Office for Product Safety and Standards (‘OPSS’), which is part of the 
            Department of Business and Trade (‘DBT’) and OPSS acts on behalf of the Secretary of State, is referred 
            to as 'we' in these Terms.
        </p>
        <p class="govuk-body">
            If you have any questions relating to these Terms or The Service you can contact us at: 
            <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-padding-top-3">What's in these Terms?</h2>
        <p class="govuk-body">These Terms tell you the rules for using The Service.</p>
        <p class="govuk-body">Click on the links below to go straight to more information on each area:</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--bullet">
           <li><a class="govuk-link" href="#about-the-service">About The Service</a></li>
            <li><a class="govuk-link" href="#you-accept-these-terms">By using The Service you accept these Terms</a></li>
            <li><a class="govuk-link" href="#we-will-tell-reg-users-when-terms-changes">We will tell registered users if and when we make changes to these Terms</a></li>
            <li><a class="govuk-link" href="#we-may-make-changes-to-the-service">We may make changes to The Service</a></li>
            <li><a class="govuk-link" href="#we-may-supspend-the-service">We may suspend or withdraw The Service</a></li>
            <li><a class="govuk-link" href="#you-must-keep-your-account-details-safe">You must keep your account details safe</a></li>
            <li><a class="govuk-link" href="#our-material-on-the-service">Our material on The Service</a></li>
            <li><a class="govuk-link" href="#your-info-on-the-service">Your information on The Service</a></li>
            <li><a class="govuk-link" href="#other-info-on-the-service">Other information on The Service</a></li>
            <li><a class="govuk-link" href="#donot-rely-on-info-available-through-the-service">Do not rely on information made available through The Service</a></li>
            <li><a class="govuk-link" href="#linking-to-the-service">Linking to The Service</a></li>
            <li><a class="govuk-link" href="#linking-from-the-service">Linking from The Service</a></li>
            <li><a class="govuk-link" href="#prohibited-uses-of-the-service">Prohibited uses of The Service</a></li>
            <li><a class="govuk-link" href="#request-to-remove-content">Requests to remove content</a></li>
            <li><a class="govuk-link" href="#we-are-not-responsible-for-viruses">We are not responsible for viruses and you must not introduce them</a></li>
            <li><a class="govuk-link" href="#our-responsibility-for-loss-suffered-by-you">Our responsibility for loss or damage suffered by you</a></li>
            <li><a class="govuk-link" href="#general-terms">General terms</a></li>
            <li><a class="govuk-link" href="#countries-whose-laws-apply-to-these-terms">Countries whose laws apply to these Terms</a></li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="about-the-service" class="govuk-heading-m govuk-!-padding-top-3">About The Service</h2>
        <p class="govuk-body">
            The Service is used by organisations, OPSS, UK Accreditation Service (‘UKAS’) and other governmental departments (‘OGDs’) 
            as the register of UK Government appointed Conformity Assessment Bodies (‘CABs’) who can certify goods for both the Great Britain (‘GB’) and 
            Northern Ireland (‘NI’) markets. UKAS, OGDs and OPSS also use this Service to monitor and process CAB requests and accreditations. The Service 
            has been developed alongside people from these organisations by the digital team at OPSS.
        </p>
        <p class="govuk-body">
            While searching the register and viewing information on these CABs is open to the public, you need to be a member of UKAS, 
            OPSS or one of the other governmental departments to monitor and manage the CAB accreditation process.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="you-accept-these-terms" class="govuk-heading-m govuk-!-padding-top-3">By using The Service you accept these Terms</h2>
        <p class="govuk-body">
            By using The Service you confirm that you accept these Terms and that you agree to comply with them. If you do not agree to these 
            Terms you must not use The Service.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="we-will-tell-reg-users-when-terms-changes" class="govuk-heading-m govuk-!-padding-top-3">We will tell registered users if and when we make changes to these Terms</h2>
        <p class="govuk-body">
            We amend these Terms from time to time. When we make a change to these Terms we will notify registered users through The Service. 
            These pages will also be updated to reflect any change and the News and/or About sections of this site also updated to point to the new Terms.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="we-may-make-changes-to-the-service" class="govuk-heading-m govuk-!-padding-top-3">We may make changes to The Service</h2>
        <p class="govuk-body">
            We may update and change The Service in the future to improve and update it or to reflect changes in policy that may affect The Service. 
            We will give you reasonable notice of any major changes. When changes are made, we will update the News section to explain the changes.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="we-may-supspend-the-service" class="govuk-heading-m govuk-!-padding-top-3">We may suspend or withdraw The Service</h2>
        <p class="govuk-body">
            The Service is made available free of charge.
        </p>
        <p class="govuk-body">
            We do not guarantee that The Service, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or 
            restrict the availability of all or any part of The Service for business and operational reasons. We will try to give you reasonable notice 
            of any suspension or withdrawal.
        </p>
        <p class="govuk-body">
            You are also responsible for ensuring that all persons who access The Service through your internet connection are aware of these Terms and 
            other applicable terms and conditions and that they comply with them.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="you-must-keep-your-account-details-safe" class="govuk-heading-m govuk-!-padding-top-3">You must keep your account details safe</h2>
        <p class="govuk-body">
            If you choose, or you are provided with, a user identification, password or any other piece of information as part of our security procedures, 
            you must treat such information as confidential. You must not disclose it to any third party. It is your responsibility to keep your account 
            user details up to date.
        </p>
        <p class="govuk-body">
            We have the right to disable any registered user account at any time, if in our reasonable opinion you have failed to comply with any of the 
            provisions of these Terms.
        </p>
        <p class="govuk-body">
            If you know or suspect that anyone other than you knows your user identification or password, you must promptly notify us at 
            <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="our-material-on-the-service" class="govuk-heading-m govuk-!-padding-top-3">Our material on The Service</h2>
        <p class="govuk-body">
            Most of our material on The Service is subject to 
            <a class="govuk-link" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" target="_blank">Crown copyright protection @Html.OpensInNewWindow()</a> and is published under the <a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">Open Government Licence @Html.OpensInNewWindow()</a> (‘OGL’).
        </p>
        <p class="govuk-body">
            You can reproduce material published on The Service under the OGL as long as you follow the licence’s conditions. Open Government Licence.
        </p>
        <p class="govuk-body">
            Some of our material is exempt from the OGL – please check the 
            <a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">list of exemptions @Html.OpensInNewWindow()</a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="your-info-on-the-service" class="govuk-heading-m govuk-!-padding-top-3">Your information on The Service</h2>
        <p class="govuk-body">
            Whenever you make use of a feature that allows you to upload information to The Service or make contact with other users of 
            The Service you must comply with the 'Prohibited uses of The Service' clause below.
        <p class="govuk-body">
            You warrant that any information you contribute to The Service complies with that clause and you will be liable to us and 
            indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.
        </p>
        <p class="govuk-body">
            Unless you are a civil servant, in which case your information is subject to the rules on <a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/1/open-government-licence.htm" target="_blank">Crown copyright protection @Html.OpensInNewWindow()</a>, you retain all of your ownership rights of your information but you are required to grant and you hereby grant us and other users of
            The Service a limited licence to use, store and copy that information and to distribute and make it available to third parties.
        </p>
        <p class="govuk-body">We may:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>make relevant information publicly available;</li>
            <li>exchange product and other relevant information with third parties as part of co-operation on market surveillance.</li>
        </ul>
        <p class="govuk-body">We have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to 
            The Service constitutes a violation of their intellectual property rights, or of their right to privacy.
        </p>
        <p class="govuk-body">You are solely responsible for securing and backing up your information.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="other-info-on-the-service" class="govuk-heading-m govuk-!-padding-top-3">Other information on The Service</h2>
        <p class="govuk-body">
            The Service may include information and materials uploaded by other users of The Service. They may not have been verified or approved by us. 
            The views expressed by other users on The Service do not represent our views or values.
        <p class="govuk-body">
            If you wish to complain about information and materials uploaded by other users please contact us at: 
            <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="donot-rely-on-info-available-through-the-service" class="govuk-heading-m govuk-!-padding-top-3">Do not rely on information made available through The Service</h2>
        <p class="govuk-body">
            While the information entered into this Service is verified and approved by various different organisations and departments, and while we make 
            every effort to keep The Service up to date and secure, we do not provide any guarantees, conditions or warranties that the information available 
            on or through The Service will be:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>current;</li>
            <li>secure;</li>
            <li>accurate;</li>
            <li>complete; and/or</li>
            <li>free from bugs or viruses.</li>
        </ul>
        <p class="govuk-body">
            We are not liable for any loss or damage that may come from your use of information available on or through The Service.
        </p>
        <p class="govuk-body">
            We do not publish advice on The Service. You should get professional or specialist advice before doing anything on the basis of the content of The Service.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="linking-to-the-service" class="govuk-heading-m govuk-!-padding-top-3">Linking to The Service</h2>
        <p class="govuk-body">
            We welcome and encourage other websites to link to the homepage of The Service, provided you do so in a way that is fair and legal and does not damage our 
            reputation or take advantage of it.
        </p>        
        <p class="govuk-body">
            You must contact us at 
            <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a> for permission if you want to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>charge your website’s users to click on a link to any page on The Service</li>
            <li>say your website or organisation is associated with or endorsed by The Service, UKAS, OPSS, DBT or another government department or agency.</li>
        </ul>
        <p class="govuk-body">
            We reserve the right to withdraw linking permission without notice.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="linking-from-the-service" class="govuk-heading-m govuk-!-padding-top-3">Linking from The Service</h2>
        <p class="govuk-body">
            The Service links to websites that are managed by others, including but not limited to government departments, agencies, 
            service providers or commercial organisations. We do not have any control over the content on these websites.
        </p>        
        <p class="govuk-body">
            We are not responsible for:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the content or information available on these websites</li>
            <li>the protection of any information you give to these websites</li>
            <li>any loss or damage that may come from your use of these websites, or any other websites they link to.</li>
        </ul>
        <p class="govuk-body">
            You agree to release us from any claims or disputes that may come from using these websites.
        </p>        
        <p class="govuk-body">
            You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="prohibited-uses-of-the-service" class="govuk-heading-m govuk-!-padding-top-3">Prohibited uses of The Service</h2>
        <p class="govuk-body">
            You may use The Service only for lawful purposes. You may not use The Service:
        </p>        
        <ul class="govuk-list govuk-list--bullet">
            <li>in any way that infringes the rights of, or restrict or inhibit the use and enjoyment of, The Service by anyone else</li>
            <li>in any way that breaches any applicable local, national or international law or regulation</li>
            <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect</li>
            <li>to make inaccurate or misleading statements where you provide information</li>
            <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam)</li>
            <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, 
                spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software 
                or hardware
            </li>
            <li>to interfere with, damage or disrupt any part of The Service; any equipment or network on which The Service is stored; any software used in the provision of 
                The Service; and/or any equipment or network or software owned or used by any third party.
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="request-to-remove-content" class="govuk-heading-m govuk-!-padding-top-3">Requests to remove content</h2>
        <p class="govuk-body">
            You can ask for content to be removed from The Service. We will remove content:
        </p>        
        <ul class="govuk-list govuk-list--bullet">
            <li>in order to comply with data protection legislation covering the rights and freedoms of individuals</li>
            <li>if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory</li>
            <li>if the information displayed on your, or any, organisation is no longer relevant or accurate.</li>
        </ul>
        <p class="govuk-body">
            Please contact us at <a class="govuk-link" href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a> to ask for content to be removed. You will need to send us the web address (URL) of the content and
            explain why you think it should be removed. We will acknowledge receipt of your email within 5 working days and we will consider your request and 
            reply to let you know whether we will remove it.
        </p>
        <p class="govuk-body">
            We remove content at our discretion in discussion with the organisation, department or agency responsible for it. You can still request information under 
            the Freedom of Information Act and the Data Protection Act.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="we-are-not-responsible-for-viruses" class="govuk-heading-m govuk-!-padding-top-3">We are not responsible for viruses and you must not introduce them</h2>
        <p class="govuk-body">
            We make every effort to check and test The Service for viruses at every stage of production. You must make sure that the way you use 
            The Service does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your 
            computer system.
        </p>        
        <p class="govuk-body">
            We are not responsible for any loss, disruption or damage to your data or computer system that might happen when you use The Service.
        </p>
        <p class="govuk-body">
            When using The Service, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.
        </p>        
        <p class="govuk-body">
            You must not try to gain unauthorised access to The Service, the server on which it’s stored or any server, computer or database connected to it.
        </p>        
        <p class="govuk-body">
            You must not attack The Service in any way. This includes denial-of-service attacks.
        </p>
        <p class="govuk-body">
            We will report any attacks or attempts to gain unauthorised access to The Service to the relevant law enforcement authorities and share information 
            about you with them.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="our-responsibility-for-loss-suffered-by-you" class="govuk-heading-m govuk-!-padding-top-3">Our responsibility for loss or damage suffered by you</h2>
        <p class="govuk-body">
            We are not liable for any loss or damage that may come from using The Service. This includes, but is not limited to:
        </p>        
        <ul class="govuk-list govuk-list--bullet">
            <li>any direct, indirect or consequential losses</li>
            <li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
            <li>the use of The Service and any websites that are linked to or from it</li>
            <li>the inability to use The Service and any websites that are linked to or from it.</li>
        </ul>
        <p class="govuk-body">
            This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.
        </p>
        <p class="govuk-body">
            This includes (but is not limited to) the loss of your income or revenue; salary, benefits or other payments; business; profits or 
            contracts; opportunity; anticipated savings; data; goodwill or reputation; tangible property; intangible property, including loss, 
            corruption or damage to data or any computer system; and/or wasted management or office time.
        </p>
        <p class="govuk-body">
            We may still be liable for:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>death or personal injury arising from our negligence</li>
            <li>fraudulent misrepresentation</li>
            <li>any other liability which cannot be excluded or limited under applicable law.</li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="general-terms" class="govuk-heading-m govuk-!-padding-top-3">General terms</h2>
        <p class="govuk-body">
            We are not liable if we fail to comply with these Terms because of circumstances beyond our reasonable control.
        </p>
        <p class="govuk-body">
            We might decide not to exercise or enforce any right available to us under these Terms. We can always decide to exercise or enforce that right at a later date. 
            Doing this once will not mean we automatically waive the right on any other occasion.
        </p>
        <p class="govuk-body">
            If any terms of these Terms are held to be invalid, unenforceable or illegal for any reason, the remaining Terms will still apply.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 id="countries-whose-laws-apply-to-these-terms" class="govuk-heading-m govuk-!-padding-top-3">Countries whose laws apply to these Terms</h2>
        <p class="govuk-body">
            These Terms, their subject matter and their formation (and any non-contractual disputes, controversies or claims) are governed by English law.
        </p>
        <p class="govuk-body">
            You and we both agree that the courts of England and Wales will have exclusive jurisdiction to hear, settle and/or determine any dispute, controversy 
            or claim (including any non-contractual dispute, controversy or claim) arising out of or in connection with these Terms.
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body  govuk-!-padding-top-7 govuk-!-font-size-16">Last updated 2nd May 2023</p>
    </div>
</div>
