@using UKMCAB.Data
@using UKMCAB.Web.UI.Models.ViewModels.Admin.CAB
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileUploadViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" />
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">

    @using (Html.BeginForm("DocumentsUseFileAgain", "FileUploadManagement", Model.IsFromSummary ? new { area = "admin", id = @Model.CABId, fromSummary = "true" } : new { area = "admin", id = @Model.CABId }, FormMethod.Post, false, new { enctype = "multipart/form-data", novalidate = "true" }))
    {
        <div class="govuk-grid-column-full">

            <partial name="Partials/_ValidationSummary" model="null"/>

            <div>
                <span class="govuk-caption-m">@Model.Title</span>
                <h1 class="govuk-heading-l">@Model.Title</h1>
                <p id="selectFileToUseAgainHint" class="govuk-body govuk-!-padding-bottom-2">Select the file you want to use again.</p>
                <h2 class="govuk-heading-s">
                    Files you have uploaded
                </h2>
            </div>

            <div class="govuk-form-group govuk-main-wrapper @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.IndexofSelectedFile))">
                <fieldset class="govuk-fieldset" aria-describedby="selectFileToUseAgainHint">
                    <p class="govuk-error-message">
                        <span asp-validation-for="IndexofSelectedFile" class="govuk-error-message"></span>
                    </p>

                    @* Header *@
                    <div style="margin-bottom:0" class="govuk-grid-row display-from-desktop">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-s">File</h3>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h3 class="govuk-heading-s">Category</h3>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h3 class="govuk-heading-s">Publications</h3>
                        </div>
                    </div>

                    <hr class="ukmcab-border" />

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                        @for (int i = 0; i < Model.UploadedFiles.Count; i++)
                        {
                            var uploadedFile = Model.UploadedFiles[i];
                            
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="govuk-radios__item">
                                        @*Row 1: Radio Row*@
                                        <div class="row">
                                            <div class="width-one-tenth">
                                                <input asp-for="UploadedFiles![i].Label" type="hidden" id="UploadedFiles[@i].Label" value="@uploadedFile.Label">
                                                <input asp-for="UploadedFiles![i].FileName" type="hidden" value="@uploadedFile.FileName">
                                                <input asp-for="UploadedFiles![i].Category" type="hidden" value="@uploadedFile.Category">
                                                <input asp-for="UploadedFiles![i].IsDuplicated" type="hidden" value="@uploadedFile.IsDuplicated">
                                                <input asp-for="UploadedFiles![i].Publication" type="hidden" value="@uploadedFile.Publication">
                                            </div>
                                            <div class="width-three-fifth ukmcab-float__left ukmcab-min-width__350">
                                                <input class="govuk-radios__input" asp-for="IndexofSelectedFile" type="radio" value="@i">
                                                <label class="govuk-label govuk-radios__label" asp-for="IndexofSelectedFile">
                                                    <span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@uploadedFile.FileName</a>
                                                </label>
                                            </div>

                                            <div class="width-one-fifth ukmcab-float__left">
                                                <label class="govuk-label break-word"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Row 2*@
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">File</label>
                                    <p class="govuk-body file-label document-file-name">@uploadedFile.Label</p>
                                </div>

                                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">Category</label>
                                    <p class="govuk-body">
                                        @Html.Conditional(!string.IsNullOrWhiteSpace(uploadedFile.Category), uploadedFile.Category, @Constants.NotAssigned)
                                    </p>
                                </div>
                                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">Publications</label>
                                    <p class="govuk-body">
                                        @uploadedFile.Publication
                                    </p>
                                </div>
                            </div>
                            <div class="ukmcab-float__left width-full">
                                <hr class="ukmcab-border"/>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-button-group ukmcab-padding-top-50">
                <button class="govuk-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.UseFileAgain" type="submit">
                    Use file again
                </button>
                <a asp-area="admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </div>
    }
</div>