@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileUploadViewModel

@section BackButton
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="Admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" />
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">

    @using (Html.BeginForm("DocumentsReplaceFile", "FileUploadManagement", Model.IsFromSummary ? new { area = "admin", id = @Model.CABId, fromSummary = "true" } : new { area = "admin", id = @Model.CABId }, FormMethod.Post, false, new { enctype = "multipart/form-data", novalidate = "true" }))
    {
        <div class="govuk-grid-column-full">

            <partial name="Partials/_ValidationSummary" model="null" />

            <div>
                <span class="govuk-caption-m">@Model.Title</span>
                <h1 class="govuk-heading-l">@Model.Title</h1>
                <p id="selectFileToReplaceHint" class="govuk-body govuk-!-padding-bottom-2">Select the file you want to replace.</p>
                <h2 class="govuk-heading-s">
                    Files you have uploaded
                </h2>
            </div>

            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, nameof(Model.IndexofSelectedFile))">
                <fieldset class="govuk-fieldset" aria-describedby="selectFileToReplaceHint">

                    <p class="govuk-error-message">
                        <span asp-validation-for="IndexofSelectedFile" class="govuk-error-message"></span>
                    </p>

                    @* Header *@
                    <div style="margin-bottom:0" class="govuk-grid-row display-from-desktop">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-s">File</h3>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h3 class="govuk-heading-s">Category</h3>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <h3 class="govuk-heading-s">Publications</h3>
                        </div>
                    </div>

                    <hr class="ukmcab-border" />

                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

                        @for (int i = 0; i < Model.UploadedFiles.Count; i++)
                        {
                            var uploadedFile = Model.UploadedFiles[i];
                            
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="govuk-radios__item">
                                        @*Row 1: Checkbox Row*@
                                        <div class="row">
                                            <div class="width-one-tenth">
                                                <input asp-for="UploadedFiles![i].Label" type="hidden" id="UploadedFiles[@i].Label" value="@uploadedFile.Label">
                                                <input asp-for="UploadedFiles![i].FileName" type="hidden" value="@uploadedFile.FileName">
                                                <input asp-for="UploadedFiles![i].Category" type="hidden" value="@uploadedFile.Category">
                                                <input asp-for="UploadedFiles![i].IsReplaced" type="hidden" value="@uploadedFile.IsReplaced">
                                                <input asp-for="CABId" type="hidden" />
                                            </div>
                                            <div class="width-three-fifth ukmcab-float__left ukmcab-min-width__350">
                                                <input class="govuk-radios__input" asp-for="IndexofSelectedFile" type="radio" value="@i">
                                                <label class="govuk-label govuk-radios__label" asp-for="IndexofSelectedFile">
                                                    <span class="file-number">@(i + 1).</span> <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@uploadedFile.FileName" asp-route-filetype="@DataConstants.Storage.Documents">@uploadedFile.FileName</a>
                                                </label>
                                            </div>
                                            <div class="width-one-fifth ukmcab-float__left">
                                                <label class="govuk-label break-word"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Row 2: Inputbox Row*@
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">File</label>
                                    <p class="govuk-body file-label document-file-name">@uploadedFile.Label</p>
                                </div>

                                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">Category</label>
                                    <p class="govuk-body">
                                        @Html.Conditional(!string.IsNullOrWhiteSpace(uploadedFile.Category), uploadedFile.Category, @Constants.NotAssigned)
                                    </p>
                                </div>
                                <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
                                    <label class="govuk-label govuk-label--s display-until-desktop">Publications</label>
                                    <p class="govuk-body">
                                        @uploadedFile.Publication
                                    </p>
                                </div>
                            </div>
                            <div class="ukmcab-float__left width-full govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                                <hr class="ukmcab-border" />
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <input type="hidden" asp-for="IsFromSummary" />

            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "File")">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="File">
                    Select PDF file
                </label>
                <span asp-validation-for="File" class="govuk-error-message"></span>
                <input id="File" class="govuk-file-upload schedules-upload" asp-for="File" accept=".pdf" type="file">
            </div>

            <div id="schedule-replace-button-group" class="govuk-button-group">
                <button class="govuk-button js-submit-button" id="replace-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.ReplaceFile" data-submitting-text="Uploading...">
                    Replace
                </button>
                <a asp-area="admin" asp-controller="FileUpload" asp-action="DocumentsList" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </div>
    }
</div>