@using UKMCAB.Data
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.FileUploadViewModel

@section BackButton
{
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-back-link asp-area="admin" asp-controller="cab" asp-action="schedules-list" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary" />
            </div>
        </div>
    </div>
}
@{
    var file = Model.UploadedFiles[0];
}

<div class="govuk-grid-row">

    @using (Html.BeginForm("SchedulesReplaceFile", "FileUploadManagement", new { area = "admin", id = @Model.CABId }, FormMethod.Post, false, new { enctype = "multipart/form-data", novalidate = "true" }))
    {
        <div class="govuk-grid-column-full">

            <partial name="Partials/_ValidationSummary" model="null"/>

            <div>
                <span class="govuk-caption-m">@Model.Title</span>
                <h1 class="govuk-heading-l">@Model.Title</h1>                
                <h2 class="govuk-heading-s">You have selected: </h2>
            </div>


            <div class="govuk-form-group">
                <input asp-for="UploadedFiles![0].Label" type="hidden" id="UploadedFiles[0].Label" value="@file.Label">
                <input asp-for="UploadedFiles![0].FileName" type="hidden" value="@file.FileName">
                <input asp-for="UploadedFiles![0].LegislativeArea" type="hidden" value="@file.LegislativeArea">
                <input asp-for="UploadedFiles![0].IsReplaced" type="hidden" value="@file.IsReplaced">
                <input asp-for="CABId" type="hidden" />
                <input asp-for="IsFromSummary" type="hidden" />
                <fieldset class="govuk-fieldset" aria-describedby="selectFileToReplaceHint">
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                            <dt class="govuk-summary-list__key">
                                Title:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @file.Label
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                            <dt class="govuk-summary-list__key">
                                Filename:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a class="govuk-link file-link" asp-area="Search" asp-controller="CABProfile" asp-action="Download" asp-route-id="@Model.CABId" asp-route-file="@file.FileName" asp-route-filetype="@DataConstants.Storage.Schedules">@file.FileName</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                            <dt class="govuk-summary-list__key">
                                From legislative area:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Conditional(!string.IsNullOrWhiteSpace(file.LegislativeArea), file.LegislativeArea, @Constants.NotAssigned)
                            </dd>
                        </div>
                    </dl>
                </fieldset>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
            
            <div class="govuk-form-group @Html.ShowModelStateFormGroupErrorClass(ViewData.ModelState, "File")">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="File">
                    Select PDF file
                </label>
                <span asp-validation-for="File" class="govuk-error-message"></span>
                <input id="File" class="govuk-file-upload schedules-upload" asp-for="File" accept=".pdf" type="file">
            </div>

            <div id="schedule-replace-button-group" class="govuk-button-group">
                <button class="govuk-button js-submit-button" id="replace-button" data-module="govuk-button" name="submitType" value="@Constants.SubmitType.ReplaceFile" data-submitting-text="Uploading...">
                    Replace
                </button>
                <a class="govuk-link govuk-link--no-visited-state" asp-area="admin" asp-controller="FileUpload" asp-action="SchedulesList" asp-route-id="@Model.CABId" asp-route-fromSummary="@Model.IsFromSummary">Cancel</a>
            </div>
        </div>
    }
</div>