@model UKMCAB.Web.UI.Models.ViewModels.Shared.MobileSortTableViewModel
<form method="get" class="sort-form desktop-no-display">
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="@Model.SortField">
            Sort by
        </label>
        <select class="govuk-select sort-option" asp-for="@Model.SortField" name="sf" style="width: 100%">
            @foreach (var option in Model.SortSelectItems)
            {
                <option value="@option.Item1">@option.Item2</option>
            }
        </select>
        <input type="hidden" name="sd" class="sort-direction" value="@Model.SortDirection"/>
    </div>
</form>