@model PaginationViewModel
<div class="pagination-container">
    <div class="pagination-detail-container">
        @if (Model.Total == 0)
        {
            <span>Showing <span class="govuk-!-font-weight-bold">0</span> @Model.ResultType</span>
        }
        else
        {
            <span>Showing @Model.FirstResult - @Model.LastResult of <span class="govuk-!-font-weight-bold">@Model.Total</span> @Model.ResultType</span>
        }
    </div>

    @if (Model.TotalPages > 1)
    {
        var basePath = Context.Request.RemoveQueryParameters("pagenumber");
        basePath += basePath.Contains("?") ? "&pagenumber=" : "?pagenumber=";
        var tab = !string.IsNullOrWhiteSpace(Model.TabId) ? "#" + Model.TabId : string.Empty;
        var pageRange = Model.PageRange();
        <nav class="pagination-links-container">
            <ul class="pagination-links">
                @if (Model.ShowPrevious)
                {
                    <li class="pagination-link-item pagination-previous"><a href="@(basePath + (Model.PageNumber - 1) + tab)" class="govuk-link govuk-link--no-visited-state"><span>Previous</span></a></li>
                }
                @foreach (var pageNumber in pageRange)
                {
                    if (pageNumber == Model.PageNumber)
                    {
                        <li class="pagination-link-item pagination-page-link" aria-current="page"><span>@Model.PageNumber</span></li>
                    }
                    else
                    {
                        <li class="pagination-link-item pagination-page-link"><a href="@(basePath + pageNumber + tab)" class="govuk-link govuk-link--no-visited-state"><span>@pageNumber</span></a></li>
                    }
                    if (pageNumber == 1 && !pageRange.Contains(2))
                    {
                        <li class="pagination-link-item pagination-page-link" aria-hidden="true"><span>&hellip;</span></li>
                    }
                }
                @if (Model.ShowNext)
                {
                    <li class="pagination-link-item"><a href="@(basePath + (Model.PageNumber + 1) + tab)" class="govuk-link govuk-link--no-visited-state"><span>Next</span></a></li>
                }
            </ul>
        </nav>
    }
</div>