@using Ganss.Xss;
@model UKMCAB.Web.UI.Models.ViewModels.Admin.CAB.CABLegislativeAreasItemViewModel
@{
    var htmlSanitizer = new HtmlSanitizer();
    htmlSanitizer.AllowedTags.Clear();
}
<div class="govuk-!-padding-top-1">

    <div class="cab-summary-detail legislative-area-summary-list">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row  govuk-!-padding-top-5">
                <dt class="govuk-summary-list__key">
                    Provisional
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.IsProvisional.AsYesNoOrNotProvided()
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Appointment date (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.AppointmentDate.ToStringBeisDateFormat())
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Review date (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.ValueOrNotProvided(Model.ReviewDate.ToStringBeisDateFormat())
                </dd>
            </div>
            @if (!string.IsNullOrEmpty(Model.PointOfContactName))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legislative area contact name (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PointOfContactName
                    </dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.PointOfContactEmail))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legislative area contact email (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PointOfContactEmail
                    </dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.PointOfContactPhone))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legislative area contact telephone (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PointOfContactPhone
                    </dd>
                </div>
            }
            @if (Model.IsPointOfContactPublicDisplay.HasValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Display legislative area contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.IsPointOfContactPublicDisplay.Value ? "Public" : "Restricted")
                    </dd>
                </div>
            }
        </dl>
    </div>

    @{
        var scopeOfAppointmentsWithDesignatedStandards = Model.ScopeOfAppointments.Where(soa => soa.DesignatedStandards?.Any() ?? false);
    }
    @if (scopeOfAppointmentsWithDesignatedStandards.Any())
    {
        <table class="govuk-table govuk-!-margin-top-3">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Designated standard</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reference number</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Publication reference</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var scopeOfAppointment in scopeOfAppointmentsWithDesignatedStandards)
                {
                    @foreach (var designatedStandard in scopeOfAppointment.DesignatedStandards!)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@designatedStandard.Name</td>
                            <td class="govuk-table__cell">
                                <ul class="govuk-list">
                                    @foreach (var referenceNumber in @designatedStandard.ReferenceNumber)
                                    {
                                        <li>
                                            <p class="govuk-body govuk-!-margin-bottom-0">@referenceNumber</p>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td class="govuk-table__cell">@designatedStandard.NoticeOfPublicationReference</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

    @if (Model.CanChooseScopeOfAppointment)
    {
        <table class="govuk-table ukmcab-table govuk-!-margin-top-3 govuk-!-margin-bottom-0">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    @if (Model.ShowPurposeOfAppointmentColumn)
                    {
                        <th scope="col" class="govuk-table__header">Purpose of appointment</th>
                    }
                    @if (Model.ShowCategoryColumn)
                    {
                        <th scope="col" class="govuk-table__header">Product category</th>
                    }
                    @if (Model.ShowProductColumn)
                    {
                        <th scope="col" class="govuk-table__header">Product</th>
                    }

                    @* PPE *@
                    @if (Model.ShowPpeProductTypeColumn)
                    {
                        <th scope="col" class="govuk-table__header">PPE product type</th>
                    }

                    @if (Model.ShowProtectionAgainstRiskColumn)
                    {
                        <th scope="col" class="govuk-table__header">Protection against risk</th>
                    }
                    @if (Model.ShowAreaOfCompetencyColumn)
                    {
                        <th scope="col" class="govuk-table__header">Area of competency</th>
                    }

                    @if (Model.ScopeOfAppointments.Any())
                    {
                        <th scope="col" class="govuk-table__header">Applicable conformity assessment procedure</th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (!Model.ScopeOfAppointments.Any())
                {
                    <tr>
                        <td>No scope of appointments</td>
                    </tr>
                }

                @for (int j = 0; j < Model.ScopeOfAppointments.Count; j++)
                {
                    var scopeOfAppointment = Model.ScopeOfAppointments[j];
                    var noOfProductsInScopeOfAppointment = scopeOfAppointment.NoOfProductsInScopeOfAppointment;
                    var nextProductIndex = j;
                    @for (int k = 0; k < noOfProductsInScopeOfAppointment; k++)
                    {
                        var showBorder = k == noOfProductsInScopeOfAppointment - 1;
                        <tr class="govuk-table__row">
                            @if (k == 0)
                            {
                                @if (Model.ShowPurposeOfAppointmentColumn)
                                {
                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                        <label aria-hidden="true">Purpose of appointment</label>
                                        @scopeOfAppointment.PurposeOfAppointment
                                    </td>
                                }
                            }
                            else
                            {
                                @if (Model.ShowPurposeOfAppointmentColumn)
                                {
                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                    </td>
                                }
                            }

                            @if (Model.ShowCategoryColumn)
                            {
                                @if (string.IsNullOrEmpty(scopeOfAppointment.Product))
                                {
                                    <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                        <label aria-hidden="true">Product category</label>
                                        @scopeOfAppointment.Category
                                        @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                        {
                                            <div class="govuk-!-margin-top-3">Product sub-category</div>
                                            <div>@scopeOfAppointment.SubCategory</div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    @if (k == 0)
                                    {
                                        <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                            <label aria-hidden="true">Product category</label>
                                            @scopeOfAppointment.Category
                                            @if (!string.IsNullOrEmpty(scopeOfAppointment.SubCategory))
                                            {
                                                <div class="govuk-!-margin-top-3">Product sub-category</div>
                                                <div>@scopeOfAppointment.SubCategory</div>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        @if (Model.ShowCategoryColumn)
                                        {
                                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                            </td>
                                        }
                                    }
                                }
                            }

                            @if (Model.ShowProductColumn)
                            {
                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                    <label aria-hidden="true">Product</label>
                                    @Html.ValueOrNotApplicable(scopeOfAppointment.Product)
                                </td>
                            }

                            @* PPE *@
                            @if (Model.ShowPpeProductTypeColumn)
                            {
                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                    <label aria-hidden="true">Product</label>
                                    @Html.ValueOrNotApplicable(scopeOfAppointment.PpeProductType)
                                </td>
                            }

                            @if (Model.ShowProtectionAgainstRiskColumn)
                            {
                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                    <label aria-hidden="true">Protection against risk</label>
                                    @Html.ValueOrNotApplicable(scopeOfAppointment.ProtectionAgainstRisk)
                                </td>
                            }
                            @if (Model.ShowAreaOfCompetencyColumn)
                            {
                                <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                    <label aria-hidden="true">Area of competency</label>
                                    @Html.ValueOrNotApplicable(scopeOfAppointment.AreaOfCompetency)
                                </td>
                            }

                            @* Procedures *@
                            <td class="govuk-table__cell @Html.Conditional(!showBorder, "ukmcab-no-border")">
                                <label aria-hidden="true">Applicable conformity assessment procedure</label>
                                @if (scopeOfAppointment.Procedures != null)
                                {
                                    @foreach (var procedure in scopeOfAppointment.Procedures)
                                    {
                                        <p class="govuk-!-margin-bottom-4">@procedure</p>
                                    }
                                }
                                else
                                {
                                    <span>Not provided</span>
                                }
                            </td>
                        </tr>

                        if ((nextProductIndex + 1) < (j + noOfProductsInScopeOfAppointment))
                        {
                            nextProductIndex += 1;
                            scopeOfAppointment = Model.ScopeOfAppointments[nextProductIndex];
                        }
                        else
                        {
                            j = nextProductIndex;
                        }
                    }


                }
            </tbody>
        </table>
    }
</div>